{include file="header.tpl.html"}

<section>
	<div class="container">
		<h3 class="h3Margin">{if $upcoming == 2}{$lang.menu_pred_title}{else}{$lang.index_posledni_izqvi}{/if}</h3>
		
			<div id="container_inner">
			{foreach from=$listNews key=k item=v}
				<div class="newsbox">
					{if $v.picture}	
						<a title="{$v.title}" href="{$config.site_url}{$lang.lg}/news/{$v.alias}-{$v.idnews}">
							<img border="0" alt="{$v.title}" src="{$config.site_data}news/thumb/{$v.picture}" alt="{$v.title}" />
						</a>
					{/if}
					<div class="newsinfo">
						<a class="title" title="{$v.title}" href="{$config.site_url}{$lang.lg}/news/{$v.alias}-{$v.idnews}">{$v.title}</a><br /><br />
						{$v.content}
					</div>
				</div>
				<div class="h-dots"></div>
			{/foreach}
			</div>
			
			<div class="pagination">
				<div class="pager">
					{$lang.page_number}
					<span>{$currentPage}</span>
					{$lang.page_ot} <span class="static">{$maxPage}</span>
					<a href="{if $next_link}{$next_link}{else}javascript:void(0){/if}" class="btn_next" title="{$lang.page_next_page}"></a>
					<a href="{if $prev_link}{$prev_link}{else}javascript:void(0){/if}" class="btn_prev" title="{$lang.page_prev_page}"></a>
				</div>
			</div><!-- pagination -->
		<br style="clear:both" /><br />	
	</div>
</section>

{include file="footer.tpl.html"}