{include file="header.tpl.html"}

<link rel="stylesheet" href="{$config.site_js}prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<script src="{$config.site_js}prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>

<section>
	<div class="container">
		
		<h3 class="h3Margin">{$infoNews.title}</h3>
		<div class="newsbox">
			<div class="news_box">
			{if $infoNews.picture}
				<a href="{$config.site_data}news/big/{$infoNews.picture}" rel="prettyPhoto[gallery1]">
					<img src="{$config.site_data}news/big/{$infoNews.picture}" style="float:left; padding:0 10px 10px 10px; max-width:300px;" />
				</a>
			{/if}
	        {$infoNews.content}
	    </div>
	   		<br style="clear:both;" />
	   		
	   		{if $infoNews.images}
				<h3 class="h3Margin">{$lang.gallery}</h3>
				<div class="gallery_wrapper_1">
					{foreach from=$infoNews.images key=k item=v}
		           		<div class="gallery_1" style="padding:0px; padding-right: 10px;">
		           			<a href="{$config.site_data}news/big/{$v.picture}" rel="prettyPhoto[gallery1]">
								<img border="0" alt="" src="{$config.site_data}news/thumb/{$v.picture}">
							</a>
						</div>
						{if (($k+1)%4==0)}</div><div class="gallery_wrapper_1">{/if}
		            {/foreach}
				</div>
				{literal}	
					<script type="text/javascript">
						$(document).ready(function() {
							$("a[rel^='prettyPhoto']").prettyPhoto({
								animation_speed:'normal',
								theme:'dark_rounded',
								deeplinking: false,
								hideflash: true, 
								autoplay_slideshow: false, 
								overlay_gallery:false, 
								slideshow:false,
								social_tools:'',
							});
						});
					</script>
				
				{/literal}
			{/if}
	   		
		</div>
		
		<div class="clearfix"></div>
		<div class="share">
			<span>{$lang.page_share}</span>

			<div class="fb">
				<div class="fb-like" data-href="{$config.site_url}{$facebook.link}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
			</div>
			<div class="google">
				<div class="g-plusone" data-size="medium"></div>			
			</div>
			<a href="javascript:history.back();" class="back">{$lang.page_back}</a>
		</div>			
		{literal}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1420638294889507&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
			<!-- Place this tag after the last +1 button tag. -->
			<script type="text/javascript">
			  window.___gcfg = {lang: 'en'};
		
			  (function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/platform.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		{/literal}
		
	</div>
</section>

{include file="footer.tpl.html"}