{include file="header.tpl.html"}
<section>
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/products/browse">{$lang.menu_brand}</a>
        <img src="{$config.site_img}path_step.png">
		<strong>
			{$page_title}
		</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">
			{$page_title}
		</h1>
	</div>

	{include file="message.tpl.html"}
	
	<div class="sidebar fleft">

		<div class="box box_side_tabs">
			<ul class="side_tabs">
				<li><a href="javascript:void(0)" class="current">{$lang.users_general_information}</a></li>
			</ul>
		</div><!--box-->
	
	</div><!--sidebar-->

	<div class="main frigt">

		<div class="box box_form">
			<div class="box_head move">
				<h3 class="box_title">{$page_title}</h3>
			</div><!--box head-->
			
			<div class="box_conent">
				<form method="post" action="" enctype="multipart/form-data" class="form_3w">
				
					<ul class="form_list">
						<li>
							<label>Избери категория</label>
							<select name="idcategory" class="select size_l">
								<option value=""> - Избери категория - </option>
								{foreach from=$category_list item=cat}
									<option value="{$cat.idcategory}">{$cat.title_bg}</option>
										{if $cat.sub_category}
											{foreach from=$cat.sub_category item=sub_cat}
												<option value="{$sub_cat.idcategory}">&nbsp;&nbsp;- {$sub_cat.title_bg}</option>
											{/foreach}
										{/if}
								{/foreach}
							</select>
						</li>
													
						<li>
							<label>Име BG:</label>
							<input type="text" name="title_bg" class="input size_xl" value="" />
						</li>
						
					</ul>
						<div>	
							<b>Кратко описание BG:</b><br />
							<textarea name="content_bg" class="wysiwyg t_editor size_xl fleft noclear marginleft10"></textarea>
						</div>
					<ul class="form_list">
						<li>
							<label>Цена</label>
							<input type="text" name="price_1" class="input size_s" value="" />
						</li>
						
						<li>
							<label>Стара цена</label>
							<input type="text" name="price_2" class="input size_s" value="" /> * (ако е намалена)
						</li>
						
						<li>
							<label>Размери</label>
							<input type="text" name="razmeri" class="input size_s" value="" />
						</li>
						
						<li>
							<label>Опции</label>
							<select name="status" class="select size_l">
								<option value="normal">Нормален</option>
								<option value="promo">В промоция</option>
								<option value="new">Нов продукт</option>
							</select>
						</li>
						
						<li>
							<label>{$lang.state}</label>
							<select name="active" class="select size_l">
								<option value="2">В наличност</option>
								<option value="3">В наличност, препоръчан</option>
								<option value="1">Няма го в наличност</option>
								<option value="4">Неактивен</option>
							</select>
						</li>
					</ul>
									
					<div class="button_set">
						<input type="submit" name="submit" class="submit button bg_blue bg_blue_hover" value="Добави" />
					</div><!--button set-->

				</form>
				
			</div><!--box content-->
		</div><!--box-->
	</div><!--main-->
</section>

{include file="footer.tpl.html"}