{include file="header.tpl.html"}
<section>
    <div class="path clear">
        <a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/products/browse">Картини</a>
        <img src="{$config.site_img}path_step.png">
        <strong>
            {$data.page_title}
        </strong>
    </div><!--path-->

    {include file="message.tpl.html"}

    <div class="box box_table full_box">
        <div class="box_head">
            <h3 class="box_title">
                {$data.page_title}
            </h3>
        </div><!--box head-->

        <div class="box_conent">

            <form action="/products/browse" method="post" class="table_form inline">

                <div class="filter" style="width:968px;">
                    <div>
                        <input type="text" value="{$data.search}" placeholder="Търсене по име" name="search" class="input" style="width:830px" />
                        <input type="submit" class="submit bg_grey bg_grey_hover round3 frigt" value="{$lang.search}" />
                    </div>
                </div><!--filter-->	

                {if ($data.products)}

                <table cellspacing="1" cellpadding="0" border="0" width="960px" class="data-table">
                    <thead>
                        <tr class="dt_titles bg_black"> 
                            <td align="center" width="30px">ID</td>
							<td width="80px">{$lang.picture}</td>
							<td>Име продукт</td>
							<td>{$lang.category_title}</td>
                            <td align="center" width="80">{$lang.state}</td>
                            <td align="center" width="80">{$lang.options}</td>
                        </tr>
                    </thead>					

                    <tbody>
                        {foreach $data.products as $k=>$product}
							<tr class="{if ($k % 2 == 0)}even{else}odd{/if}">
								<td align="center">{$product.idproduct}</td>
								<td>{if $product.picture}<img src="{$config.site_data}thumb/{$product.picture}" width="80" />{/if}</td>
								<td><a href="/products/edit/idproduct/{$product.idproduct}/">{$product.title_bg}</a></td>
								<td>{$product.category_title}</td>
								<td align="center">
									{if $product.active==2 || $product.active==3}
										<a href="#" class="fn size-24" title="В наличност"><img src="{$config.site_img}icons16x16/cart.png"></a>
									{else if $product.active==1}
										<a href="#" class="fn size-24" title="Няма наличност"><img src="{$config.site_img}icons16x16/add-cart.png"></a>
									{else}
										<a href="#" class="fn size-24" title="Скрит продукт"><img src="{$config.site_img}icons16x16/no-cart.png"></a>
									{/if}
									
									&nbsp;
									{if $product.status == 'new'}
										<a href="javascript:void(0)" class="fn size-24" title="Нов продукт"><img src="{$config.site_img}icons16x16/new-yellow-24.png"></a>
									{else if $product.status == 'promo' || $product.status == '20'}
										<a href="javascript:void(0)" class="fn size-24" title="В промоция"><img src="{$config.site_img}icons16x16/megaphone_24.png"></a>
									{/if}
								</td>
								<td align="center">
									<a class="fn display-block size-16" title="{$lang.edit}" href="/products/edit/idproduct/{$product.idproduct}/">
										<img src="{$config.site_img}icons16x16/pencil_16.png">
									</a>
									<a class="fn display-block size-16" title="{$lang.delete}" href="javascript:;" onClick="confirmDeleteItem({$product.idproduct}, '{$product.title}');">
										<img src="{$config.site_img}icons16x16/delete_16.png">
									</a>									
								</td>
							</tr>							
                        {/foreach}
                    </tbody>
                </table>

                {if ($data.pager)}
					<div class="pager">{$data.pager}</div>
                {/if}

                {else}
					<div id="nodata">
						{$lang.no_data_found}
					</div>
                {/if}

            </form><!--table form-->

        </div><!--box content-->                
    </div>
</section>

{include file="footer.tpl.html"}

<!-- Delete user -->
<div id="dialog-confirm" title="Изтриване на продукт" style="padding-top: 20px; display: none;">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    <b>Сигурни ли сте, че искате да изтриете <span id="remove_item_id" style="color:red;"></span>?
</div>

<script>
    // Remove item popup
    function confirmDeleteItem(idproduct, username){
        $("#remove_item_id").html(username);

        $( "#dialog-confirm" ).dialog({
            resizable: false,
            width:500,
            modal: true,
            buttons: {
                "Confirm": function() {
                    window.location.href = "/products/worker/type/delete-products/idtarget/"+idproduct+"/";
                },
                "Cancel": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
        $('.ui-dialog :button').blur();
    }
</script>