{include file="header.tpl.html"}
<section>
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/products/browse">{$lang.menu_products}</a>
        <img src="{$config.site_img}path_step.png">
		<strong>{$page_title}</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">{$page_title}</h1>
	</div>

	{include file="message.tpl.html"}
	
	<div class="sidebar fleft">

		<div class="box box_side_tabs">
			<ul class="side_tabs">
				<li><a href="{$config.site_url}products/edit/idproduct/{$product.idproduct}">{$lang.users_general_information} BG:</a></li>
				<li><a href="{$config.site_url}products/editlang/idproduct/{$product.idproduct}/langsel/en">{$lang.users_general_information} EN:</a></li>
				<li><a href="{$config.site_url}products/editlang/idproduct/{$product.idproduct}/langsel/fr">{$lang.users_general_information} FR:</a></li>
				<li><a href="{$config.site_url}products/editPicture/idproduct/{$product.idproduct}" class="current">Снимки</a></li>
				<li><a href="{$config.site_url}products/editMeta/idproduct/{$product.idproduct}">Мета данни</a></li>
			</ul>
		</div><!--box-->
	
	</div><!--sidebar-->

	<div class="main frigt">

		<div class="box box_form">
			<div class="box_head move">
				<h3 class="box_title">{$page_title}</h3>
			</div><!--box head-->
			
			<div class="box_conent">
					
				<form name="add_picture" method="post" enctype="multipart/form-data">
					<br /><br />
					<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
						<tr>
							<th>Избери снимка: &nbsp;&nbsp;</th>
							<td>
								<input id="file_upload_new" name="file_upload" type="file" />
								<input type="hidden" id="img_path" value="{$config.site_data}" />
								
								<input type="hidden" id="min_width" value="" />
								<input type="hidden" id="min_height" value="" />
								<input type="hidden" id="prod_id" value="{$product.idproduct}" />
							</td>
							<td></td>
						</tr>
					</table>
				</form>
				<br /><br />
				<div>
					{foreach from=$pictures key=k item=picture}
						<div style="float:left; text-align:center; margin-right:10px;">
							<img src="{$config.site_data}thumb/{$picture.picture}" alt="" border="0" /><br />
							<a href="{$config.site_url}products/worker/type/delete-picture/idtarget/{$product.idproduct}/idpicture/{$picture.idpicture}" onclick="return confirm('Сигурни ли сте, че искате да изтриете?')" title="Изтриване" class="icon-2 info-tooltip"></a>
							<a href="javascript:void(0);" onclick="return makeTop('{$picture.picture}', {$product.idproduct}, {$k}, 'products');" title="Главна Снимка" class="icon-3 info-tooltip {if $product.picture == $picture.picture}selected{/if}" id="topim_{$k}"></a>
						</div>
					{/foreach}
				</div>
			</div>
		</div>
	</div>
</section>

{include file="footer.tpl.html"}