{include file="header.tpl.html"}
<section>
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/products/browse">{$lang.menu_products}</a>
        <img src="{$config.site_img}path_step.png">
		<strong>{$page_title}</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">{$page_title}</h1>
	</div>

	{include file="message.tpl.html"}
	
	<div class="sidebar fleft">

		<div class="box box_side_tabs">
			<ul class="side_tabs">
				<li><a href="{$config.site_url}products/edit/idproduct/{$product.idproduct}">{$lang.users_general_information} BG</a></li>
				<li><a href="{$config.site_url}products/editlang/idproduct/{$product.idproduct}/langsel/en">{$lang.users_general_information} EN:</a></li>
				<li><a href="{$config.site_url}products/editlang/idproduct/{$product.idproduct}/langsel/fr">{$lang.users_general_information} FR:</a></li>
				<li><a href="{$config.site_url}products/editPicture/idproduct/{$product.idproduct}">Снимки</a></li>
				<li><a href="{$config.site_url}products/editMeta/idproduct/{$product.idproduct}" class="current">Мета данни</a></li>
			</ul>
		</div><!--box-->
	
	</div><!--sidebar-->

	<div class="main frigt">

		<div class="box box_form">
			<div class="box_head move">
				<h3 class="box_title">{$page_title}</h3>
			</div><!--box head-->
			
			<div class="box_conent">
				<form method="post" action="" enctype="multipart/form-data" class="form_3w">
					<ul class="form_list">
											
						<li>
							<label>Мета заглавие BG:</label>
							<input type="text" name="meta_title_bg" class="input size_xl" value="{$product.meta_title_bg|escape}" />
						</li>

						<li>
							<label>Мета описание BG:</label>
							<textarea name="meta_description_bg" class="t_editor size_xl fleft noclear marginleft10">{$product.meta_description_bg|escape}</textarea>
						</li>

						<li>
							<label>Ключови думи BG:</label>
							<textarea name="meta_keywords_bg" class="t_editor size_xl fleft noclear marginleft10">{$product.meta_keywords_bg|escape}</textarea>
						</li>
					</ul>
									
					<div class="button_set">
						<input type="submit" name="submit" class="submit button bg_blue bg_blue_hover" value="{$lang.save}" />
					</div><!--button set-->

				</form>
				
			</div><!--box content-->
		</div><!--box-->
	</div><!--main-->
</section>

{include file="footer.tpl.html"}