{include file="header.tpl.html"}
<section>
    <div class="path clear">
        <a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/carts/browse">{$lang.menu_carts}</a>
        <img src="{$config.site_img}path_step.png">
        <strong>
            {$data.page_title}
        </strong>
    </div><!--path-->

    {include file="message.tpl.html"}

    <div class="box box_table full_box">
        <div class="box_head">
            <h3 class="box_title">
                {$data.page_title}
            </h3>
        </div><!--box head-->

        <div class="box_conent">

            <form action="" method="post" class="table_form inline">

                {if ($data.listCarts)}

                <table cellspacing="1" cellpadding="0" border="0" width="960px" class="data-table">
                    <thead>
                        <tr class="dt_titles bg_black"> 
                            <td align="center">Номер на поръчката</td>
							<td>Дата</td>
                            <td align="center" width="100px">{$lang.state}</td>
                            <td align="center" width="80px">{$lang.options}</td>
                        </tr>
                    </thead>					

                    <tbody>
                        {foreach $data.listCarts as $k=>$cart}
							<tr class="{if ($k % 2 == 0)}even{else}odd{/if}">
								<td align="center">{$cart.id_carts}</td>
								<td>{$cart.date_added}</td>
								<td align="center">
									{if $cart.status==1}
										<a href="#" class="fn size-24" title="В процес на поръчка"><img src="{$config.site_img}icons16x16/clock-new.png"></a>
									{else if $cart.status==2}
										<a href="#" class="fn size-24" title="Поръчано"><img src="{$config.site_img}icons16x16/refresh-new.png"></a>
									{else if $cart.status==3}
										<a href="#" class="fn size-24" title="Потвърдена"><img src="{$config.site_img}icons16x16/accept.png"></a>
									{else}
										<a href="#" class="fn size-24" title="Отказана"><img src="{$config.site_img}icons16x16/block.png"></a>
									{/if}
								</td>
								<td align="center">
									<a class="fn display-block size-16" title="{$lang.edit}" href="/carts/edit/idcart/{$cart.id_carts}/">
										<img src="{$config.site_img}icons16x16/pencil_16.png">
									</a>
									<a class="fn display-block size-16" title="{$lang.delete}" href="javascript:;" onClick="confirmDeleteItem({$cart.id_carts}, 'поръчката');">
										<img src="{$config.site_img}icons16x16/delete_16.png">
									</a>									
								</td>
							</tr>							
                        {/foreach}
                    </tbody>
                </table>

                {if ($data.pager)}
					<div class="pager">{$data.pager}</div>
                {/if}

                {else}
					<div id="nodata">
						{$lang.no_data_found}
					</div>
                {/if}

            </form><!--table form-->

        </div><!--box content-->                
    </div>
</section>

{include file="footer.tpl.html"}

<!-- Delete user -->
<div id="dialog-confirm" title="Изтриване на поръчка" style="padding-top: 20px; display: none;">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    <b>Сигурни ли сте, че искате да изтриете <span id="remove_item_id" style="color:red;"></span>?
</div>

<script>
    // Remove item popup
    function confirmDeleteItem(idproduct, username){
        $("#remove_item_id").html(username);

        $( "#dialog-confirm" ).dialog({
            resizable: false,
            width:500,
            modal: true,
            buttons: {
                "Confirm": function() {
                    window.location.href = "/carts/worker/type/delete-cart/idtarget/"+idproduct+"/";
                },
                "Cancel": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
        $('.ui-dialog :button').blur();
    }
</script>