{include file="header.tpl.html"}
<section>
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/carts/browse">{$lang.menu_carts}</a>
        <img src="{$config.site_img}path_step.png">
		<strong>{$page_title}</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">{$page_title}</h1>
	</div>

	{include file="message.tpl.html"}

	<div class="box box_table full_box">

		<div class="box_head move">
			<h3 class="box_title">{$page_title} - #{$cartInfo.id_carts}</h3>
		</div><!--box head-->
		
		<div class="box_conent">
			<table cellspacing="1" cellpadding="0" border="0" width="960px" class="data-table">
				<thead>
					<tr class="dt_titles bg_black"> 
						<td align="center">Номер</td>
						<td>Артикул</td>
						<td>Количество</td>
						<td>Ед. цена</td>
						<td>Общо</td>
						<td>Дата</td>
					</tr>
				</thead>			

				<tbody>
					{foreach $productInCart as $k=>$cart}
						<tr class="{if ($k % 2 == 0)}even{else}odd{/if}">
							<td align="center">{$cart.id}</td>
							<td><a href="{$config.userarea_url}bg/{$cart.alias}-{$cart.idproduct}" target="_blank">{$cart.title}</a></td>
							<td>{$cart.col}</td>
							<td>{$cart.price_1} лв</td>
							<td>{$cart.price_col}</td>
							<td>{$cart.date_added}</td>
						</tr>							
					{/foreach}
						<tr class="even">
							<td colspan="3"></td>
							
							<td><b>Общо:</b></td>
							<td>
								<b>{$totalPrice}</b>лв
							</td>
							<td colspan="2"></td>
						</tr>
				</tbody>
			</table>
		</div><!--box content-->
		
		<div class="box_head move">
			<h3 class="box_title">Данни за клиента</h3>
		</div><!--box head-->
		
		<div class="box_conent">
			<form method="post" action="" enctype="multipart/form-data" class="form_3w">
					
				<table cellspacing="1" cellpadding="0" border="0" width="960px" class="data-table">
					<tr class="even">
						<td>Име:</td>
						<td>{$cartInfo.fullName}</td>
					</tr>
					<tr class="odd">
						<td>Email:</td>
						<td>{$cartInfo.email}</td>
					</tr>
					<tr class="even">
						<td>Град:</td>
						<td>{$cartInfo.city}</td>
					</tr>
					<tr class="odd">
						<td>Адрес:</td>
						<td>{$cartInfo.address}</td>
					</tr>
					<tr class="even">
						<td>Телефон:</td>
						<td>{$cartInfo.phone}</td>
					</tr>
					<tr class="odd">
						<td>Пощенски код:</td>
						<td>{$cartInfo.post_code}</td>
					</tr>
					<tr class="even">
						<td>Забележка:</td>
						<td>
							<textarea name="description" class="t_editor size_xl fleft noclear" style="height:50px;">{$cartInfo.description|escape}</textarea>
						</td>
					</tr>
					<tr class="odd">
						<td>Статус</td>
						<td>
							<select name="status" class="select size_m">
								<option value="1" {if $cartInfo.status==1}selected{/if}>В процес на поръчка</option>
								<option value="2" {if $cartInfo.status==2}selected{/if}>Поръчана</option>
								<option value="3" {if $cartInfo.status==3}selected{/if}>Потвърдена</option>
								<option value="4" {if $cartInfo.status==4}selected{/if}>Отказана</option>
							</select>
						</td>
					</tr>
				</table>
				<div class="button_set">
					<input type="submit" name="submit" class="submit button bg_blue bg_blue_hover" value="{$lang.save}" />
				</div><!--button set-->
			</form>
		</div>
		
		
	</div><!--main-->
</section>

{include file="footer.tpl.html"}