<section class="sidebar-block">
	<h1>{$lang.interface_elements_members}</h1>
	<div class="container block-members">
		<div class="slider slider-blue">
			<a href="javascript:;" id="show-followers" class="switch current">{$lang.interface_elements_followers} <span class="counter">{count($smarty.session.user.followers)|charreplacer}</span></a>
			<a href="javascript:;" id="show-following" class="switch">{$lang.interface_elements_following} <span class="counter">{count($smarty.session.user.following)|charreplacer}</span></a>
		</div>
		
		<ul id="followers" class="users-list">
			{if (!empty($smarty.session.user.followers))}
				{$user=""}{$post=""}
				{foreach from=$smarty.session.user.followers|array_slice:0:21 item=user}
					<li><a href="{$config.site_url}{$user.username}" class="display-block"  title="{if (!empty($user.fullname))}{$user.fullname}{else}{$user.username}{/if}">{include file="elements/user_avatar.tpl.html" size="30"}</a></li>
				{/foreach}
			{else}
				{$lang.self_no_followers}
			{/if}
		</ul>

		<ul id="following" class="users-list">
			{if (!empty($smarty.session.user.following))}
				{$user=""}{$post=""}
				{foreach from=$smarty.session.user.following|array_slice:0:21 item=user}
					<li><a href="{$config.site_url}{$user.username}" class="display-block"  title="{if (!empty($user.fullname))}{$user.fullname}{else}{$user.username}{/if}">{include file="elements/user_avatar.tpl.html" size="30"}</a></li>
				{/foreach}			
			{else}
				{$lang.self_no_following}
			{/if}
		</ul>
		
		{if (count($smarty.session.user.followers) > 21)}
			<div id="followers" class="block-lead">
				<a href="{$config.site_url}{$user_data.username}/view/members/show/followers">{$lang.interface_elements_view_more}&hellip;</a>
			</div>
		{/if}
		
		{if (count($smarty.session.user.following) > 21)}
			<div id="following" class="block-lead">
				<a href="{$config.site_url}{$user_data.username}/view/members/show/following">{$lang.interface_elements_view_more}&hellip;</a>
			</div>
		{/if}
	</div>
</section>