        </div>

        <footer>
            <div class="foot">
                <p>
                    <a href="/index/logout">{$lang.logout}</a>|
                    <a href="#">Up</a>
					<span>Server time: {$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}</span>
                </p>
            </div>
        </footer>
		
		<div class="hide">
			<div id="modal" class="cboxInlineContent nopadding modal">
				<div id="heading"></div>
				<div id="content">
					<p></p>
					<div id="buttons"></div>
				</div>
			</div>
		</div>

    </body>
</html>