{include file="header.tpl.html"}
        
        <section>
        	
            <div class="path clear">
            	<a href="#">{$lang.menu_home}</a>
                <img src="{$config.site_img}path_step.png" />
            	<a href="#">Dashboard</a>
            </div><!--path-->
            
            <div class="page_title fleft clear bg_light round3">
            	<h1 class="fleft">Dashboard</h1>
            </div><!--page title-->
            
			{if ($admin_data.type == 'admin')}
			
				<div class="box box_icons">
					<div class="box_head">
						<h3 class="box_title">Main</h3>
						
						<div class="box_tabs">
							<a href="#" class="current">Config</a>
						</div><!--box tabs-->
						
					</div><!--box head-->
					
					<div class="box_conent"></div><!--box content-->                
				</div><!--box icons-->
            {/if}
            
            <div class="box box_drops">
            
            	<div class="box_head">
                	<h3 class="box_title">Sidebar</h3>
                    <a href="#" class="box_min"><img src="{$config.site_img}minimize_blue.png" /></a>
                </div><!--box head-->
                
                <div class="box_conent">
                
                	<dl class="drops fleft clear">
                        
                    	<dt><a href="#" class="bg_grey bg_grey_hover round3 fleft clear">{$lang.statistics}</a></dt>
                        
                        <dd class="round3 fleft clear">
                        	
                            <table class="drop_stats" border="0" cellpadding="0" cellspacing="0">
                            	<thead>
                                	<tr>
                                    	<td width="180px">{$lang.name}</td>
                                    	<td width="100px" align="center">{$lang.value}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                	<tr>
                                    	<td>{$lang.menu_users}</td>
                                    	<td align="center"><strong>{$data.countusers}</strong></td>
                                    </tr>
                                	<tr>
                                    	<td>{$lang.menu_products}</td>
                                    	<td align="center"><strong></strong></td>
                                    </tr>
									<tr>
                                    	<td>{$lang.menu_orders}</td>
                                    	<td align="center"><strong></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        </dd>
						
                    </dl><!--drops-->
                	
                </div><!--box content--> 

            </div><!--box icons-->
                        
        </section>

{include file="footer.tpl.html"}