{if ($success)}
    <div class="message message_ok">
        <div>
            <img src="{$config.site_img}icons32x32/tick_32.png" alt="Success" />
            <strong>{$success}</strong>
            <a href="javascript:;" onClick="Admin.removeMessage();" title="Close">
                <img src="{$config.site_img}close.gif" class="close">
            </a>
        </div>
    </div><!--eror_message-->
{elseif ($error)}
    <div class="message message_error">
        <div>
            <img src="{$config.site_img}icons32x32/delete_32.png" alt="Error" />
            <strong>{$error}</strong>
            <a href="javascript:;" onClick="Admin.removeMessage();" title="Close">
                <img src="{$config.site_img}close.gif" class="close">
            </a>
        </div>
    </div><!--eror_message-->
{/if}