{include file="header.tpl.html"}
<section>
    <div class="path clear">
        <a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/pages/browse">Страници</a>
        <img src="{$config.site_img}path_step.png">
        <strong>
            {$data.page_title}
        </strong>
    </div><!--path-->

    {include file="message.tpl.html"}

    <div class="box box_table full_box">
        <div class="box_head">
            <h3 class="box_title">
                {$data.page_title}
            </h3>
        </div><!--box head-->

        <div class="box_conent">

            <form action="" method="post" class="table_form inline">
                {if ($data.pagesList)}

                <table cellspacing="1" cellpadding="0" border="0" width="960px" class="data-table">
                    <thead>
                        <tr class="dt_titles bg_black"> 
                            <td align="center" width="30px">ID</td>
							<td>Име страница</td>
                            <td align="center" width="80px">{$lang.options}</td>
                        </tr>
                    </thead>					

                    <tbody>
                        {foreach $data.pagesList as $pinfo}
							<tr class="{if ($k % 2 == 0)}even{else}odd{/if}">
								<td align="center">{$pinfo.id}</td>
								<td><a href="/pages/edit/id/{$pinfo.id}/">{$pinfo.title_bg}</a></td>
								<td align="center">
									<a class="fn display-block" title="{$lang.edit}" href="/pages/edit/id/{$pinfo.id}/">
										<img src="{$config.site_img}icons16x16/pencil_16.png">
									</a>
								</td>
							</tr>
                        {/foreach}
                    </tbody>
                </table>

                {if ($data.pager)}
					<div class="pager">{$data.pager}</div>
                {/if}

                {else}
					<div id="nodata">
						{$lang.no_data_found}
					</div>
                {/if}

            </form><!--table form-->

        </div><!--box content-->                
    </div>
</section>

{include file="footer.tpl.html"}