{include file="header.tpl.html"}
<section>
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/pages/browse">Страници</a>
        <img src="{$config.site_img}path_step.png">
		<strong>
			Редактиране на статични страници
		</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">
			{$pageInfo.title_bg}
		</h1>
	</div>

	{include file="message.tpl.html"}
	
	<div class="sidebar fleft">

		<div class="box box_side_tabs">
			<ul class="side_tabs">
				<li><a href="{$config.site_url}pages/edit/id/{$pageInfo.id}" class="current">{$lang.users_general_information} BG:</a></li>
				<li><a href="{$config.site_url}pages/editlang/id/{$pageInfo.id}/langsel/en">{$lang.users_general_information} EN:</a></li>
				<li><a href="{$config.site_url}pages/editlang/id/{$pageInfo.id}/langsel/fr">{$lang.users_general_information} FR:</a></li>
			</ul>
		</div><!--box-->
	
	</div><!--sidebar-->

	<div class="main frigt">

		<div class="box box_form">
			<div class="box_head move">
				<h3 class="box_title">Редактиране - {$pageInfo.title_bg}</h3>
			</div><!--box head-->
			
			<div class="box_conent">
				<form method="post" action="" enctype="multipart/form-data" class="form_3w">
				
					<ul class="form_list">
						<li>
							<label>Заглавие BG:</label>
							<input type="text" name="title_bg" class="input size_xl" value="{$pageInfo.title_bg|escape}" />
						</li>
					</ul>
					<div>	
						<b>{$lang.faq_description} BG:</b><br />
						<textarea name="content_bg" class="wysiwyg t_editor size_xl fleft noclear marginleft10">{$pageInfo.content_bg|escape}</textarea>
					</div>
					<ul class="form_list">
						<li>
							<label>Мета заглавие BG:</label>
							<input type="text" name="meta_title_bg" class="input size_xl" value="{$pageInfo.meta_title_bg}" />
						</li>
						
						<li>
							<label>Мета описание BG:</label>
							<textarea name="meta_description_bg" class="t_editor size_xl fleft noclear marginleft10">{$pageInfo.meta_description_bg|escape}</textarea>
						</li>
						
						<li>
							<label>Мета ключови думи BG:</label>
							<textarea name="meta_keywords_bg" class="t_editor size_xl fleft noclear marginleft10">{$pageInfo.meta_keywords_bg|escape}</textarea>
						</li>
					</ul>
									
					<div class="button_set">
						<input type="submit" name="submit" class="submit button bg_blue bg_blue_hover" value="{$lang.save}" />
					</div><!--button set-->

				</form>
				
			</div><!--box content-->
		</div><!--box-->
	</div><!--main-->
</section>

{include file="footer.tpl.html"}