{include file="header.tpl.html"}
<section>
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/faq/browse">{$lang.menu_faq}</a>
        <img src="{$config.site_img}path_step.png">
		<strong>
			Редактиране на полезно
		</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">
			{$faq.title_bg}
		</h1>
	</div>

	{include file="message.tpl.html"}
	
	<div class="sidebar fleft">

		<div class="box box_side_tabs">
			<ul class="side_tabs">
				<li><a href="{$config.site_url}faq/edit/idfaq/{$faq.idfaq}" class="current">{$lang.users_general_information} BG:</a></li>
				<li><a href="{$config.site_url}faq/editlang/idfaq/{$faq.idfaq}/langsel/en">{$lang.users_general_information} EN:</a></li>
				<li><a href="{$config.site_url}faq/editlang/idfaq/{$faq.idfaq}/langsel/fr">{$lang.users_general_information} FR:</a></li>
			</ul>
		</div><!--box-->
	
	</div><!--sidebar-->

	<div class="main frigt">

		<div class="box box_form">
			<div class="box_head move">
				<h3 class="box_title">Редактиране на полезно</h3>
			</div><!--box head-->
			
			<div class="box_conent">
				<form method="post" action="" enctype="multipart/form-data" class="form_3w">
				
					<ul class="form_list">
						<li>
							<label>{$lang.faq_title} BG:</label>
							<input type="text" name="title_bg" class="input size_xl" value="{$faq.title_bg}" />
						</li>
						
						<li>
							<label>{$lang.faq_description} BG:</label>
							<textarea name="content_bg" class="t_editor size_xl fleft noclear marginleft10">{$faq.content_bg|escape}</textarea>
						</li>
						
						<li>
							<label>{$lang.position}</label>
							<input type="text" name="position" class="input size_s" value="{$faq.position}" />
						</li>
						
						<li>
							<label>{$lang.state}</label>
							<select name="active" class="select size_s">
								<option value="1" {if ($faq.active=='1')} selected="selected"{/if}>Активнa</option>
								<option value="0" {if ($faq.active=='0')} selected="selected"{/if}>Неактивна</option>
							</select>
						</li>
					</ul>
									
					<div class="button_set">
						<input type="submit" name="submit" class="submit button bg_blue bg_blue_hover" value="{$lang.save}" />
					</div><!--button set-->

				</form>
				
			</div><!--box content-->
		</div><!--box-->
	</div><!--main-->
</section>

{include file="footer.tpl.html"}