{include file="header.tpl.html"}
{literal}
<script type="text/javascript">
	$(window).load(function() {
		$('#container').masonry({
			itemSelector: '.box',
			percentPosition: true,
			gutter: 10
		});
	});
</script>
{/literal}

<section class="galeria bSizing">
	<div class="container">
		{include file="elements/left_menu.tpl.html"}
		
		<div class="thumbsWidth">
			<ul class="breadcrumb bSizing">
				<li><a href="{$config.site_url}{$lang.lg}">{$lang.breadcrumb_home}</a></li>
			    <li><a href="{$config.site_url}{$lang.lg}/{$page}">{$sectionTitle}</a></li> 
			    {if $categoryInfo}
			    	<li><a href="{$config.site_url}{$lang.lg}/{$page}/{$categoryInfo.alias}-{$categoryInfo.idcategory}">{$categoryInfo.title}</a></li>
			    {/if}
			</ul>
			<div id="container">
				
				{foreach from=$listGallery key=k item=v}
					<a href="{$config.site_url}{$lang.lg}/{$v.alias}-{$v.idproduct}" class="box">
						<img src="{$config.site_data}thumb/{$v.picture}" alt="{$v.title|escape}" style="max-width:235px;" />
						<div class="hover"> 
							<p>
								<span>{$v.title}
									<b>{$v.content|strip_tags|truncate:30:'...':'UTF-8'}</b>
								{if $v.price_1}
									<span class="price">
										{if $smarty.session.currency != 'leva'}{$config.currency[$smarty.session.currency]}{/if} {$v.price_1} {if $smarty.session.currency == 'leva'}{$config.currency[$smarty.session.currency]}{/if}
									</span>
								{/if}
								</span>
							</p>
						</div>
					</a>
				{/foreach}
				
			</div>

			<div class="pagination">
				<div class="pager">
					{$lang.page_number}
					<span>{$currentPage}</span>
					{$lang.page_ot} <span class="static">{$maxPage}</span>
					<a href="{if $next_link}{$next_link}{else}javascript:void(0){/if}" class="btn_next" title="{$lang.page_next_page}"></a>
					<a href="{if $prev_link}{$prev_link}{else}javascript:void(0){/if}" class="btn_prev" title="{$lang.page_prev_page}"></a>
				</div>
			</div><!-- pagination -->

		</div>
	</div>	
</section>
		
{include file="footer.tpl.html"}