{include file="header.tpl.html"}

<script src="{$config.site_js}jquery.add2cart.js?a=15" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="{$config.site_css}lightbox.css" />
<script  type="text/javascript" src="{$config.site_js}lightbox.js"></script>

<section class="galeria bSizing viewProd">
	<div class="container">
		{include file="elements/left_menu.tpl.html"}
		
		<div class="thumbsWidth">
			<ul class="breadcrumb bSizing">
				<li><a href="{$config.site_url}{$lang.lg}">{$lang.breadcrumb_home}</a></li>
			    {if $idmaincat == 24}
					<li><a href="{$config.site_url}{$lang.lg}/{$page}">{$sectionTitle}</a></li>
				{else if $idmaincat == 14}
					<li><a href="{$config.site_url}{$lang.lg}/{$page}">{$sectionTitle}</a></li>
			    {else}
			    	<li><a href="{$config.site_url}{$lang.lg}/{$page}">{$sectionTitle}</a></li>
			    	<li><a href="{$config.site_url}{$lang.lg}/{$page}/{$categoryInfo.alias}-{$categoryInfo.idcategory}">{$categoryInfo.title}</a></li>
			    {/if}
			    <li><span>{$productInfo.title}</span></li>
			</ul>
			
			<div id="container">
				
				<div class="item_wrap">
					<div class="image_wrap">
						<a href="{$config.site_data}big/{$productInfo.picture}" data-lightbox="item" data-title="{$productInfo.title|escape}" class="zoom"></a>
						<img src="{$config.site_data}big/{$productInfo.picture}" alt="" class="main_img" id="product_air" />
					</div>
					<div class="flex">
						<div class="info">
							<h4>{$productInfo.title}</h4>
							{if $productInfo.razmeri}<span class="size">{$productInfo.razmeri} {$lang.view_sm}</span>{/if}
							<p>{$productInfo.content}</p>

							<a href="javascript:history.back();" class="backbtn">{$lang.page_back}</a>
						</div>
						<div class="buy_wrap">
							{if $productInfo.price_1}
								<div class="price">{$lang.price}: <span>
									{if $smarty.session.currency != 'leva'}{$config.currency[$smarty.session.currency]}{/if} 
									{if $productInfo.status == 'promo'}<span class="oldprice">{if $smarty.session.currency != 'leva'}{$config.currency[$smarty.session.currency]}{/if} {$productInfo.price_2} {if $smarty.session.currency == 'leva'}{$config.currency[$smarty.session.currency]}{/if}<span class="oldline"></span> </span>{/if} 
									{$productInfo.price_1} {if $smarty.session.currency == 'leva'}{$config.currency[$smarty.session.currency]}{/if}
									</span>
								</div>
								
								<input type="button" value="{$lang.view_order}" onClick="$.add2cart('product_air', 'cartprod')" name="buy"/>
								<input type="hidden" name="idproduct" id="prodid" value="{$productInfo.idproduct}" />
							
							{else if $productInfo.active == 1}
								<div class="price">{$lang.view_zaqvka}<br /><br /></div>
							{else}
								<div class="price">{$lang.view_zaqvka}<br /><br /></div>
							{/if}
							<div class="social">
								<div class="fb_btn">
									<div class="fb-like" data-href="{$config.site_url}{$lang.lg}/{$facebook.link}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
								</div><!-- fb_btn -->
								<div class="gp_btn">
									<div class="g-plusone" data-size="medium"></div>
								</div>
							</div><!-- social -->
							
							{if $productInfo.images|count > 1}
								<div style="height:0px; overflow:hidden;">
									{foreach from=$productInfo.images key=k item=v}
										<a href="{$config.site_data}big/{$v.picture}" data-lightbox="item"></a>
									{/foreach}
								</div>
							{/if}
							
						</div>
					</div>
					<a href="javascript:history.back();" class="backbtn mobile">Назад</a>
				</div>
			</div>
		</div>
	</div>	
</section>

{if $sameProduct}
	<section class="galeria more" style="min-height: 220px;">
		<div class="container">
			<div class="inner">
				<h3 class="h3Margin small">{$lang.view_same}</h3>
				
				<div class="more_item">
					{foreach from=$sameProduct key=k item=v}
						<a href="{$config.site_url}{$lang.lg}/{$v.alias}-{$v.idproduct}" class="{if $k==2}last {/if}box">
							<img src="{$config.site_data}thumb/{$v.picture}">
							<div class="hover">
								<p>
									<span>{$v.title}
										<b>{$v.content|strip_tags|truncate:30:'...':'UTF-8'}</b>
										{if $v.price_1}<span class="price">{if $smarty.session.currency != 'leva'}{$config.currency[$smarty.session.currency]}{/if} {$v.price_1} {if $smarty.session.currency == 'leva'}{$config.currency[$smarty.session.currency]}{/if}</span>{/if}
								</p>
							</div>
						</a>
					{/foreach}
				</div>
			</div><!-- inner -->
		</div>
	</section>
{else}
	<br /><br />
{/if}

<div id="fb-root"></div>
{literal}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=463900467095416&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{/literal}

{literal}
<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
	  window.___gcfg = {lang: 'en'};

	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/platform.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
		
{/literal}
		
{include file="footer.tpl.html"}