	<footer id="contacts">
		<div class="container">
			<h3 class="h3Margin">{$lang.kontakti}</h3>

			<div class="row">
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="flex">
						<div class="phones txt-left">
							<p>+359 889 44 44 26</p>
							<p>+359 884 90 67 21</p>
						</div>
						<div class="emails txt-left">
							<p>evin@evinarts.com</p>
							<p>evinarts@gmail.com</p>
						</div>
					</div>
					<div class="clearfix">
						<a href="{$config.site_url}{$lang.lg}" style="color:#9ee2d8;">{$lang.breadcrumb_home}</a> &nbsp;|&nbsp; 
						<a href="{$config.site_url}{$lang.lg}/terms" style="color:#9ee2d8;">{$lang.obshti_uslovia}</a> &nbsp;|&nbsp; 
						<a href="{$config.site_url}{$lang.lg}/sitemap" style="color:#9ee2d8;">{$lang.sitemap}</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<h4>{$lang.contact_title}</h4>
					<form id="contact_form" action="{$config.site_url}{$lang.lg}/contacts" name="sendmessage" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-12 pl-0"><label for="name">{$lang.contact_name}*</label></div>
							<div class="col-lg-9 col-md-8 col-sm-12 pl-0"><input id="name" class="input" name="name" type="text" value="" size="30" /></div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-12 pl-0"><label for="email">Email*</label></div>
							<div class="col-lg-9 col-md-8 col-sm-12 pl-0"><input id="email" class="input" name="email" type="text" value="" size="30" /></div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-12 pl-0"><label for="email">{$lang.contact_phone}*</label></div>
							<div class="col-lg-9 col-md-8 col-sm-12 pl-0"><input id="email" class="input" name="phone" type="text" value="" size="30" /></div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-12 pl-0"><label for="message">{$lang.contact_comentar}*</label></div>
							<div class="col-lg-9 col-md-8 col-sm-12 pl-0"><textarea id="message" class="input" name="comment" rows="7" cols="30"></textarea></div>
						</div>
						<div class="row">
							<div class="col-12"><input id="submit_button" name="sendForm" type="submit" value="{$lang.contact_send}" /></div>
						</div>
					</form>
				</div>
			</div><!-- row -->
		</div>
	</footer>

{literal}
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50453900-1', 'auto');
  ga('send', 'pageview');

</script>
{/literal}
</body>
</html>