{include file="header.tpl.html"}

<section class="galeria">
    <div class="container">

        <div class="flexslider">
            <ul class="slides">
                {foreach from=$listPicture key=k item=v}
                <li>
                    <a href="{$cofig.site_url}{$lang.lg}/{$v.alias}-{$v.idproduct}" title="{$v.title|escape}">
                        <img src="{$config.site_data}big/{$v.picture}" alt=""/>
                        <p>{$v.title} / <span>{$v.content|strip_tags|truncate:30:'...':'UTF-8'}</span></p>
                    </a>
                </li>
                {/foreach}
            </ul>
        </div>

        <a href="{$config.site_url}{$lang.lg}/{$listKartichki.alias}-{$listKartichki.idproduct}"
           class="right_index_box">

            <img src="{$config.site_data}big/{$listKartichki.picture}" alt=""/>
            <p>{$listKartichki.title}</p>
        </a>
    </div>

</section>
<section class="shortParagraph">
    <div class="container">
        {* <h2 class="handwritten">{$lang.index_history}</h2> *}
        <p class="txtItalic">{$lang.index_text_1}</p>
    </div>
</section>

<section class="aboutme">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h3>{$lang.index_za_men}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 ">
                <img src="{$config.site_url}htdocs/images/profile-new.jpg" alt="" class="img-fluid"/>
            </div>
            <div class="col-lg-7 col-md-7 pl-5">
                <h1>{$lang.avt_name_index}</h1>
                <p>{$lang.index_text_2}</p>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="{$config.site_url}{$lang.lg}/contacts"
                           class="button1 floatL">{$lang.index_pishete_mi}</a>
                        <a href="https://www.facebook.com/evinarts" class="button1 floatL" target="_blank">{$lang.index_facebook}</a>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div>
</section>

<section class="map"><!-- past myTechniques -->
    <div class="container">
        &nbsp;
        <!--		<h3>{$lang.forder_address}</h3>-->
        <!--		{*-->
        <!--		<ul>-->
        <!--		<li class="purple"><a href="javascript:void(0);"><span class="charcoal"></span>{$lang.index_molid}</a></li>-->
        <!--		<li class="purple"><a href="javascript:void(0);"><span class="oils"></span>{$lang.index_boi}</a></li>-->
        <!--		<li class="purple"><a href="javascript:void(0);"><span class="needle"></span>{$lang.index_igla}</a></li>-->
        <!--		<li class="purple"><a href="javascript:void(0);"><span class="kviling"></span>{$lang.index_kviling}</a></li>-->
        <!--		<li class="purple"><a href="javascript:void(0);"><span class="others"></span>{$lang.index_drugi}</a></li>-->
        <!--		</ul>-->
        <!--		*}-->
        <!--		{if $lang.lg == 'bg'}-->
        <!--			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.3776644258387!2d23.347301615755676!3d42.695723421829285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8584c0ea1701%3A0x2f2a5d2e45396c43!2z0YPQuy4g4oCe0JDQu9C10LrQviDQmtC-0L3RgdGC0LDQvdGC0LjQvdC-0LLigJwgMzUsIDE1MDUg0J7QsdC-0YDQuNGJ0LUsINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1566188330506!5m2!1sbg!2sbg" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        <!--		{else}-->
        <!--			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.3776644258387!2d23.347301615755676!3d42.695723421829285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8584c0ea1701%3A0x2f2a5d2e45396c43!2z0YPQuy4g4oCe0JDQu9C10LrQviDQmtC-0L3RgdGC0LDQvdGC0LjQvdC-0LLigJwgMzUsIDE1MDUg0J7QsdC-0YDQuNGJ0LUsINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1566188330506!5m2!1sen!2sen" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        <!--		{/if}-->
    </div>
</section>

<section class="appear">
    <div class="container">
        <h3 class="h3Margin">{$lang.index_posledni_izqvi}</h3>
        <div class="flex">
            {foreach from=$listNews key=k item=v}
            <div class="newsPhoto"
                 style='background: url("{$config.site_data}news/thumb/{$v.picture}") no-repeat center center'></div>

            <figure class="newsHolder">
                <a href="{$config.site_url}{$lang.lg}/news/{$v.alias}-{$v.idnews}">
                    <h4>{$v.title}</h4>
                    <h5>{$v.date_added|date_bg}</h5>
                    <p>{$v.content|strip_tags|truncate:200:'...':'UTF-8'}</p>
                </a>
            </figure>
            {/foreach}
        </div><!-- flex -->
    </div>
</section>

{include file="footer.tpl.html"}