{if ($success)}
	<div class="display-message success_green">
		<p style="padding-bottom:5px; color:green;">{$success}</p>
	</div>
{else if ($error)}
	<div class="display-message error_red">
		<p style="padding-bottom:5px; color:red;">{$error}</p>
	</div>
{/if}