@charset "utf-8";


* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

a {
	text-decoration: none;
	outline: none;
}
body {
	font-family: Roboto, Arial, sans-serif;
}
/* HELPFUL ADDITIONAL CLASSES*/
.floatR {
	float: right;
}
.floatL {
/*	clear: both;*/
	float: left;
}
.bSizing {box-sizing: content-box;}
.txtItalic {
	font-style: italic;
}
.clearfix {
	clear: both;
}
ul li {
	list-style-type: none;
}
h1 {font-size: 36px;}
h2 {font-size: 33px;}

h3, 
h3.h3Margin {
	position: relative;
	margin: 50px 0 40px;
	text-align: center;
	font-size: 26px; 
	font-family: Roboto Slab, Calisto MT, Book Antiqua, serif;
	font-weight: 400;
	color: #1e2a46;
	text-transform: uppercase;
}

h3.h3Margin.small {
	margin: 0px 0 30px;
}
h3:before {
	content:"";
	display: inline-block;
	border-bottom: 1px solid #d5d5d5;
	position: absolute;
	top: 50%;
	left: 30%;
	width: 90px;
}

h3:after {
	content:"";
	display: inline-block;
	border-bottom: 1px solid #d5d5d5;
	position: absolute;
	top: 50%;
	right: 30%;
	width: 90px;
	margin-left: 25px;
}
h3.h3Margin:before {
	content:"";
	display: inline-block;
	border-bottom: 1px solid #d5d5d5;
	position: absolute;
	top: 50%;
	left: 68%;
	width: 90px;
}
h3.h3Margin:after {
	content:"";
	display: inline-block;
	border-bottom: 1px solid #d5d5d5;
	position: absolute;
	top: 50%;
	right: 68%;
	width: 90px;
	margin-left: 25px;
}

h4 {
	font-size: 18px;
	font-weight: 400;
	margin-top: 60px;
}

h5 {
	margin-bottom: 25px;
}

p {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	color: #0b1c45;
	margin-bottom: 25px;
}

nav {
	width: 100%;
	min-height: 140px;
	background: white url(../images/topflowers.png) no-repeat 50%;
	border-bottom: 4px solid transparent;
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	-webkit-border-image: url(../images/ptrn_thin.jpg) 100 100 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../images/ptrn_thin.jpg) 100 100 stretch; /* Opera 11-12.1 */
    border-image: url(../images/ptrn_thin.jpg) 100 100 stretch;
}
.selectedItem {
	color: #2d57b8!important;
	border-bottom: 4px solid #2d57b8;
}

.wrapper {
	width: 940px;
	margin: auto;
}
.inner {
	float: right;
	width: 780px;
	margin-bottom: 50px;
}

.minHeight {
	min-height: 570px;
}
.positionR {
	position: relative;
}
nav .wrapper ul li.mainNav {
	float: left;
	list-style-type: none;
}
.navMargins2 {
	margin: 26px 10px 24px;
}

nav .wrapper ul li.mainNav a.mainNavLink {
	display: block;
	min-height: 30px;
	min-width: 40px;
	font-family: Roboto Condensed, sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #475c8b;
	padding: 30px 19px 0px;
}
nav .wrapper ul li.mainNav a.logo {
	margin: -53px 20px 10px;	
	display: block;
	width: 100px;
	height: 100px;
	background: url("../images/logo.png") no-repeat top left;
}
nav .wrapper ul li.mainNav a.mainNavLink:hover,
nav .wrapper ul li.mainNav a.mainNavLink:active {
	color: #2d57b8;
	border-bottom: 4px solid #2d57b8;
}
/*=============================================KOSHNITSA=================================================*/
nav .wrapper ul li.mainNav a.basket,
nav .wrapper ul li.mainNav a.languages,
nav .wrapper ul li.mainNav a.languages-last {
	display: block;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 20px 0 0;
	font-size: 12px;
	float: left;
	color: #6c707a;
	border-right: 1px solid #eaeef3;
}

nav .wrapper ul li.mainNav a.basket {
	padding: 0 36px 0 0;
}
nav .wrapper ul li.mainNav a.languages-last {
	border-right: 0px solid transparent;
}

nav .wrapper ul li.mainNav a.basket span.txtTitle {
	float: left;
	color: #6c707a;
}

nav .wrapper ul li.mainNav a.basket span.iconBasket {
	display: block;
	float: left;
	margin-left: 5px;
	width:18px;
	height: 24px;
	background: url(../images/topbottom-sprite.png) -141px -18px no-repeat;
}

nav .wrapper ul li.mainNav a.basket span.itemCount {
	display: block;
	position: absolute;
	top: -4px;
	right: 18px;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	width: 20px;
	height: 20px;
	color: #fff;
	border-radius: 50%;
	background: #51c4ba;
}
nav .wrapper ul li.mainNav a.basket:hover,
nav .wrapper ul li.mainNav a.basket:active {
	border-bottom: -4px solid #f4f8fc;
	-webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
}

nav .wrapper ul li.mainNav a.languages,
nav .wrapper ul li.mainNav a.languages-last {
	opacity: 0.5;
}
nav .wrapper ul li.mainNav a.languages span.BG,
nav .wrapper ul li.mainNav a.languages span.EN,
nav .wrapper ul li.mainNav a.languages-last span.FR {
	display: block;
	float: left;
	width: 17px;
	height: 12px;
	margin-right: 6px;
	background-color: red;
}

nav .wrapper ul li.mainNav a.languages span.BG {
	margin-top: 8px;
	background: url(../images/topbottom-sprite.png) -221px -24px no-repeat;
}
nav .wrapper ul li.mainNav a.languages span.EN {
	margin-top: 10px;
	background: url(../images/topbottom-sprite.png) -282px -25px no-repeat;
}
nav .wrapper ul li.mainNav a.languages-last span.FR {
	margin-top: 10px;
	background: url(../images/topbottom-sprite.png) -342px -25px no-repeat;
}
nav .wrapper ul li.mainNav a.languages:hover,
nav .wrapper ul li.mainNav a.languages-last:hover,
nav .wrapper ul li.mainNav a.languages:active,
nav .wrapper ul li.mainNav a.languages-last:active {
	opacity: 1;
}
/*=============================================KOSHNITSA ENDS =================================================*/
section.galeria {
	clear: both;
	padding-top: 55px;
	background: #eaeef3;
	min-height: 520px;
	overflow: hidden;
}
section.shortParagraph {
	margin-top: 0px;
	min-height: 300px;
	background: url(../images/canvas.jpg) 0 0 repeat;
	color: #fff;
	text-align: center;
}
section.shortParagraph .gradient {
	padding-top: 50px;
	width: 940px;
	min-height: 300px;
  	background-color: transparent;
 	background-image: url(../images/green-gradient.png);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-clip: border-box;
}

section.shortParagraph h2.handwritten {
	font-family: Roboto SLab, serif;
	font-weight: 400;
	text-shadow: 0px 1px 3px #1e8773;
}

section.shortParagraph p {
	margin: 50px 0;
	font-family: Roboto Condensed, sans-serif;
	font-weight: 300;
	color: #fff;
	line-height: 22px;
	text-shadow: 0px 1px 3px #1e8773;
}
section.minHeight span.flowers1 {
	display: block;
	float: left;
	width: 305px;
	height: 490px;
	background: url(../images/homepage-sprite.png) -80px -428px no-repeat;
}
ul li.avatar {
	float: left;
	width: 321px;
	height: 304px;
	margin-right: 76px;
	background: url(../images/homepage-sprite.png) -177px -100px no-repeat;
}
ul li.540pxColumn {
	width: 540px;
	float: left;
}
h1.bigHeading {
	font-family: Roboto Slab, serf;
	font-weight: 300;
	text-align: left;
	margin-bottom: 50px;
	color: #0b1c45;
}
ul li a.button1 {
	display: block;
	padding: 12px 30px;
	margin: 0 25px 50px 0;
	font-family: Roboto Slab, serif;
	font-size: 14px;
	font-weight: 400;
	color: #fa5e20;
	background-color: #fff;
	border: 2px solid #fa5e20;
}
ul li a.button1:hover,
ul li a.button1:active {
	color: #fff;
	background-color: #fa5e20;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}
/*========================================= TECHNIQUES ==========================================*/

.myTechniques {
	clear: both;
	margin-top: 50px;
	min-height: 260px;
	background: #eaeef3;
	border-top: 5px solid #dee5ef;
	border-bottom: 5px solid #dee5ef;
}
.myTechniques h3 {
	margin: 44px 0;
	font-family: Roboto, sans-serif;
	font-size: 22px;
}
.myTechniques h3:before {
	border: 0px solid transparent;
}
.myTechniques h3:after {
	border: 0px solid transparent;
}
.myTechniques ul {
	margin: auto;
	width: 100%;
}
.myTechniques ul li.purple {
	display: inline-block;
	margin: 0 110px 48px -15px;
	width: 122px;
	height: 113px;
	font-family: Roboto Slab, Calisto MT, Book Antiqua, serif;
	font-size: 12px;
	background: url(../images/homepage-sprite.png) -20px -100px no-repeat;
	list-style-type: none;
}
.myTechniques ul li.purple:last-child {
	margin-right: -80px;
}
ul li.purple a {
	display: block;
	padding-top: 25px;
	width: 100%;
	height: 75%;
	color: #f4f7f9;
	text-align: center;
}

ul li.purple a:hover,
ul li.purple a:active {
	opacity: 0.3;
	 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

  /* IE 5-7 */
  filter: alpha(opacity=30);

  /* Netscape */
  -moz-opacity: 0.3;

  /* Safari 1.x */
  -khtml-opacity: 0.3;
  transition: 0.5s;
}

ul li.purple a span.charcoal,
ul li.purple a span.oils,
ul li.purple a span.needle,
ul li.purple a span.kviling,
ul li.purple a span.others {
	display: block;
	margin: 0 auto 7px;
	width: 46px;
	height: 45px;
}
ul li.purple a span.charcoal {
	background: url(../images/homepage-sprite.png) -19px -20px no-repeat
}
ul li.purple a span.oils {
	background: url(../images/homepage-sprite.png) -93px -18px no-repeat;
}
ul li.purple a span.needle {
	background: url(../images/homepage-sprite.png) -172px -19px no-repeat;
}
ul li.purple a span.kviling {
	background: url(../images/homepage-sprite.png) -247px -19px no-repeat;
}
ul li.purple a span.others {
	background: url(../images/homepage-sprite.png) -325px -17px no-repeat;
}
/*========================================= NEWS/IZQVI  ================================================*/
span.newsPhoto {
	display: inline-block;
	height: 290px;
	width: 470px;
	background: #999;
}

span.newsPhoto img {
	margin-top:37px;
	margin-left:60px;
}

.newsHolder {
	display: inline-block;
	position: relative;
	margin-bottom: 90px;
	height: 236px;
	width: 416px;
	color: #1e2a46;
	font-family: Roboto Slab, serif;
	background: #bfe8e2;
	border: 27px solid #bfe8e2;
}
.newsHolder:before {
	content: "";
	position: absolute;
	left: -67px;
	top: 108px;
	border-top: 15px solid transparent;
	border-right: 20px solid #bfe8e2;
	border-bottom: 15px solid transparent;
	border-left: 20px solid transparent;
	width: 0;
	height: 0;
	line-height: 0;
}
.newsHolder h4 {
	font-size: 18px;
	margin-top:50px;
	margin-bottom:10px;
}
.newsHolder p {
	font-family: Roboto Slab, serif;
}
.newsHolder:after {
	content: "";
	position: absolute;
	z-index: -1; 
	right:-300px;
	bottom: -550px;
	width: 428px;
	height: 728px;
	background: url(../images/homepage-sprite.png) -576px -10px no-repeat;
}
/*========================================= FOOTER ================================================*/
footer {
	position: relative;
	background: #242f4b;
	padding-top: 1px;
}

.bottomFlowers {
	position: relative;
	height: 745px;
	color: #9ee2d8;
}

.bottomFlowers:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	height: 426px;
	width: 462px;
	background: url(../images/topbottom-sprite.png) 0px -57px no-repeat;
}
.bottomFlowers h3 {
	color: #f3f6fb;
}
ul.phones,
ul.emails {
	padding: 10px 0;
	margin-right: 54px;
	min-height: 116px;
	text-align: center;
}
ul.phones {
	padding-right: 54px;
	border-right: 1px dashed #03c2ac;
	padding-top: 5px;
}
ul.emails {
	height: 50%;
	margin-right: 100px;
}
ul.phones:before {
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-bottom: 25px;
	background: url(../images/topbottom-sprite.png) -70px -10px no-repeat;
}
ul.emails:before {
	content: "";
	display: inline-block;
	width: 44px;
	height: 29px;
	margin-bottom: 27px;
	background: url(../images/topbottom-sprite.png) -8px -15px no-repeat;
}
#contact_form h4 {
	margin-bottom: 40px;
	margin-left: 650px!important;
	font-size: 15px;
	font-family: Roboto, sans-serif;
	font-weight: 300px;
}

#name,
#email,
#message {
	display: block;
	padding: 15px 20px;
	width: 338px;
	font-size: 15px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #c9cfe0;
	border: 1px solid #556796;
	background: #222d49;
}

label {
	float: left;
	width: 80px;
	padding-top: 22px;
	font-size: 15px;
	font-family: Roboto Condensed, sans-serif;
	color: #c9cfe0;
}
#submit_button {
	float: right;
	padding: 12px 20px;
	font-family: Roboto Slab, serif;
	font-size: 14px;
	font-weight: 400;
	color: #111b36;
	border: 2px solid #03c2ac;
	background: #03c2ac;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

#submit_button:hover {
	color: #fff;
	border: 2px solid #fa5e20;
	background: #fa5e20;
	transition: 0.5s;
}
/*===================================================== Gallery PAage classes start here ================================================*/
/*============This is Side Navigation==============*/
ul.UlvertGalNav {
	float: left;
	position: relative;
	margin-right: 20px;
}

ul.UlvertGalNav li {
	display: block;
}
ul.UlvertGalNav li.vertGalNav a {
	display: block;
	width: 100px;
	padding: 13px 20px;
	background-color: #f5f6f8;
	line-height: 20px;
	font-size: 14px;
	font-family: Roboto Condensed, sans-serif;
	text-transform: uppercase;
	color: #485c8b;
	font-weight: 300;
}
ul.UlvertGalNav li.vertGalNav a:hover {
	background-color: #ffffff;
}
ul.UlvertGalNav li.vertGalNav a:active {
	color: #ffffff;
	background-color: #51c4ba;
}

ul.UlvertGalNav li.vertGalNav a.selectedVert {
	color: #ffffff;
	background-color: #51c4ba;
}

ul.UlvertGalNav:after {
	position: absolute;
	left: -766px;
	bottom: -120px;
	content: url(../images/flower-white.png);
}
/*=============This is width of gallery thumbs and its content=================*/

.thumbsWidth {
	display: block;
	float: left;
	min-width: 780px;
	overflow: visible;
}

.breadcrumb {
	margin-top: -30px;
	margin-bottom: 26px;
}

.breadcrumb li {
	float: left;
}

.breadcrumb li a, 
.breadcrumb li span {
	display: block;
	float: left;
	margin-right: 6px;
	font-size: 11px;
	text-transform: uppercase;
	color: #8591af;
}
.breadcrumb li:after {
	content: "/";
	display: inline-block;
	float: left;
	margin-right: 6px;
	font-size: 11px;
	color: #8591af;
}
.breadcrumb li:last-child:after {
	content: "";
}
.breadcrumb li a:hover {
	text-decoration: underline;
}


/* slider */
.flexslider {
	width: 624px;
	float: left;
	margin-right: 20px;
	padding: 10px 10px 40px;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.flexslider .slides li {
	float: left;
	width: 634px;
	height: 410px;
}
.flexslider .slides li img {
	width: 100%;
	max-height: 410px;
}
.flexslider .slides li p {
	float: right;
	padding: 0 5px 0 50px;
	margin-top: 7px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.flexslider .slides li p span {
	text-transform: none;
	font-size: 12px;
}
.flexslider .flex-control-nav {
	position: absolute;
	bottom: 13px;
	left: 10px;
}
.flexslider .flex-control-nav li {
	float: left;
	left: 40%;
	list-style: none;
}
.flexslider .flex-control-nav li a {
	text-indent: -9999px;
	background: url("../images/dot.png") no-repeat 0 0;
	display: block;
	width: 11px;
	height: 11px;
	margin: 0 3px;
	cursor: pointer;
}
.flexslider .flex-control-nav li a.flex-active {
	background: url("../images/dot.png") no-repeat 0 bottom;
}

.right_index_box {
	padding: 10px;
	background: #fff;
	width: 255px;
	height: 438px;
	float: left;
}
.right_index_box p {
	margin: 7px 0 10px 0;
}
.right_index_box p span {
	font-size: 12px;
}


/* gallery */
#container {
	clear: both;
	padding: 3px 0 0;
	width: 780px;
}
#container .box {
	float: left;
	width: 247px;
	margin-bottom: 15px;
	overflow: hidden;
	
}
#container .box img {
	border: 6px solid #fff;
	display: block;
}
#container .box > .hover,
.more_item .box > .hover {
	background: rgba(255, 255, 255, .7);
  left: 18px;
  position: absolute;
  top: 18px;
  width: 85%;
  z-index: 100;
  opacity: 0;
}
#container .box:hover .hover,
.more_item .box:hover .hover {
	display: block;
	opacity: 1;
	-webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
#container .box .hover p,
.more_item .box .hover p, {
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
/*	margin: 22% auto 0;*/
	display: table;
	height: 100%
}
#container .box .hover p span,
.more_item .box .hover p span {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 208px;
	text-align: center;
}
#container .box .hover p span b,
.more_item .box .hover p span b {
	text-transform: none;
	font-size: 11px;
	display: block;
	text-align: center;
	color: #515d7b;
}
#container .box .hover .price,
.more_item .box .price {
	color: #335fcc;
	font: bold 14px 'Roboto Slab', serif; 
	text-align: center;
	padding-top: 10px;
	text-transform: none;
	background: url("../images/price_bg.png") no-repeat center 19px;
	line-height: 20px;
}
/* pagination */
.pagination {
	clear: both;
}
.pagination .pager {
	float: right;
	background: #dfe5ed;
	color: #2a385a;
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 300;
	font-size: 13px;
	padding: 10px 20px;
	margin: 20px 0;
}
.pagination .pager span {
	background: #fff;
	text-align: center;
	display: inline-block;
	width: 33px;
	height: 29px;
	line-height: 29px;
	margin: 0 5px;
}
.pagination .pager a.btn_prev, 
.pagination .pager a.btn_next {
	float: right;
	width: 10px;
	height: 18px;
	margin: 0 5px;
	background: #8591af;
	text-transform: uppercase;
	line-height: 48px !important;
	font: normal 12px 'Roboto Slab',serif;
	color: #dfe5ed;
	border: 6px solid #8591af;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.pagination .pager a.btn_prev {
	background: #8591af url("../images/pager_arrow.png") no-repeat 0 0;
}
.pagination .pager a.btn_next {
	background: #8591af url("../images/pager_arrow.png") no-repeat right 0;
	margin-right: 0;
}
.pagination .pager a.btn_prev:hover, 
.pagination .pager a.btn_next:hover {
	opacity: 0.8;
	-webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -ms-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}

/* open item */
.item_wrap {
	padding: 9px 9px 20px;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.item_wrap img.main_img {
	display: block;
	margin: 0 auto 30px;
	max-width: 762px;
	max-height:500px;
}
.item_wrap .info {
	float: left;
	width: 452px;
	border-right: 1px solid #eaeef3;
	padding: 0 20px 0 28px;
}
.item_wrap .info h4 {
	margin-top: 0;
	color: #25304d;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Roboto Condensed',sans-serif;
	margin-bottom: 5px;
	display: block;
}
.item_wrap .info .size {
	color: #485c8b;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Roboto Condensed',sans-serif;
}
.item_wrap .info p {
	margin-top: 20px;
	font-weight: 300;
	font-family: 'Roboto Condensed',sans-serif;
}

.image_wrap {
	position: relative;
	overflow: hidden;
	/*margin-bottom: 30px; */
}

.image_wrap .zoom {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../images/zoom_icon.png") no-repeat center center;
	opacity: 0.6;
}

.item_wrap .zoom:hover, 
.item_wrap .back:hover  {
	opacity: 0.6;
	-webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
.item_wrap .back {
	text-align: center;
	color: #fff;
	background: #8591af;
	width: 118px;
	height: 28px;
	line-height: 28px;
	font-family: 'Roboto Slab', serif;
	display: inline-block;
	border: 1px solid #8591af;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-transform: uppercase;
	font-size: 12px;
}

.buy_wrap {
	padding: 0 20px;
	float: left;
	width: 220px;
	overflow: hidden;
	text-align: center;
}
.buy_wrap .price {
	color: #808baa;
	font-size: 18px;
}
.buy_wrap .price span {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 20px;
	color: #335fcc;
}
.buy_wrap input[type="button"] {
	border: 1px solid #fa5e20;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fa5e20;
	text-align: center;
	width: 164px;
	height: 47px;
	line-height: 43px;
	padding: 0;
	margin: 15px auto;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
}
.buy_wrap input[type="button"]:hover {
	opacity: 0.7;
	-webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -ms-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}

.more_item {
	position: relative;
	margin-bottom: 30px;
}
.more_item:after {
    bottom: 10px;
    content: url("../images/more_bg.png");
    right: -320px;
    position: absolute;
}
.more_item .image_wrap {
	clear: both;
	overflow: hidden;
}
.more_item a {
	float: left;
	background: #fff;
	padding: 9px;
	margin: 0 10px 15px 0; 
}
.more_item a.last {
	margin-right: 0;
}
.more_item a:hover {
	opacity: 0.7;
	-webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -ms-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}

.more {
	min-height:320px !important;
}

.fb_btn {
	margin-bottom:2px;
	width:225px;
}

.more_item {
	position: relative;
	margin-bottom: 30px;
}
.more_item:after {
    bottom: 10px;
    content: url("../images/more_bg.png");
    right: -360px;
    top: 52px;
    position: absolute;
}
.more_item .image_wrap {
	clear: both;
	overflow: hidden;
}
.more_item .box {
	float: left;
	margin: 0 10px 15px 0; 
	position: relative;
	overflow: hidden;
    width: 253px;
}
.more_item .box.last {
	margin-right: 0;
}
.more_item .box img {
	display: block;
	border: 9px solid #fff;
}