@charset "utf-8";


* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

a,
a:hover {
	text-decoration: none;
	outline: none;
}
body {
	font-family: Roboto, Arial, sans-serif;
}
/* HELPFUL ADDITIONAL CLASSES*/
.floatR {
	float: right;
}
.floatL {
/*	clear: both;*/
	float: left;
}
.bSizing {box-sizing: content-box;}
.txtItalic {
	font-style: italic;
}
.clearfix {
	clear: both;
}
ul {
	margin: 0;
}
ul li {
	list-style-type: none;
}
h1 {font-size: 36px;}
h2 {font-size: 33px;}
button:focus {
	border: none !important;
	outline: none !important;
}
h3, 
h3.h3Margin {
	position: relative;
	margin: 30px 0 30px 0;
	text-align: center;
	font-size: 24px; 
	font-family: Roboto Slab, Calisto MT, Book Antiqua, serif;
	font-weight: 400;
	color: #1e2a46;
	text-transform: uppercase;
}

h3.h3Margin.small {
	margin: 20px 0 20px 0;
}
h3:before {
	content:"";
	display: inline-block;
	border-bottom: 1px solid #d5d5d5;
	position: absolute;
	top: 50%;
	left: 30%;
	width: 90px;
}

h3:after {
	content:"";
	display: inline-block;
	border-bottom: 1px solid #d5d5d5;
	position: absolute;
	top: 50%;
	right: 30%;
	width: 90px;
	margin-left: 25px;
}
h3.h3Margin:before {
	content:"";
	display: inline-block;
	border-bottom: 1px solid #d5d5d5;
	position: absolute;
	top: 50%;
	left: 68%;
	width: 90px;
}
h3.h3Margin:after {
	content:"";
	display: inline-block;
	border-bottom: 1px solid #d5d5d5;
	position: absolute;
	top: 50%;
	right: 68%;
	width: 90px;
	margin-left: 25px;
}

h4 {
	font-size: 18px;
	font-weight: 400;
	margin-top: 60px;
}

h5 {
	margin-bottom: 25px;
}

p {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	color: #0b1c45;
	margin-bottom: 25px;
}
header {
	background: white url(../images/topflowers.png) no-repeat 50%;
	border-bottom: 4px solid transparent;
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	-webkit-border-image: url(../images/ptrn_thin.jpg) 100 100 stretch; /* Safari 3.1-5 */
  -o-border-image: url(../images/ptrn_thin.jpg) 100 100 stretch; /* Opera 11-12.1 */
  border-image: url(../images/ptrn_thin.jpg) 100 100 stretch;
}
section {
	overflow-x: hidden;
}
body section:first-of-type {
	padding-top: 40px !important;
}
nav {
	width: 100%;
	margin: 0;
}
.navbar-expand-lg {
	flex-flow: wrap !important;
	padding: 0;
}
#mainNav {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	padding-top: 60px;
}
#landNav {
	position: absolute;
	top: 15px;
	right: 0;
}
#landNav li:last-child a {
	padding-right: 0;
}
.selectedItem {
	color: #2d57b8!important;
	border-bottom: 4px solid #2d57b8;
}
.container {
	max-width: 940px;
	margin: auto;
}
.minHeight {
	min-height: 570px;
}
.positionR {
	position: relative;
}
nav ul li.mainNav {
	float: left;
	list-style-type: none;
	position: relative;
	bottom: -4px;
	z-index: 10000;
}
.navMargins2 {
	margin: 26px 10px 14px;
}

nav ul li a.mainNavLink {
	display: block;
	min-height: 30px;
	min-width: 40px;
	font-family: Roboto Condensed, sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #475c8b;
	padding: 30px 19px 5px;
}
nav ul li a.logo {
	margin: -48px 10px 0 20px;	
	display: block;
}
nav ul li a.logo img {
	margin-top: 10px;
}
nav ul li a.mainNavLink:hover,
nav ul li a.mainNavLink:active {
	color: #2d57b8;
	border-bottom: 4px solid #2d57b8;
}

nav ul li.hassub .subnav {
	position: absolute;
	padding: 12px 10px 10px;
	background: #fff url(../images/aboutme_flowers.png) 0 15px no-repeat;
	left: 0;
	width: 200px;
	top: 62px;
	display: none;
}
nav ul li.hassub:hover > .subnav {
	display: block;
}
nav ul li.hassub .subnav li {
	margin-bottom: 5px;
	display: block;
}
nav ul li.hassub .subnav li a {
	min-height: 30px;
	min-width: 40px;
	font-family: Roboto Condensed, sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #475c8b;
	text-transform: none;
	padding: 2px 0;
}
nav ul li.hassub .subnav li a:hover {
	color: #2d57b8;
}
header .logo_mobile {
	display: none;
}
/*=============================================KOSHNITSA=================================================*/
#landNav a.mainNavLink {
	display: block;
	min-height: 30px;
	min-width: 40px;
	font-family: Roboto Condensed, sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #475c8b;
	padding: 5px 19px 5px;
}
#landNav a.basket,
#landNav a.languages,
#landNav a.languages-last {
	display: block;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	font-size: 12px;
	float: left;
	color: #6c707a;
	border-right: 1px solid #eaeef3;
}

#landNav a.basket {
	padding: 0 36px 0 0;
}
#landNav a.languages-last {
	border-right: 0px solid transparent;
}

#landNav a.basket span.txtTitle {
	float: left;
	color: #6c707a;
}

#landNav a.basket span.iconBasket {
	display: block;
	float: left;
	margin-left: 5px;
	width:18px;
	height: 24px;
	background: url(../images/topbottom-sprite.png) -141px -18px no-repeat;
}

#landNav a.basket span.itemCount {
	display: block;
	position: absolute;
	top: -4px;
	right: 18px;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	width: 20px;
	height: 20px;
	color: #fff;
	border-radius: 50%;
	background: #51c4ba;
}
#landNav a.basket:hover,
#landNav a.basket:active {
	border-bottom: -4px solid #f4f8fc;
	-webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
}

#landNav a.languages,
#landNav a.languages-last {
	opacity: 0.5;
}
#landNav a.languages span.BG,
#landNav a.languages span.EN,
#landNav a.languages-last span.FR {
	display: block;
	float: left;
	width: 17px;
	height: 12px;
	margin-right: 6px;
	background-color: red;
}

#landNav a.languages span.BG {
	margin-top: 8px;
	background: url(../images/topbottom-sprite.png) -221px -24px no-repeat;
}
#landNav a.languages span.EN {
	margin-top: 10px;
	background: url(../images/topbottom-sprite.png) -282px -25px no-repeat;
}
#landNav a.languages-last span.FR {
	margin-top: 10px;
	background: url(../images/topbottom-sprite.png) -342px -25px no-repeat;
}
#landNav a.languages:hover,
#landNav a.languages-last:hover,
#landNav a.languages.active,
#landNav a.languages-last.active {
	opacity: 1;
}
/*=============================================KOSHNITSA ENDS =================================================*/
section.galeria {
	clear: both;
	background: #eaeef3;
	overflow: hidden;
}
.galeria .container {
	display: flex;
	justify-content: center;
	/*align-items: stretch;*/
	margin-bottom: 3vw;
}
.galeria.bSizing .container {
	justify-content: space-between;
}
section.shortParagraph {
	margin-top: 0px;
	background: url(../images/canvas.jpg) 0 0 repeat;
	color: #fff;
	text-align: center;
}
section.shortParagraph .gradient {
	background-color: transparent;
	background-image: url(../images/green-gradient.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-clip: border-box;
}

section.shortParagraph h2.handwritten {
	font-family: Roboto SLab, serif;
	font-weight: 400;
	text-shadow: 0px 1px 3px #1e8773;
}

section.shortParagraph p {
	margin: 50px 0;
	font-family: Roboto Condensed, sans-serif;
	font-weight: 300;
	color: #fff;
	line-height: 22px;
	text-shadow: 0 0 10px #0c584a;
	font-size: 18px;
}
section.aboutme {
	background: url(../images/aboutme_flowers.png) -20px bottom no-repeat;
	padding: 40px 0;
}
.aboutme .col-lg-5 {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}
.aboutme h1 {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	text-align: left;
	color: #0b1c45;
	font-size: 32px;
	margin-top: 4vw;
}
.aboutme a.button1 {
	display: block;
	padding: 12px 30px;
	margin: 0 25px 50px 0;
	font-family: Roboto Slab, serif;
	font-size: 14px;
	font-weight: 400;
	color: #fa5e20;
	background-color: #fff;
	border: 2px solid #fa5e20;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.aboutme a.button1:hover,
.aboutme a.button1:active {
	color: #fff;
	background-color: #fa5e20;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}
/*========================================= MAP ==========================================*/
.map {
	background: #eaeef3;
	border-top: 5px solid #dee5ef;
	border-bottom: 5px solid #dee5ef;
}

/*========================================= TECHNIQUES ==========================================*/

.myTechniques {
	clear: both;
	margin-top: 50px;
	min-height: 260px;
	background: #eaeef3;
	border-top: 5px solid #dee5ef;
	border-bottom: 5px solid #dee5ef;
}
.myTechniques h3 {
	margin: 44px 0;
	font-family: Roboto, sans-serif;
	font-size: 22px;
}
.myTechniques h3:before {
	border: 0px solid transparent;
}
.myTechniques h3:after {
	border: 0px solid transparent;
}
.myTechniques ul {
	margin: auto;
	width: 100%;
}
.myTechniques ul li.purple {
	display: inline-block;
	margin: 0 110px 48px -15px;
	width: 122px;
	height: 113px;
	font-family: Roboto Slab, Calisto MT, Book Antiqua, serif;
	font-size: 12px;
	background: url(../images/homepage-sprite.png) -20px -100px no-repeat;
	list-style-type: none;
}
.myTechniques ul li.purple:last-child {
	margin-right: -80px;
}
ul li.purple a {
	display: block;
	padding-top: 25px;
	width: 100%;
	height: 75%;
	color: #f4f7f9;
	text-align: center;
}

ul li.purple a:hover,
ul li.purple a:active {
	opacity: 0.3;
	 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

  /* IE 5-7 */
  filter: alpha(opacity=30);

  /* Netscape */
  -moz-opacity: 0.3;

  /* Safari 1.x */
  -khtml-opacity: 0.3;
  transition: 0.5s;
}

ul li.purple a span.charcoal,
ul li.purple a span.oils,
ul li.purple a span.needle,
ul li.purple a span.kviling,
ul li.purple a span.others {
	display: block;
	margin: 0 auto 7px;
	width: 46px;
	height: 45px;
}
ul li.purple a span.charcoal {
	background: url(../images/homepage-sprite.png) -19px -20px no-repeat
}
ul li.purple a span.oils {
	background: url(../images/homepage-sprite.png) -93px -18px no-repeat;
}
ul li.purple a span.needle {
	background: url(../images/homepage-sprite.png) -172px -19px no-repeat;
}
ul li.purple a span.kviling {
	background: url(../images/homepage-sprite.png) -247px -19px no-repeat;
}
ul li.purple a span.others {
	background: url(../images/homepage-sprite.png) -325px -17px no-repeat;
}
/*========================================= NEWS/IZQVI  ================================================*/
.appear {
	padding: 30px 0 40px;
	background: url(../images/appear_flower.png) right -60% no-repeat;
}
.appear .flex {
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	max-height: 290px;
}
.appear .newsPhoto {
	display: block;
	max-width: 470px;
	width: 40%;
	background: #999;
	background-size: cover !important; 
}
/*.appear .newsPhoto img {
	margin-top:37px;
	margin-left:60px;
}*/
.newsHolder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	max-width: 60%;
	color: #1e2a46;
	font-family: Roboto Slab, serif;
	background: #bfe8e2;
	border-left: 27px solid #bfe8e2;
	margin-bottom: 0 !important;
	padding: 20px 20px  20px 0;
}
.newsHolder:before {
	content: "";
	position: absolute;
	left: -65px;
	top: 74px;
	border-top: 15px solid transparent;
	border-right: 20px solid #bfe8e2;
	border-bottom: 15px solid transparent;
	border-left: 20px solid transparent;
	width: 0;
	height: 0;
	line-height: 0;
}
.newsHolder h4 {
	font-size: 20px;
	width: 100%;
	margin-top: 0 !important;
}
.newsHolder h5 {
	width: 100%;
	font-size: 16px;
	font-weight: bold;
}
.newsHolder p {
	font-family: Roboto Slab, serif;
	width: 100%;
	margin-bottom: 0 !important;
}

/*========================================= FOOTER ================================================*/
footer {
	position: relative;
	background: #242f4b;
	padding-top: 1px;
}

footer .container {
	background: url(../images/footer_flower.png) left bottom no-repeat;
	min-height: 700px;
	color: #9ee2d8;
}
footer h3 {
	color: #f3f6fb !important;
}
footer h4 {
	margin: 0 0 30px !important;
	color: #9ee2d8 !important;
}
footer .flex {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.phones,
.emails {
	padding: 0 20px;
	text-align: center;
	width: 50%;
}
.phones p,
.emails p {
	color: #9ee2d8 !important;
	margin-bottom: 5px;
}
.phones p:last-child,
.emails p:last-child {
	margin-bottom: 0;
}
.phones {
	border-right: 1px dashed #03c2ac;
}
.phones:before {
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-bottom: 20px;
	background: url(../images/topbottom-sprite.png) -70px -10px no-repeat;
}
.emails:before {
	content: "";
	display: inline-block;
	width: 44px;
	height: 29px;
	margin-bottom: 27px;
	background: url(../images/topbottom-sprite.png) -8px -15px no-repeat;
}
footer .clearfix {
	text-align: center;
	font-size: 14px;
	margin-top: 40px;
}
footer .clearfix a:hover {
	text-decoration: underline;
}
#contact_form .row {
	margin: 0 0 10px 0 !important;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
#contact_form h4 {
	margin-bottom: 10px;
	font-size: 15px;
	font-family: Roboto, sans-serif;
	font-weight: 300px;
}
#name,
#email,
#message {
	display: block;
	padding: 15px 20px;
	width: 100%;
	font-size: 15px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #c9cfe0;
	border: 1px solid #556796;
	background: #222d49;
}
label {
	font-size: 15px;
	font-family: Roboto Condensed, sans-serif;
	color: #c9cfe0;
}
#submit_button {
	float: right;
	padding: 12px 20px;
	font-family: Roboto Slab, serif;
	font-size: 14px;
	font-weight: 400;
	color: #111b36;
	border: 2px solid #03c2ac;
	background: #03c2ac;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

#submit_button:hover {
	color: #fff;
	border: 2px solid #fa5e20;
	background: #fa5e20;
	transition: 0.5s;
}
/*===================================================== Gallery PAage classes start here ================================================*/
/*============This is Side Navigation==============*/
ul.UlvertGalNav {
	position: relative;
	width: 20%;
}
ul.UlvertGalNav li {
	display: block;
}
ul.UlvertGalNav li.vertGalNav a {
	display: block;
	padding: 13px 20px;
	background-color: #f5f6f8;
	line-height: 20px;
	font-size: 14px;
	font-family: Roboto Condensed, sans-serif;
	text-transform: uppercase;
	color: #485c8b;
	font-weight: 300;
}
ul.UlvertGalNav li.vertGalNav a:hover {
	background-color: #ffffff;
}
ul.UlvertGalNav li.vertGalNav a:active {
	color: #ffffff;
	background-color: #51c4ba;
}

ul.UlvertGalNav li.vertGalNav a.selectedVert {
	color: #ffffff;
	background-color: #51c4ba;
}

ul.UlvertGalNav:after {
	position: absolute;
	left: -766px;
	top: 50%;
	content: url(../images/flower-white.png);
}
/*=============This is width of gallery thumbs and its content=================*/

.thumbsWidth {
	width: 79%;
	overflow: visible;
}
.breadcrumb {
	padding-top: 0;
}
.breadcrumb li {
	float: left;
}
.breadcrumb li a, 
.breadcrumb li span {
	display: block;
	float: left;
	margin-right: 6px;
	font-size: 11px;
	text-transform: uppercase;
	color: #8591af;
}
.breadcrumb li:after {
	content: "/";
	display: inline-block;
	float: left;
	margin-right: 6px;
	font-size: 11px;
	color: #8591af;
}
.breadcrumb li:last-child:after {
	content: "";
}
.breadcrumb li a:hover {
	text-decoration: underline;
}


/* slider */
.flexslider {
	width: 624px;
	float: left;
	margin-right: 20px;
	padding: 10px 10px 40px;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.flexslider .slides li {
	float: left;
	width: 100%;
	/*height: 410px;*/
}
.flexslider .slides li img {
	width: 100%;
	max-height: 410px;
}
.flexslider .slides li p {
	padding: 0 15px;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.flexslider .slides li p span {
	text-transform: none;
	font-size: 12px;
}
.flexslider .flex-control-nav {
	position: absolute;
	bottom: 5px;
	left: 50%;
	right: auto;
	width: 86px;
	margin: 0 0 0 -5%;
}
.flexslider .flex-control-nav li {
	display: inline-block;
/*	left: 40%;*/
	list-style: none;
}
.flexslider .flex-control-nav li a {
	text-indent: -9999px;
	/*background: url("../images/dot.png") no-repeat 0 0;*/
	display: block;
	width: 11px;
	height: 11px;
	margin: 0 3px;
	cursor: pointer;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #dee2e7;
}
.flexslider .flex-control-nav li a.flex-active {
	background: url("../images/dot.png") no-repeat 0 bottom;
	background: #7393de;
}

.right_index_box {
	padding: 10px;
	background: #fff;
	width: 255px;
	float: left;
}

.right_index_box img {
	width:100%;
	height:410px;
}

.right_index_box p {
	margin: 12px 0 5px 0;
}
.right_index_box p span {
	font-size: 12px;
}


/* gallery */
#container, #container_inner {
/*	clear: both;
	padding: 3px 0 0;*/
}
#container {
	padding-left: 16px;
}
#container .box {
	width: 30%;
	overflow: hidden;
	margin-bottom: 10px;
	text-align: center;
}
#container .box img {
	border: 6px solid #fff;
	display: block;
	width: 100%;
}
#container .box > .hover, 
.more_item .box > .hover {
	background: rgba(255, 255, 255, .7);
  left: 50%;
  position: absolute;
  top: 15px;
  width: 84%;
  height: 90%;
  z-index: 100;
  opacity: 0;
  margin: 0 0 0 -42%;
}
#container .box:hover .hover, 
.more_item .box:hover .hover {
	display: block;
	opacity: 1;
	-webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
#container .box .hover p, 
.more_item .box .hover p {
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	display: table;
	height: 100%
}
#container .box .hover p span, 
.more_item .box .hover p span {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 208px;
	text-align: center;
}
#container .box .hover p span b, 
.more_item .box .hover p span b {
	text-transform: none;
	font-size: 9px;
	display: block;
	text-align: center;
	color: #515d7b;
}
#container .box .hover .price, 
.more_item .box .price {
	color: #335fcc;
	font: bold 14px 'Roboto Slab', serif; 
	text-align: center;
	padding-top: 10px;
	text-transform: none;
	background: url("../images/price_bg.png") no-repeat center 19px;
	line-height: 20px;
}
/* pagination */
.pagination {
	clear: both;
}
.pagination .pager {
	float: right;
	background: #dfe5ed;
	color: #2a385a;
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 300;
	font-size: 13px;
	padding: 10px 20px;
	margin: 20px 0;
}
.pagination .pager span {
	background: #fff;
	text-align: center;
	display: inline-block;
	width: 33px;
	height: 29px;
	line-height: 29px;
	margin: 0 5px;
}
.pagination .pager a.btn_prev, 
.pagination .pager a.btn_next {
	float: right;
	width: 22px;
	height: 29px;
	margin: 0 5px;
	text-transform: uppercase;
	line-height: 48px !important;
	font: normal 12px 'Roboto Slab',serif;
	color: #dfe5ed;
	border: 6px solid #8591af;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: block;
}
.pagination .pager a.btn_prev {
	background: #8591af url("../images/pager_arrow.png") no-repeat 0 0;
}
.pagination .pager a.btn_next {
	background: #8591af url("../images/pager_arrow.png") no-repeat right 0;
	margin-right: 0;
}
.pagination .pager a.btn_prev:hover, 
.pagination .pager a.btn_next:hover {
	opacity: 0.8;
	-webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -ms-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}

/* open item */
.item_wrap {
	padding: 9px 9px 20px;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.item_wrap .flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.item_wrap img.main_img {
	display: block;
	margin: 0 auto;
	max-width: 762px;
	width: 100%;
}
.item_wrap .info {
	width: 60%;
	border-right: 1px solid #eaeef3;
	padding: 0 20px 0 28px;
}
.item_wrap .info h4 {
	margin-top: 0;
	color: #25304d;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Roboto Condensed',sans-serif;
	margin-bottom: 5px;
	display: block;
}
.item_wrap .info .size {
	color: #485c8b;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Roboto Condensed',sans-serif;
}
.item_wrap .info p {
	margin: 10px 0;
	font-weight: 300;
	font-family: 'Roboto Condensed',sans-serif;
}
.image_wrap {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.image_wrap .zoom {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../images/zoom_icon.png") no-repeat center center;
	opacity: 0.6;
}
.item_wrap .backbtn.mobile {
	display: none;
}
.item_wrap .zoom:hover, 
.item_wrap .backbtn:hover  {
	opacity: .9;
	-webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
.item_wrap .backbtn {
	text-align: center;
	color: #fff;
	background: #8591af;
	width: 118px;
	height: 28px;
	line-height: 28px;
	font-family: 'Roboto Slab', serif;
	display: inline-block;
	border: 1px solid #8591af;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-transform: uppercase;
	font-size: 12px;
}

.buy_wrap {
	padding: 0 14px;
	max-width: 200px;
	overflow: hidden;
	text-align: center;
}
.buy_wrap .price {
	color: #808baa;
	font-size: 18px;
}
.buy_wrap .price span {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 24px;
	color: #335fcc;
}
.buy_wrap input[type="button"] {
	border: 1px solid #fa5e20;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fa5e20;
	text-align: center;
	width: 164px;
	height: 47px;
	line-height: 43px;
	padding: 0;
	margin: 15px auto;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
}
.buy_wrap input[type="button"]:hover {
	opacity: 0.7;
	-webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -ms-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}
.buy_wrap:after {
	clear: both;
}

.more_item {
	position: relative;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.more_item:after {
    bottom: 10px;
    content: url("../images/more_bg.png");
    right: -360px;
    top: 52px;
    position: absolute;
}
.more_item .image_wrap {
	clear: both;
	overflow: hidden;
}
.more_item .box {
	margin: 0 10px 10px 0; 
	position: relative;
	overflow: hidden;
  width: 25%;
}
.more_item .box.last {
	margin-right: 0;
}
.more_item .box img {
	display: block;
	border: 9px solid #fff;
	width: 100%;
}
.newsbox {
	overflow: hidden;
	margin-bottom: 40px;
}
#container_inner .newsbox {
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
#container_inner .newsbox a {
	width: 40%;
	margin-right: 20px;
}
#container_inner .newsbox a img {
	width: 100%;
	display: block;
}
#container_inner .newsinfo {
	width: 55%;
}
#container_inner .newsinfo p {
	margin-bottom: 10px !important;
}
.newsbox .image {
	float: left;
	margin: 0 20px 5px 0;
	width: 40%;
	max-width: 400px;
}
.newsbox .image img {
	float: none;
	width: 100%;
}

.newsbox .title {
	color: #0b1c45;
    font-family: Roboto,sans-serif;
    font-size: 24px;
	text-decoration: none;
}

.h-dots {
	clear:both;
	border-bottom:1px dotted #475c8b;
	margin:10px 0;
}

.bold {
	font-weight:bold;
}

.share {
	margin: 10px 0 20px 0;
	border-top:1px solid #242F4B;
	padding-top:4px;
	overflow: hidden;
	clear: both;
}
.share span {
	float: left;
	color:#464646;
}
.share .fb,
.share .google {
	float: left;
	margin: 0 10px;
}
a.back {
	float: right;
	background: url("../images/back_icon.png") no-repeat left center;
	padding-left: 16px;
	color: #464646;
	font-size: 13px;
	font-style: semibold;
}

.social {
	width: 160px;
	margin: 10px auto;
}

.social .fb_btn {
	float:left;
	width: 150px;
}

.social .gp_btn {
	float:left;
	width:70px;
}

#basket {
	width:100%;
}
div.cartfooter {
	display: none;
}
.cartheader th {
	background:#f2f7fd;
	color: #475c8b;
	padding:10px 5px;
	margin:0;
}

.cartfooter td {
	background:#f2f7fd;
	color: #475c8b;
}

#basket tr td {
	padding: 10px 4px;
	text-align:left;
	color: #475c8b;
	border-bottom:1px solid #ccc;
}

#basket tr td:last-child {
	text-align: center !important;
}

#basket tr td a {
	color: #475c8b;
}


.orderedit {
  background: #8591af url("../images/btn-editorder.png") no-repeat scroll left center;
  float: left;
  padding: 5px 5px 5px 25px;
  background-position: 5px;
	color: #fff !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	font-size: 14px;
}

.orderedit:hover {
	opacity: .7;
}

.checkout_grid {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
.checkout_grid>.pull-left {
	width: 48%;
}

.checkout_grid>.pull-right {
	width: 48%;
}

.checkout_grid .box_holder {
	border: 1px solid #ccc
}
.checkout_grid .box_holder .b_head {
	background: #f2f7fd;
	padding: 10px;
	text-align: center;
}
.checkout_grid .box_holder .b_head h2 {
	color: #475c8b;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 24px;
	margin-bottom: 0;
}
.checkout_grid .box_holder .b_body {
	padding: 20px 17px;
}
.checkout_grid .b_body .f_row {
	position: relative;
	margin-bottom: 15px;
}
.checkout_grid .b_body .f_row:last-child, .checkout_grid .b_body .f_row:only-child {
	margin: 0;
}
.checkout_grid .b_body .inp_text {
	width: 100%;
	height: 29px;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: #f9f9f9;
	text-indent: 50px;
	color: #656565;
	font-size: 13px;
}
.checkout_grid .b_body .inp_text:focus {
	border: 1px solid #2CA69C;
	background-color: #fff;
	color: #333;
}
.checkout_grid .b_body input.f-phone {
	background-image: url(../images/icons/fastorder-phone.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.checkout_grid .b_body input.f-mail {
	background-image: url(../images/icons/fastorder-mail.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.checkout_grid .b_body input.f-name {
	background-image: url(../images/icons/fastorder-name.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.checkout_grid .b_body input.f-adress {
	background-image: url(../images/icons/fastorder-tag.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.checkout_grid .b_body input.f-city {
	background-image: url(../images/icons/fastorder-city.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.checkout_grid .b_body .clm.pull-left {
	width: 205px;
	margin: 0 0 15px;
}
.checkout_grid .b_body .clm.pull-right {
	width: 210px;
	margin: 0 0 15px;
}
.checkout_grid .b_body .inp_textarea {
	width: 100%;
	height: 100px;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: #f9f9f9;
	color: #656565;
	font-size: 13px;
}
.checkout_grid .b_body .inp_textarea:focus {
	color: #333;
	border: 1px solid #f51977;
	background-color: #fff !important;
}

.checkout_grid .dk_theme_dropit .dk_toggle {
	background: none;
	padding: 0;
	border: none;
	display: block;
	width: 100% !important;
	height: 33px;
	line-height: 33px;
	color: #656565;
	font-size: 13px;
	text-indent: 10px;
}
.checkout_grid .dk_theme_dropit .dk_options .dk_option_current a, .checkout_grid .dk_theme_dropit .dk_options .dk_option_current a:hover {
	color: #fff;
	background: #F51977 !important;
}
.checkout_grid .dk_theme_dropit .dk_options li a {
	font-weight: normal;
	color: #444;
	text-shadow: none;
}
.checkout_grid .dk_theme_dropit .dk_options li a:hover {
	background: #f5f5f5 !important;
}
.checkout_grid .b_body .lab_info {
	display: block;
	background: url(../images/icons/ic-info.png) no-repeat left center;
	padding-left: 22px;
	margin: 0 0 10px;
}

.checkout_grid .btn_order.big {
	display: block;
	width: 100%;
	height: 39px;
	background-color: #fa5e20;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.checkout_grid .btn_order.big span {
	display: inline-block;
	line-height: 39px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	background: url(../images/icons/i-btn-order.png) no-repeat right center;
	padding-right: 25px;
}

/* finish page */
#finish_order {
	background: #fafafa;
	border: 1px solid #e6efda;
	width: 100%;
	max-width: 800px;
	margin: 0 0 20px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 15px;
	overflow: hidden;
}
#finish_order h2 {
	border-bottom: 1px solid #ccc;
    color: #666666;
    font-size: 20px;
    line-height: 48px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 100%;
}

#finish_order_box {
	background: #fafafa;
	border: 1px solid #e6efda;
	padding: 5px 0;
	width: 100%;
	max-width: 800px;
	margin: 20px auto;
}

.thanks {
	color: #69ac09;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
.thanks img {
	width: 	28px;
	height: 28px;
	margin-right: 20px;
}
.thanks p {
	margin-bottom: 0;
}

.order_box {
	width: 80%;
	max-width: 400px;
	float: left;
	margin: 0 35px 20px;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
}
.order_info {
	color: #333;
	width: 100%;
	padding: 10px;
}
.order_info p {
	padding: 5px 10px;
	margin: 0;
}
.order_info p.border {
	border-bottom: 1px solid #e1e1e1;
}
.order_info b {
	text-align: left;
	padding-right: 10px;
}
.order_info .name {
	font-size: 14px;
	font-weight: bold;
}
.order_box h4 {
	margin-top: 5px;
	font-family: Roboto Condensed, sans-serif;
	font-size: 19px;
	font-weight: 600;
	padding: 5px 10px;
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
}
.gallery_wrapper_1 {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	clear:both;
	text-align: center;
}
.gallery_1 {
	margin-top: 8px;
	width: 33.3%;
}
.gallery_1 img {
	max-width: 100%;
}
.gallery_1 a {
	color:#00519b;
	text-decoration:none;
	text-align:center;
	display: block;
	background-color: #FFF;
}
.gallery_1 .img_holder{
	width: 160px;
	height: 120px;
	display: block;
	padding-bottom: 5px;
}
.gallery_1 .img_holder img {
	display: block;
	margin: 0 auto;
}

.gallery_1 a:hover {
	color:#b60000;
}

.dostavka li {
	margin-left:10px;
	list-style-type:disc;
	margin-bottom:5px;
}

.dostavkabox {
	font-size:13px;
}

.sitemap ul, .sitemap ul li { 
	list-style-type:circle;
	padding-left:10px;
	margin-left:10px;
}

.sitemap ul li ul li {
	list-style-type:disc;
}

.sitemap a{color:#000;}
.sitemap ul li ul li a {color:#696969}
.sitemap a:hover{text-decoration:underline; color:#c91b39;}
.oldprice {
    color: #306881 !important;
    font-size: 18px !important;
    position: relative;
    padding-left:6px;
}
.oldline {
	display:block;
	background:url(../images/slice-priceold3.png) no-repeat 0; 
	position:absolute;
	margin:auto;
	max-width:100%;
	max-height:100%;
	left:0;
	right:0;
	top:-5px;
	bottom:0;
	z-index:1;
}
.map_wrap {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.map_wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* media query */
@media only screen and (max-width: 1024px){
}
@media only screen and (max-width: 768px){
	body {
		padding-top: 45px;
	}
	header {
    border-bottom: 2px solid transparent;
    position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
  }
  header .navbar {
  	justify-content: flex-start !important;
  }
  header .navbar-toggler {
  	border: none !important;
  	-webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
  }
  header .navbar-toggler span {
  	width: 30px;
	  height: 3px;
	  background: #6c707a;
	  margin: 5px 0;
	  border-radius: 3px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  display: block;
  }
  header .navbar-toggler:hover {
  	opacity: .8;
  }
  #mainNav .logo {
  	display: none !important;
  }
	header .logo_mobile {
  	display: block;
		margin: 5px 5px 5px 0;
		width: 75px;
		height: 55px;
	}
	header .logo_mobile img { 
		display: block;
		width: 100%;
	}
  nav ul li.mainNav a.mainNavLink {
  	padding: 7px 10px 7px 0;
  	border-bottom: none !important;
  }
  nav ul li.hassub .subnav {
  	display: block;
  	position: static;
  	padding: 0 10px;
  	background: none;
  }
	#mainNav {
		padding-top: 0;
		padding-bottom: 10px;
		flex-wrap: wrap;
	}
	#mainNav li.mainNav {
		float: none;
		width: 100%;
	}
	.right_index_box {
		display: none;
	}
	.flexslider {
		width: 100%;
		margin-right: 0;
	}
	h3, h3.h3Margin {
		font-size: 22px;
	}
	h3.h3Margin:before,
	h3:before {
		left: auto;
		right: 0;
		width: 90px;
	}
	h3.h3Margin:after,
	h3:after {
		left: 0;
		right: auto;
		width: 90px;
		margin-left: 0;
	}
	footer h4 {
		text-align: center;
		margin: 30px 0 20px 0 !important;
	}
	footer #contact_form {
		width: 60%;
		margin: 0 auto;
	}
	footer label {
		text-shadow: 0 0 5px #000;
		-moz-text-shadow: 0 0 5px #000;
		-webkit-text-shadow: 0 0 5px #000;
	}
	footer .row .col-lg-3 {
		background: rgba(34, 45, 73, .5);
		padding-right: 0 !important; 
	}
	footer .row .col-lg-9 {
		padding-right: 0 !important; 
	}
	.aboutme h1 {
		font-size: 23px;
		text-align: center;
		margin-bottom: 20px;
	}
	.aboutme .col-lg-7 {
		padding-left: 15px !important;
	}
	.item_wrap .flex {
		flex-wrap: wrap;
	}
	.item_wrap .backbtn {
		display: none;
	}
	.item_wrap .backbtn.mobile {
		display: block;
		float: right;
	}
	.item_wrap .info {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #eaeef3;
    padding: 0 20px 10px 28px;
    margin-bottom: 20px;
  }
  .buy_wrap {
  	width: 100%;
  	max-width: 100%;
  	margin-bottom: 20px;
  }
  tfoot {
  	display: none;
  }
  div.cartfooter {
  	display: block;
  	padding: 15px 10px;
  	margin-bottom: 15px;
  	background: #f2f7fd;
  	overflow: hidden;
  }
  #totalPriceCart {
  	float: right;
  	color: #475c8b;
  }
  .innercart {
  	overflow-x: auto;
  	overflow-y: hidden;
  	padding-bottom: 15px;
  	margin-bottom: 15px;
  }
  #basket {
  	min-width: 450px;
  }
  ul.UlvertGalNav:after {
		top: 80%;
	}
}
@media only screen and (max-width: 560px){
	.galeria.bSizing .container {
		flex-wrap: wrap;
	}
	ul.UlvertGalNav {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	ul.UlvertGalNav li {
		display: inline-block;
		margin: 0 0 5px 0;
	}
	ul.UlvertGalNav li.vertGalNav a {
		padding: 10px;
		font-size: 12px;
	}
	.thumbsWidth {
		width: 100%;
	}
	#container {
		padding: 0;
	}
	.checkout_grid {
		flex-wrap: wrap-reverse;
	}
	.checkout_grid > .pull-left, 
	.checkout_grid > .pull-right {
		width: 100%;
	}
	.checkout_grid > .pull-right {
		margin-bottom: 20px;
	}
	.cartheader th {
		font-size: 12px;
	}
	.cartheader th:first-child {
		width: 5% !important;
	}
	.cartheader th.name {
		width: 60%;
	}
	.cartheader th.total {
		width: 15%;
	}
	.cartheader th.remove {
		width: 12%;
	}
	#basket tr td {
		font-size: 13px;
	}
	div.cartfooter {
		display: flex;
		flex-wrap: wrap-reverse;
	}
	.cartfooter.mobile .orderedit {
		margin: 0 auto 0;
		float: none;
		display: block;
		text-align: center;
		width: 210px;
	}
	#totalPriceCart {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.thanks {
		color: #69ac09;
		font-size: 14px;
	}
	.order_box h4 {
    font-size: 17px;
  }
  .order_info {
  	font-size: 14px;
  }
  .appear .flex {
  	flex-wrap: wrap;
  	max-height: 100%;
  }
  .appear .newsPhoto {
  	width: 100%;
  	max-width: 100%;
  	height: 290px;
  }
  .newsHolder {
  	width: 100%;
  	max-width: 100%;
  }
  .newsHolder:before {
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(191, 232, 226, 0);
		border-bottom-color: #bfe8e2;
		border-width: 20px;
		margin-left: -35px;
		top: -39px;
  }
  ul.UlvertGalNav:after,
  .more_item::after {
		display: none;
	}
}
@media only screen and (max-width: 480px){
	#landNav li .txtTitle {
		display: none;
	}
	#landNav a.languages span.BG,
	#landNav a.languages span.EN,
	#landNav a.languages-last span.FR {
		margin-right: 0;
	}
	#container_inner .newsbox {
		flex-wrap: wrap;
	}
	#container_inner .newsbox a {
		width: 100%;
		margin: 0 0 20px 0;
	}
	#container_inner .newsinfo {
		width: 100%;
	}
	h3, h3.h3Margin {
		font-size: 20px;
		border-bottom: 1px solid #d5d5d5;
		padding-bottom: 15px;
	}
	h3.h3Margin:before,
	h3.h3Margin:after,
	h3:before,
	h3:after {
		display: none;
	}
	footer #contact_form {
		width: 80%;
	}
	.newsbox .title {
		font-size: 20px;
	}
	.newsbox .image {
		float: none;
		margin: 0 auto 15px;
		width: 100%;
		overflow: hidden;
	}
	#container .box .hover p, 
	.more_item .box .hover p {
	font-size: 12px;
	}
	#container .box {
		width: 47%;
	}
	.more_item .box {
		width: 45%;
	}
	.newsbox .news_box a {
		display: block;
		width: 100%;
		margin-bottom: 15px;
		text-align: center;
	}
	.newsbox .news_box a img {
		float: none !important;
		width: 100%;
		display: inline-block;
	}
}
@media only screen and (max-width: 380px){ 
	#landNav a.basket,
	#landNav a.languages,
	#landNav a.languages-last {
		padding: 0 10px;
	}
	.phones p, .emails p {
		font-size: 12px;
	}
	h3.h3Margin, h3 {
    font-size: 18px; 
  }
  .phones::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    background: url(../images/icons/phone_icon.png) no-repeat center center;
    background-size: 100%; 
  }
  .emails::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 18px;
    margin-bottom: 27px;
    background: url(../images/icons/mail_icon.png) no-repeat center center;
    background-size: 100%; 
  }
  footer .clearfix {
  	font-size: 13px;
  }
  footer h4 {
  	font-size: 18px;
  }
  ul.UlvertGalNav:after {
		display: none;
	}
}