@charset "utf-8";
/* CSS Document */


/*=========================== Default styles (css reset) ==================================*/

*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	outline:0;
}
img{
	border:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
	background:#e5e5e5 url(../images/bg_x.png) top repeat-x;
	height:100%;
}
body{
	background:url(../images/bg_top.jpg) center top no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	height:100%;
}

/*=========================== GLOBAL CLASSES STYLES ==================================*/

.bold {font-weight:bold;}
.italic{font-style:italic;}
.underline{text-decoration:underline;}
.disc {list-style-type:disc;}
.decimal {list-style-type:decimal;}

.fleft{float:left;}
.frigt{float:right;}
.fnone{float:none;}

.aleft{text-align:left;}
.aright{text-align:right;}
.acenter{text-align:center;}
.aboth{text-align:justify;}

.clear{clear:both; display:block;}
.noclear{clear:none;}
.inline{display:inline;}
.hide{display:none;}

.margintop10{margin-top:10px;}
.margintop30{margin-top:30px;}
.marginleft10{margin-left:10px;}

.strong{font-weight:bold;}
.fullsize{width:100%;}
.display-block{display: inline-block;}

.round3, .box, .select, .input, .pager a{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.round5{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.shadow, .box{
	box-shadow:#aaa 0 0 5px;
	-moz-box-shadow:#aaa 0 0 5px;
	-webkit-box-shadow:#aaa 0 0 5px;
}
.overflow{
	width:110%;
	clear:both;
}

.link{
	color:#36C;
	text-decoration:underline;
}
.link:hover{color:#000;}

.input, .select{
	border:#999 1px solid;
	padding:5px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	background:#fff;
 	background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #ffffff));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff')";
}
.select{
	padding:4px !important;
}
.input:focus, .select:focus{border-color:#555;}

.button{
	font-size:14px;
	font-weight:bold;
	padding:8px 15px;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	cursor:pointer;
}

.pager{
	display:block;
	float:left;
	clear:both;
	width:100%;
	padding:10px 0;
}
.pager a{
	padding:3px 7px;
	margin:0 5px 0 0;
	float:left;
}


/*================== Main elements colors ======================*/

.red{color:#c00;}
.green{color:#690;}
.blue{color:#36C;}
.black{color:#000;}
.white{color:#fff;}
.yellow{color:#F90;}
.orange{color:#e40;}
.pink{color:#F3C;}
.purple{color:#606;}
.grey{color:#666;}


.bg_light, .pager a{
	background:#d3d3d3;
 	background-image: -moz-linear-gradient(top, #fafafa, #ababab);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fafafa),color-stop(1, #ababab));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#ababab');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#ababab')";
	text-shadow:#fff 1px 1px 0;
	color:#333;
	border:#666 1px solid;
}
.bg_light_hover:hover, .pager a:hover{
	background:#eee;
 	background-image: -moz-linear-gradient(top, #ababab, #fafafa);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ababab),color-stop(1, #fafafa));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ababab', EndColorStr='#fafafa');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ababab', EndColorStr='#fafafa')";
	text-shadow:#fff 1px 1px 0;
	color:#333;
	border:#444 1px solid;
}
.bg_blue, .box_head, .pager .current, .pager .current:hover{
	background:#4479a6;
 	background-image: -moz-linear-gradient(top, #63a7c7, #2b548a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #63a7c7),color-stop(1, #2b548a));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#63a7c7', EndColorStr='#2b548a');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#63a7c7', EndColorStr='#2b548a')";
	text-shadow:#003366 -1px -1px 0;
	color:#fff;
	border:#0b1d37 1px solid;
}
.bg_blue_hover:hover{
	background:#568fbf;
 	background-image: -moz-linear-gradient(top, #2b548a, #63a7c7);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2b548a),color-stop(1, #63a7c7));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b548a', EndColorStr='#63a7c7');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b548a', EndColorStr='#63a7c7')";
	text-shadow:#003366 -1px -1px 0;
	color:#fff;
	border:#0b1d37 1px solid;
}
.bg_black{
	background:#333;
 	background-image: -moz-linear-gradient(top, #585858, #0f0f0f);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #585858),color-stop(1, #0f0f0f));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#585858', EndColorStr='#0f0f0f');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#585858', EndColorStr='#0f0f0f')";
	text-shadow:#000 -1px -1px 0;
	color:#fff;
	border:#000 1px solid;
}
.bg_black_hover:hover{
	background:#444;
 	background-image: -moz-linear-gradient(top, #0f0f0f, #585858);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0f0f0f),color-stop(1, #585858));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#0f0f0f', EndColorStr='#585858');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0f0f0f', EndColorStr='#585858')";
	text-shadow:#000 -1px -1px 0;
	color:#fff;
	border:#000 1px solid;
}
.bg_grey{
	background:#7c8490;
 	background-image: -moz-linear-gradient(top, #979ea9, #535b6b);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #979ea9),color-stop(1, #535b6b));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#979ea9', EndColorStr='#535b6b');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#979ea9', EndColorStr='#535b6b')";
	text-shadow:#535b6b -1px -1px 0;
	color:#fff;
	border:#2b313d 1px solid;
}
.bg_grey_hover:hover{
	background:#919db0;
 	background-image: -moz-linear-gradient(top, #535b6b, #979ea9);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #535b6b),color-stop(1, #979ea9));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#535b6b', EndColorStr='#979ea9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#535b6b', EndColorStr='#979ea9')";
	text-shadow:#535b6b -1px -1px 0;
	color:#fff;
	border:#2b313d 1px solid;
}

.bg_red{
	background:#c41a1a;
 	/* background-image: -moz-linear-gradient(top, #979ea9, #535b6b);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #979ea9),color-stop(1, #535b6b));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#979ea9', EndColorStr='#535b6b');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#979ea9', EndColorStr='#535b6b')";
	text-shadow:#535b6b -1px -1px 0; */
	color:#fff;
	border:#2b313d 1px solid;
}


/*========================== Header styles ==========================*/

.content{
	width:980px;
	margin: 0 auto;
	_height:100%;
	min-height:100%;
}

header{
	float:left;
	clear:both;
	height:110px;
	width:100%;
}
.logo{
	display:block;
	float:left;
	margin-top: 6px;
	/* width:300px;
	height:110px; */
}
.user{
	display:block;
	float:right;
	padding:10px;
	background:url(../images/user_box.png) left top no-repeat;
	height:61px;
	width:412px;
	margin:15px 0 0 ;
}
.user *{color:#fff;}
.user .avatar{
	display:block;
	width:56px;
	height:56px;
	border:#fff 2px solid;
}
.user .avatar img{
	width:56px;
	height:56px;
}
.user div{
	width:340px;
	padding-left:10px;
}
.user div p{
	font-size:14px;
	font-weight:bold;
	padding:8px 0 0;
	text-shadow:#003 1px 1px 0;
}
.user div p a{text-decoration:underline;}
.user div p a:hover{text-decoration:none;}
.user div ul{
	display:block;
	clear:both;
	padding:10px 0 0;
	width:110%;
}
.user div ul li a{
	text-shadow:#004 1p 1p 0;
	display:block;
	padding:5px 10px;
}
.user div ul li a:hover{
	background:#003;
}

/*================= Main navigations styles ======================== */
nav{}
.menu{
	display:block;
	clear:both;
	width:990px;
	height:40px;
	overflow:hidden;
}

.btn_border{
	display:block;
	float:left;
	width:2px;
	height:40px;
	background:transparent url(../images/btn_border.png) left top no-repeat;
	overflow:hidden;
}

.home_btn{
	display:block;
	float:left;
	padding:10px 15px 0;
	height:30px;
}
.btn{
	display:block;
	float:left;
	height:40px;
	cursor:pointer;
	background:transparent url(../images/btn_x.png) left 50px repeat-x;
}

.btna{
	display:block;
	float:left;
	padding:0px 10px 0px;
	line-height:40px;
	height:40px;
	font-size:13px;
	font-weight:bold;
	text-shadow:#000 1px 1px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}


.btn ul{
	display:none;
	clear:both;
	background:#f5f5f5;
	padding:2px;
	border:#999 1px solid;
	width:200px;
	margin-top:40px;
}

*+html .btn ul{margin-top:0px!important;}

.btn:hover ul{
	display:block;
	position:absolute;
	z-index:10;
}
.btn:hover{background-position:bottom;}

.btn ul li a{
	display:block;
	float:left;
	clear:both;
	width:190px;
	padding:5px 0px 5px 10px;
	color:#666;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.btn ul li a img{
	float:left;
	widows:16px;
	margin-right:5px;
}

.btn ul li a:hover{
	border-radius:2px;
	-moz-border-radius:2px;
	color:#000;
	text-shadow:#fff 1px 1px 0;
	background:#d3d3d3;
}

/*================= main section ====================*/

section{
	display:block;
	float:left;
	clear:both;
	width:100%;
	padding:20px 0 100px;
}
*+html section{
	padding-bottom:80px;
}

.page_title{
	width:978px;
	-webkit-box-shadow:#fff 0 0px 1px 1px;
	margin-bottom:20px;
}
.title_options{
	padding:0 0px;
}
.title_options a{
	width:32px;
	height:32px;
	padding:5px 10px;
	border-left:#999 1px solid;
}
.title_options a:hover{border:none !important;
	border-left:#999 1px solid !important;}

.page_title h1{
	padding:5px 10px;
	height:32px;
	line-height:32px;
	font-size:16px;
	font-weight:bold;
	color:#003366;
}
.tooltip{
	display:none;
	text-align:center;
}
.tooltip_btn:hover .tooltip{
	display:block;
	clear:both;
	position:absolute;
	z-index:10;
	margin:-28px 0 0 -10px;
	text-align:center;
	padding-bottom:5px;
	color:#fff;
	text-shadow:none !important;
	background:url(../images/tooltip_arrow.png) 20px bottom no-repeat;
}
.tooltip_btn:hover .tooltip strong{
	display:block;
	clear:both;
	background:#000;
	padding:5px 10px;
	margin:0 auto;
}

/*====================== Boxes =========================*/

.move{cursor:move;}

.box{
	display:block;
	border:#fff 1px solid;
	background:#fff;
	overflow:hidden;
}
.box_icons{
	float:left;
	width:668px;
}
.box_head{
	display:block;
	clear:both;
	width:100%;
	padding:5px 0;
	border-top:0;
	border-left:0;
	border-right:0;
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	box-shadow:#999 0 1px 2px;
	-moz-box-shadow:#999 0 1px 2px;
	-webkit-box-shadow:#999 0 1px 2px;
}
.box_title{
	display:block;
	clear:both;
	font-size:16px;
	font-weight:bold;
	padding:5px 10px;
}
.box_tabs{
	display:block;
	clear:both;
	position:absolute;
	z-index:2;
	text-align:right;
	margin:-20px 0 0;
}
.box_tabs a{
	display:block;
	float:right;
	margin-left:5px;
	padding:5px 15px;
	color:#666;
	text-shadow:#fff 1px 1px 0;
	background:#d3d3d3;
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
 	background-image: -moz-linear-gradient(top, #fafafa, #ababab);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fafafa),color-stop(1, #ababab));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#ababab');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#ababab')";
	border:#fff 1px solid;
}
.box_tabs a:hover{color:#000; text-decoration:underline;}

.box_tabs a.current{
	font-weight:bold;
	color:#036;
	background:#fff;
 	background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #cccccc),color-stop(1, #ffffff));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#ffffff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#ffffff')";
	text-shadow:#fff 1px 1px 0;
	border:#fff 1px solid;
	padding-bottom:8px;
	text-decoration:none !important;
}
.box_icons .box_tabs{
	width:660px !important;
}
.box_conent{
	display:block;
	float:left;
	clear:both;
	width:100%;
	padding:10px 20px 0;
	margin:0 -10px;
}
*+html .box_conent{padding-bottom:10px;}

/*================== site path ===================*/

.path{
	width:100%;
	padding:0 0 20px;
	font-style:italic;
	text-shadow:#fff 1px 1px 0;
}
.path a{
	color:#555;=-
}
.path a:hover{color:#000; text-decoration:underline;}

.path strong{color:#369;-}

.path img{
	margin:0 5px;
}

/*================ home shortcuts =======================*/

.shortcut{
	width:143px;
	padding:5px;
	height:73px;
	margin:0 10px 10px 0;
	opacity:0.8;
	-moz-opacity:0.8;
}
.shortcut img{
	display:block;
	clear:both;
	width:32px;
	margin:3px auto;
}
.shortcut:hover{
	opacity:1;
	-moz-opacity:1;
}
.shortcut strong{
	display:block;
	clear:both;
}
.last .shortcut{margin-bottom:0;}

/*================== home drops =====================*/

.box_drops{
	float:right;
	width:288px;
}
.box_min{
	display:block;
	float:right;
	width:18px;
	height:18px;
	position:relative;
	z-index:2;
	margin:-24px 10px 0 0 ;
	opacity:0.5;
	-moz-opacity:0.5;
}
.box_min:hover{
	opacity:1;
	-moz-opacity:1;
}
.drops{
	width:280px;
	padding-bottom:10px;
}
.drops dt a{
	width:248px;
	font-size:13px;
	padding:5px 10px;
	font-weight:bold;
	margin:2px 0;
}
.drops dt a.bg_grey{
	opacity:0.8;
	-moz-opacity:0.8;
}
.drops dd{
	border:#ccc 1px solid;
	padding:9px;
	width:250px;
	background:#f5f5f5;
	margin:1px 0 2px;
}
.drops dd{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}
.message_drop{
	background:#fae8b6 !important;
	border-color:#d69446 !important;
	text-shadow:#fff 1px 1px 0;
}
.message_title{
	display:block;
	clear:both;
	font-size:12px;
	color:#900;
	padding-bottom:5px;
	font-weight:bold;
}
.drop_stats tbody td{
	padding:4px 0;
	font-size:10px;
	border-bottom:#e5e5e5 1px solid;
}
.drop_stats tbody td strong{color:#c20;}
.drop_stats thead td{
	border-bottom:#ccc 1px solid; 
	color:#036; 
	font-weight:bold; 
	font-size:12px;
	padding:0 0 5px;
}
.list-drop ul li{
	display:block;
	clear:both;
	padding:3px 0 3px 10px;
	background:url(../images/bullet_grey.png) left 8px no-repeat;
}

/*====================== Browsing filters ============================*/
.table_form{}

.choose{
	display:block;
	float:left;
	clear:both;
	width:940px;
	padding:10px;
	background:#eee;
	margin-bottom:10px;
}
.chs_what{
	display:block;
	float:left;
	color:#666;
	line-height:20px;
}
.chs_what a, .chs_what strong{
	margin:0 5px;
}

.show_pages{
	display:block;
	float:right;
}
.show_pages label{color:#666;}
.show_pages *{margin:0 3px;}

.show_pages .input{
	width:50px;
	color:#c20;
	font-weight:bold;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	padding:4px 3px;
}
.show_pages .input:focus{color:#000;}

.show_pages  .select{
	width:50px;
}

.filter{
	display:block;
	clear:both;
	padding:10px 0 10px;
	width:940px;
}
.filter *{
	display:inline;
	margin:0 10px 0px 0;
}
.filter .select{
	width:150px;
	padding:2px !important;
}
.filter .submit{
	width:100px;
	padding:6px 0;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
}
/*===================== table styles ===============*/
.full_box{
	display:block;
	clear:both;
	width:100%;
}

.data-table{
	margin:10px 0 !important;
}
.data-table td{
	padding:5px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}
.data-table a {
	color: #0A315E;
	text-decoration: none;
}
.data-table a:hover {
	color: #356FAD;
	text-decoration: underline;
}

.dt_titles td{font-weight:bold;}

.dt_titles td a{
	color:#fff;
	text-decoration:underline;
}
.dt_titles td, .dt_filters td{padding:10px 5px;}
.dt_titles td a:hover{text-decoration:none;}

.dt_titles td:first-child{
	border-radius:5px 0 0 0;
	-moz-border-radius:5px 0 0 0;
	-webkti-border-radius:5px 0 0 0;
}
.dt_titles td:last-child{
	border-radius:0 5px 0 0;
	-moz-border-radius:0 5px 0 0;
	-webkti-border-radius:0 5px 0 0;
}

.dt_filters{
	vertical-align:top;
}
.dt_filters .submit{
	display:block;
	clear:both;
	padding:1px 10px;
	font-weight:bold;
	margin:5px 0 0;
}
.dt_title_input{
	width:150px;
}
.dt_filters input.clear{margin:3px 0; width:70px;}

.dt_filters input.option{margin:3px 5px 3px 0;}
.dt_filters p{
	display:block;
	clear:both;
}
.sel_option{
	width:120px !important;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
}
.t_img{width:60px;}
.t_img img{width:58px; /* border:#999 1px solid; */}

.t_action{
	width:16px;
	height:16px;
	overflow:hidden;
	margin:0 5px 0 0;
}
.t_action img{width:16px; height:16px;}

.t_action .tooltip{margin-left:-18px !important;}

.table_title{
	display:block;
	clear:both;
	font-weight:bold;
}

.odd td{background:#e5e5e5; border-bottom:#ccc 1px solid;}
.even td{background:#f2f2f2; border-bottom:#ccc 1px solid; }

.even:hover td, .odd:hover td{background:#d1e3f7 !important;}

/*==================== Default layout with left side bar ====================*/

/*===================== Sidebar ===========================================*/

.sidebar{
	width:230px;
	margin-right:20px;
}
.sidebar .box{margin-bottom:20px;}
.box_side_list .box_conent{
	padding:0;
	margin:3px 1px 0px;
	width:226px;
}
.side_list dt{
	display:block;
	clear:both;
	background:#e5e5e5;
	margin-bottom:1px;
	border-bottom:#ccc 1px solid;
}
.side_list dt:hover{
	background:#f5f5f5;
 	background-image: -moz-linear-gradient(top, #dddddd, #f6f6f6);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dddddd),color-stop(1, #f6f6f6));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#f6f6f6');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#f6f6f6')";
}
.side_list dt a{
	display:block;
	clear:both;
	font-size:12px;
	color:#333;
	text-shadow:#fff 1px 1px 0;
	font-weight:bold;
	padding:4px 0;
}
.side_list dt a:hover{color:#036;}
.bullet_list a, .side_list dd a{
	background:url(../images/bullet_grey.png) 7px 9px no-repeat;
	padding:4px 0px 4px 15px!important;
}
.side_list dd{
	display:block;
	clear:both;
	padding:5px;
	background:#eee;
	margin:1px 0 2px
}
.side_list dd a{
	display:block;
	clear:both;
	color:#555;
	text-shadow:#fff 1px 1px 0;
}
.side_list dd a:hover{color:#000; text-decoration:underline;}

.icons_list dt a img{
	width:16px;
	float:left;
	margin:0 10px;
}
.icons_list dt a{padding:5px 0; line-height:16px;}


/*================= side bar forms stile ==========================*/

.sidebar_form{
	display:block;
	clear:both;
	padding:0 0 10px;
}

.sf_line{
	display:block;
	float:left;
	clear:both;
	width:210px;
	padding:7px 0;
}
.sf_line em{
	font-size:11px;
}
.sf_line label.clear{font-weight:bold;}

.sf_line .side_input, .sf_line .side_select{
	width:205px;
	display:block;
	clear:both;
	font-size:13px;
	margin:5px 0;
}
.side_select{width:210px !important;}
.sf_line .range{
	display:block;
	clear:both;
	margin:5px 0 0 ;
}

.sf_line .range .input{
	width:50px !important;
	margin:0 5px;
}
.side_option{
	display:block;
	clear:both;
	padding:4px 0;
}
.side_option input{margin:0 5px 0 0; float:left;}

*+html .side_option input{float:none;}

.sf_line textarea{
	display:block;
	clear:both;
	padding:4px;
	border:#ccc 1px solid;
	width:200px;
	margin:5px 0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	height:100px;
	background:#f9f9f9
}

.sf_line textarea:focus{border-color:#999; background:#fff;}

.switch_on, .switch_off{
	display:block;
	float:left;
	width:94px;
	height:27px;
	cursor:pointer;
}
.switch_on{background:url(../images/switch_on.png) left top no-repeat;}
.switch_off{background:url(../images/switch_off.png) left top no-repeat;}

.sf_line .switch_on, .sf_line .switch_off{
	float:right !important;
}
.sidebar_form .button{
	float:left;
	clear:both;
	margin:10px 0;
}

/*=================== main column style ======================== */

.main{
	width:730px;
}
.form_3w{
	display:block;
	float:left;
	clear:both;
	width:710px;
	padding:10px 0;
}
.title_input{
	display:block;
	clear:both;
	width:700px;
	padding:3px;
	font-size:20px;
	margin-bottom:10px;
	font-weight:bold;
	color:#888;
	border:#ccc 2px solid;
	font-family:Arial, Helvetica, sans-serif;
}
.title_input:focus{
	color:#333;
	border-color:#999;
}
.form_3w .reqw{
	display:block;
	clear:both;
	font-size:13px;
	padding-bottom:10px;
}

.tabs3w{
	display:block;
	float:left;
	clear:both;
	width:100%;
	margin:10px 0 0;
	border-bottom:#2b313d 3px solid;
}
.tabs3w a{
	padding:5px 15px;
	margin-right:5px;
	border-bottom:none !important;
	border-radius:3px 3px 0 0 ;
	-moz-border-radius:3px 3px 0 0 ;
	-webkit-border-radius:3px 3px 0 0 ;
	font-weight:bold;
	line-height:16px;
}
.tabs3w a img{
	float:left;
	width:16px;
	margin-right:10px;
}
textarea{
	display:block;
	clear:both;
	border:#ccc 1px solid;
	padding:4px;
	border:#ccc 1px solid;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	background:#f9f9f9;
}
textarea:focus{
	border-color:#999;
	background:#fff;
}
.t_editor{
	width:700px;
	height:200px;
	border-width:2px;
	/* margin-bottom:20px; */
}

.sub_head{
	display:block;
	clear:both;
	padding:8px 10px;
	width:690px;
	margin-bottom:10px;
}
.sub_head h4{
	font-size:14px;
}
.sub_head .box_min{
	margin:-17px 0 0;
}

.form_list{
	display:block;
	float:left;
	clear:both;
	width:100%;
	padding:10px 0 20px;
}
.form_list li{
	display:block;
	clear:both;
	padding:10px 0;
}
.form_list label{
	float:left;
	width:150px;
	padding:5px 10px;
	font-weight:bold;
}
.size_xs{width:80px;}
.size_s{width:150px;}
.size_m{width:200px;}
.size_l{width:250px;}
.size_xl{width:350px;}
.size_xxl{width:500px;}

.form_list li .input, .form_list li .select{
	float:left;
	margin:0 10px;
	padding: 5px;
}
.form_tip{
	float:left;
	width:16px;
	height:16px;
	overflow:hidden;
}
.form_tip span{display:none;}
.form_tip img{width:16px;}
.form_tip:hover span{
	display:block;
	clear:both;
	position:absolute;
	z-index:3;
	width:200px;
	padding:10px;
	margin-left:-100px;
}
.form_list li em{
	display:block;
	float:left;
	clear:both;
	padding:5px 0 0 180px;
}
.optional_list{
	display:block;
	float:left;
	clear:both;
	padding:10px 0;
	width:100%;
}
.optional_list li{
	display:block;
	float:left;
	width:48%;
	padding:5px 10px 10px 0;
}

.optional_list li .option{
	margin:0 5px 0 0;
}
.button_set{
	display:block;
	float:none;
	clear:both;
	width:100%;
	padding:20px 0 20px;
        text-align: center;
}
.button_set .button{
	margin-right:10px;
}

/*================== footer ==================== */

footer{
	display:block;
	float:left;
	clear:both;
	background:url(../images/foot_bg.png) bottom repeat-x;
	height:68px;
	overflow:hidden;
	width:100%;
	margin-top:-68px;
}
.foot{
	width:980px;
	margin:0 auto;
	padding:20px 0 0;	
}
.foot p{
	display:block;
	float:left;
	color:#ccc;
	width:800px;
	text-shadow:#000 1px 1px 0;
	margin-left:-5px;
	line-height:45px;
}
.foot p a{
	color:#ccc;
	text-decoration:underline;
	margin:0 5px;
}
.foot p a:hover{
	color:#fff;
	text-decoration:none;
}
.powered{
	display:block;
	width:150px;
	color:#fff;
	background:url(../images/3w_foot_logo.png) right 7px no-repeat;
	padding:5px 30px 5px 0;
	margin:2px 0 0 ;
}
.powered:hover{ text-decoration:underline;}


.side_tabs{
	display:block;
	float:left;
	clear:both;
	padding:45px 0 10px;
	width:260px;
	z-index:10;
}
.side_tabs li{
	display:block;
	clear:both;
	height:35px;
}
.side_tabs li a{
	display:block;
	clear:both;
	z-index:11;
	height:30px;
	line-height:30px;
	color:#666;
	font-weight:bold;
	width:228px;
	position:relative;
	border:#cecece 1px solid;
	border-right:none;
	margin-bottom:1px;
	z-index:11;
	padding-left:20px;
	text-shadow:#fff 1px 1px 0;
	background:#f5f5f5 url(../images/path_step.png) 10px 11px no-repeat;
	border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	-webkit-border-radius:4px 0 0 4px;
}
.side_tabs li a:hover{
	background-color:#fff;
}
.side_tabs .current{
	background-color:#fff;
	color:#333;
	width:229px;
	border-color:#bbb;
}
.box_side_tabs{
	width:230px;
	overflow:visible;
	background:transparent !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	border:none;
}

.box_side_tabs .box_head{
	display:block;
	clear:both;
	position:absolute;
	z-index:1;
	width:230px;
}




.message{
	display:block;
	clear:both;
	width:960px;
	padding: 2px 10px;
	border:1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	margin-bottom:10px;
}
.message_error{
	border-color:#C33;
	background:#fcc;
	color:#900;
	height:40px;
}
.message_ok{
	border-color:#390;
	background:#df9;
	color:#390;
	height:40px;
}
.message_warning{
	border-color:#F93;
	background:#FF9;
	color:#C33;
	height:40px;
}
.message_info{
	border-color:#39C;
	background:#d6e5f5;
	color:#069;
	height:40px;
}
.message p{
	display:block;
	clear:both;
	padding:5px 10px;
	width:920px;
	color:#000;
	height:40px;
}
.message div{
	display:block;
	float:left;
	clear:both;
	width:100%;
	padding:5px 10px;
}
.message div img{
	display:block;
	float:left;
	width:21px;
	height:21px;
	margin:5px 10px 0px 0px;
}
.message div strong{
	float:left;
	line-height:32px;
	font-size:20px;
}
.message a {
	float: right;
}

#nodata {
    text-align: center;
    width: 100%;
    padding: 5px 0px 12px 0px;
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
}

#newDiv {
	float: left;
}

.switchable {line-height:25px;}
.switchable input[type="file"]{width:210px; margin-right:20px;}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.draggable-gallery {
  clear: both; }
  
.draggable-gallery li {
  list-style-type: none;
  float: left; 
  margin: 5px 5px 0 0 !important;
  display: inline-block; }
  
.delete-photo {
  right: 0;
  z-index:10;
  position: absolute;
  width: 22px;
  height: 23px;
  color: #fff !important;
  -moz-opacity:.85; 
  filter:alpha(opacity=85); 
  opacity:.85;
  border: 1px solid #444;
  border-top: 0;
  border-right: 0;
  text-decoration: none;
  text-indent:-999999px;
  background: #666 url('/htdocs/images/delete-white.gif') center center no-repeat; }

.delete-photo:hover {
  background-color: #888; }
  
.width100 {
  width: 100%; }
  
 .size-24 {
	float:left;
	margin-right:5px;
	width:24px;
	height:24px;
 }
 
 .size-16 {
	float:left;
	margin-right:5px;
	width:16px;
	height:16px;
 }

 .cropScreen {
	background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    color: #000000;
    margin: -230px 0 0 -300px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    z-index: 9999;
}

a.icon {
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}
a.icon-1 {
    background: url("/htdocs/images/table_icon_1.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
}
a.icon-1:hover {
    background: url("/htdocs/images/table_icon_1.gif") repeat scroll 0 -24px rgba(0, 0, 0, 0);
}
a.icon-2 {
    background: url("/htdocs/images/table_icon_2.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
}
a.icon-2:hover {
    background: url("/htdocs/images/table_icon_2.gif") repeat scroll 0 -24px rgba(0, 0, 0, 0);
}
a.icon-3 {
    background: url("/htdocs/images/table_icon_3.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
}
a.icon-3:hover {
    background: url("/htdocs/images/table_icon_3.gif") repeat scroll 0 -24px rgba(0, 0, 0, 0);
}
a.selected {
    background: url("/htdocs/images/table_icon_3.gif") repeat scroll 0 -24px rgba(0, 0, 0, 0);
}
a.icon-4 {
    background: url("/htdocs/images/table_icon_4.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
}
a.icon-4:hover {
    background: url("/htdocs/images/table_icon_4.gif") repeat scroll 0 -24px rgba(0, 0, 0, 0);
}
a.icon-5 {
    background: url("/htdocs/images/table_icon_5.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}
a.icon-5:hover {
    background: url("/htdocs/images/table_icon_5.gif") repeat scroll 0 -24px rgba(0, 0, 0, 0);
}
a.icon-6 {
    background: url("/htdocs/images/table_icon_6.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}
a.icon-6:hover {
    background: url("/htdocs/images/table_icon_6.gif") repeat scroll 0 -24px rgba(0, 0, 0, 0);
}
a.icon-7 {
    background: url("/htdocs/images/table_icon_7.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}
a.icon-7:hover {
    background: url("/htdocs/images/table_icon_7.gif") repeat scroll 0 -24px rgba(0, 0, 0, 0);
}
a.icon-lock {
    background: url("/htdocs/images/lock.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}
a.icon-unlock {
    background: url("/htdocs/images/unlock.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 24px;
    width: 24px;
}
a.icon-delete {
    background: url("/htdocs/images/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 23px;
    width: 23px;
}