@charset "utf-8";
/* CSS Document */


@font-face {
	font-family: 'myriad';
	src: url('myriadpro-boldcond-webfont.eot');
	src: local('☺'), url('myriadpro-boldcond-webfont.woff') format('woff'), url('myriadpro-boldcond-webfont.ttf') format('truetype'), url('myriadpro-boldcond-webfont.svg#webfontVavw9TcP') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'frank';
	src: url('framdcn-webfont.eot');
	src: local('☺'), url('framdcn-webfont.woff') format('woff'), url('framdcn-webfont.ttf') format('truetype'), url('framdcn-webfont.svg#webfontswZ6bryQ') format('svg');
	font-weight: normal;
	font-style: normal;
}