@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	background:transparent;
	border:none;
}
html{background:#ebebeb url(../images/login_bg_x.png) left top repeat-x;}
body{
	background:url(../images/login_box.png) center top no-repeat;
	min-height:500px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
}
input{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.login{
	width:510px;
	margin:0px auto;
	padding:0px 45px;
	overflow:hidden;
}
.logo{
	display:block;
	clear:both;
	width:300px;
	margin:0 auto;
	height:185px;
}
.login_head{
	display:block;
	float:left;
	clear:both;
	width:490px;
	padding:10px 10px 0px;
}
.login_head strong{
	float:left;
	color:#fff;
	font-size:24px;
	font-weight:normal;
	padding:5px;
	text-shadow:#000 -1px -1px 0px;
}

.login_head a{
	display:block;
	float:right;
	margin:13px 0px 0px 10px;
}
.login form{
	display:block;
	clear:both;
	padding:27px 0px 0px 145px;
	width:345px;
	overflow:hidden;
}
.login_input{
	display:block;
	float:left;
	clear:both;
	font-size:20px;
	color:#555;
	width:315px;
	border:none;
	padding:8px 10px;
	margin-bottom:20px;
}
.login_input:focus{outline:none;}

.login form div{
	display:block;
	float:left;
	width:190px;
	overflow:hidden;
	color:#fff;
}
.login form div input{
	display:block;
	float:left;
	margin:0px 10px 0px 0px;
}
*+html .login form div input{margin:-3px 10px 0px 0px;}
.login form div a{
	display:block;
	clear:both;
	color:#fff;
	text-decoration:underline;
	margin:5px 0px 0px;
}
.login form div a:hover{text-decoration:none;}
.login_btn{
	display:block;
	float:left;
	width:150px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	color:#069;
	text-shadow:#fff 1px 1px 0px;
	cursor:pointer;
	padding-bottom:3px;
	background:url(../images/login_btn.png) left top no-repeat;
}
.login_btn:hover{background-position:bottom;}