{include file="header.tpl.html"}

<section>
	<div class="container">
		<h3 class="h3Margin">{$lang.order_title}</h3>	
		<div class="textpage_content">
			<div class="innercart clearfix">
				{if $productInCart}
					<table id="basket" cellpadding="0" cellspacing="0" class="clearfix">
						<thead>
							<tr class="cartheader">
								<th>{$lang.forder_number}</th>
								<th class="name" colspan="2">{$lang.forder_prod}</th>
								<th class="total">{$lang.forder_price}</th>
								<th class="remove">{$lang.forder_options}</th>
							</tr>
						</thead>
						<tbody>
							{foreach from=$productInCart key=k item=product}
								<tr id="row_{$product.id}">
									<td align="center">{$k+1}.</td>
									<td class="image">
										<a href="{$config.site_url}{$lang.lg}/{$product.alias}-{$product.idproduct}"><img src="{$config.site_data}thumb/{$product.picture}" alt="" width="68" /></a>
									</td>
									<td class="name">
										<a href="{$config.site_url}{$lang.lg}/{$product.alias}-{$product.idproduct}">{$product.title}</a>
									</td>
									<td class="price" align="center">
										{if $smarty.session.currency != 'leva'}{$config.currency[$smarty.session.currency]}{/if}{$product.price} {if $smarty.session.currency == 'leva'}{$config.currency[$smarty.session.currency]}{/if}
									</td>
									<td class="remove">
										<a href="javascript:void(0);" class="deleteCartRow tipsyLoad" rel="{$product.id}" title="{$lang.forder_delete}"><img src="{$config.site_img}remove.png" alt="" /></a>
									</td>
								</tr>
							{/foreach}
						</tbody>
						<tfoot>
							<tr class="cartfooter">
								<td colspan="2">
									<a class="btn_back orderedit" href="{$config.site_url}{$lang.lg}">
										<span>{$lang.forder_continue}</span>
									</a>
								</td>
								<td class="price" style="text-align:right;" colspan="2">
									<strong>{$lang.forder_total_price}:</strong>
								</td>
								<td class="total" id="totalPriceCart" style="text-align:center;">
									{if $smarty.session.currency != 'leva'}{$config.currency[$smarty.session.currency]}{/if} <strong>{$totalPrice}</strong> {if $smarty.session.currency == 'leva'}{$config.currency[$smarty.session.currency]}{/if}
								</td>
							</tr>
						</tfoot>
					</table>
				{else}
					<p style="width:728px; color:red; padding-top:10px;">{$lang.forder_empty}</p>
				{/if}
			</div>
			<div class="cartfooter mobile">
				<a class="btn_back orderedit" href="{$config.site_url}{$lang.lg}">
					<span>{$lang.forder_continue}</span>
				</a>
				<div class="total" id="totalPriceCart">
					<strong>{$lang.forder_total_price}:</strong>
					{if $smarty.session.currency != 'leva'}{$config.currency[$smarty.session.currency]}{/if} <strong>{$totalPrice}</strong> {if $smarty.session.currency == 'leva'}{$config.currency[$smarty.session.currency]}{/if}
				</div>
			</div>
				
			{if $productInCart}
							
				<div class="checkout_grid container">
					<div class="pull-left">
						<div class="box_holder">
							<div class="b_head">
								<h2 class="i-file">{$lang.forder_metod_dostavka}</h2>
							</div><!--box head-->
							<div class="b_body dostavkabox">
								{$lang.dostavka_text}
							</div>
							
						</div>
						<br />
					</div>
					<div class="pull-right">
						<form method="post" action="{$config.site_url}{$lang.lg}/cart/order" name="cartForm" id="cartForm">
							<div class="box_holder">
								<div class="b_head">
									<h2 class="i-file">{$lang.forder_info_delivery}</h2>
								</div><!--box head-->
								<div class="b_body">
									<div class="f_row">
										<input type="text" id="customer-main-name" name="customer[fullName]" value="" value="" class="inp_text f-name" placeholder="{$lang.forder_ime_fam}">
									</div>
									<div class="f_row">
										<input type="text"id="customer-main-city" name="customer[city]" value="" class="inp_text f-city" placeholder="{$lang.forder_naseleno_mqsto}" /> 
									</div>
																
									<div class="f_row">
										<input type="text" id="customer-main-address" name="customer[address]" class="inp_text f-adress" placeholder="{$lang.forder_address}" />
									</div>
									<div class="f_row">     
										<input type="text" id="customer-main-phone" name="customer[phone]" value="" class="inp_text f-phone " placeholder="{$lang.contact_phone}" />
									</div>
									<div class="f_row">
										<input type="text" id="customer-main-email" name="customer[email]" value="" class="inp_text f-mail" placeholder="E-mail" />
									</div>
									<div class="f_row">
										<textarea class="inp_textarea" placeholder="{$lang.forder_final}" name="customer[description]"></textarea>
									</div>
									
									<a href="javascript:void(0)" class="btn_order big clear" name="sendCart" id="sendCart"><span>{$lang.view_order}</span></a>
								</div><!--box body-->
							</div><!--box-->
						</form>
					</div><!--left clm-->
				</div>			    
			{/if}
			<div class="clearfix"></div>
		</div>
	</div>
</section>

{include file="footer.tpl.html"}