{include file="header.tpl.html"}

<div id="content" class="clearfix">
		
	<div class="fullwidth clearfix">

		<div class="breadcrumb clearfix">
			<ul class="breadcrumb_nav">
				<li><a href="{$config.site_url}{$lang.lg}">{$lang.home}</a></li>
				<li class="separator">&raquo;</li>
				<li><a href="{$config.site_url}{$lang.lg}/cart">{$lang.order_title}</a></li>
				<li class="separator">&raquo;</li>
				<li><span>{$lang.order_end}</span></li>
			</ul>
		</div>

		<h1>{$lang.order_title}</h1>

		<form id="registration" name="registration" action="{$config.site_url}{$lang.lg}/cart/order" method="post">

			<fieldset>
				<legend><span>1</span>{$lang.order_address}:</legend>
				<small>{$lang.order_required}</small>
				<div class="row clearfix">
					<label for="fname">{$lang.order_name}:<span class="required">*</span></label>
					<input type="text" name="fname" value="{$smarty.session.user.first_name}" class="required_check" id="id_fname" />
				</div>
				<div class="row clearfix">
					<label for="lname">{$lang.order_family}:</label>
					<input type="text" name="lname" value="{$smarty.session.user.second_name}" id="lname" />
				</div>
				<div class="row clearfix">
					<label for="phone">{$lang.order_phone}: <span class="required">*</span></label>
					<input type="text" name="phone" id="id_phone" class="required_check" value="{$smarty.session.user.phone}" />
				</div>
				<div class="row clearfix">
					<label for="business">{$lang.order_firma}:</label>
					<input type="text" name="bussines" value="{$smarty.session.user.firma}" />
				</div>
				<div class="row clearfix">
					<label for="vat">{$lang.order_vat}:</label>
					<input type="text" name="vat" value="{$smarty.session.user.firma_dds}" />
				</div>
				<div class="row clearfix">
					<label for="country">{$lang.order_country}: <span class="required">*</span></label>
					<select name="country" id="id_country">
						{foreach from=$lang.location key=k item=v}
							<option value="{$k}" {if $smarty.session.user.country == $k}selected{/if}>{$v}</option>
						{/foreach}
					</select>
				</div>
				
				<div class="row clearfix">
					<label for="city">City: <span class="required">*</span></label>
					<input type="text" name="city" id="id_city" class="required_check" value="{$smarty.session.user.city|escape}" />
				</div>
				<div class="row clearfix">
					<label for="zip_code">Post code: <span class="required">*</span></label>
					<input type="text"  name="post_code" id="id_post_code" class="required_check" value="{$smarty.session.user.post_code}" />
				</div>
				<div class="row clearfix">
					<label for="address">Address: <span class="required">*</span></label>
					<input type="text" name="address" id="id_address" class="required_check" value="{$smarty.session.user.address|escape}" />
				</div>
				<div class="row clearfix">
					<label for="mail">E-mail: <span class="required">*</span></label>
					<input type="text" name="mail" id="id_email" class="required_check" value="{$smarty.session.user.email}" />
				</div>
				<div class="row clearfix"><small class="clearfix">{$lang.order_email_info}</small></div>
			</fieldset>
			<fieldset>
				<legend><span>2</span>{$lang.order_pay_way}:</legend>
				<br />
				<div class="row">
					<label for="p_method">{$lang.order_pay_way}: <span class="required">*</span></label>
					<select name="payment_method" id="p_method" class="cart_payway">
						<option value="6" class="opt_nalojen">{$lang.order_nalojen_platej}</option>
					</select>
				</div>
			</fieldset>	
			<fieldset>
				<legend><span>3</span>{$lang.cart_shipping_title}:</legend>
				<br />	
				<div class="row">
					<label for="p_method">Shipping: <span class="required">*</span></label>
					<select name="shipping_method" id="ship_method">
						<option value="">{$lang.cart_shipping_select}</option>
						{foreach from=$config.deliveryService key=k item=v}
							<option value="{$k}">{$v}</option>
						{/foreach}
					</select>
				</div>
				
				<div class="row clearfix">
					<label for="comment">{$lang.order_message}: </label>
					<textarea name="description" id="comment"></textarea>
				</div>
			</fieldset>
		</form>

		<h2>{$lang.order_cart_message}</h2>
		<form name="cart" id="cart" action="{$config.site_url}{$lang.lg}/cart/order" method="post">

			<table cellpadding="0" cellspacing="0" class="clearfix">
				<thead>
					<tr>
						<th class="left" colspan="2">{$lang.cart_product}</th>
						<th><span>{$lang.cart_broi}</span></th>
						<th><span>{$lang.cart_otstypka}</span></th>
						<th><span>{$lang.cart_price}</span></th>
						<th><span>{$lang.cart_obshto}</span></th>
					</tr>
				</thead>
				
				{foreach from=$productInCart key=k item=product}
						<tr class="product">
							<td class="left">
								<a href="{$config.site_url}{$lang.lg}/{$product.alias}-{$product.idproduct}">
									<img src="{$config.site_data}thumb/{$product.picture}" alt="" height="80" />
								</a>
							</td>
							<td class="text">
								<a href="{$config.site_url}{$lang.lg}/{$product.alias}-{$product.idproduct}">{$product.title}</a>
								{if $product.parametersInfo}
									{foreach from=$product.parametersInfo key=par item=sparam}
										<span class="cartParameterTitle"><b>{$sectionNames[$sparam.section]}</b> - {$sparam.title}</span><br />
									{/foreach}
								{/if}
								<span class="cartParameterTitle"><b>{$lang.cart_code}</b> - {$product.code}</span>
							</td>
							<td class="amount">
								{$product.col}
							</td>
							<td class="discount">
								{if $product.status == 1}
									<del>{$product.price_2} {$config.currency[$smarty.session.currency]}</del>-{$product.price_discount} {$config.currency[$smarty.session.currency]}
								{/if}
							</td>
							<td class="price">{$product.price_1} {$config.currency[$smarty.session.currency]}</td>
							<td class="total">{$product.price_col} {$config.currency[$smarty.session.currency]}</td>
						</tr>
					{/foreach}
				<tfoot>
					<tr>
						<td colspan="5">{$lang.cart_neto}:</td>
						<td class="value">
							{if $totalPricePercent}{$totalPricePercent}{else}{$totalPrice}{/if} {$config.currency[$smarty.session.currency]}
						</td>
					</tr>
					{if $totalPricePercent}
						<tr>
							<td colspan="5">{$lang.cart_otstypka}:</td>
							<td class="value" style="color:orange;">-{$percentPromo}%</td>
						</tr>
					{/if}
					<tr id="deliveryMessage" style="display:none;">
						<td colspan="5">{$lang.cart_delivery_pay}:</td>
						<td class="value" style="color:orange;" id="deliveryValue"></td>
					</tr>
					
					<tr class="all_total">
						<td colspan="5">{$lang.cart_all}:
							<input type="hidden" name="" id="hiddenTotalPrice" value="{$totalPrice} {$config.currency[$smarty.session.currency]}" />
						</td>
						<td class="value" id="totalCartSum">
							{$totalPrice} {$config.currency[$smarty.session.currency]}
						</td>
					</tr>
					<tr class="buttons">
						<td colspan="3" class="left"><a href="{$config.site_url}{$lang.lg}/cart" class="back_btn_cart">{$lang.order_back_to_cart}</a></td>
						<td colspan="3">
							<div class="agree"><input type="checkbox" name="agree" id="agree" /><label for="agree">I agree to <a href="{$config.site_url}{$lang.lg}/pages/terms" target="_blank">Terms & Conditions</a></label></div>
						</td>
					</tr>
					<tr>
						<td colspan="6">
							<a href="javascript:void(0);" id="final_checkout" class="final_checkout_btn">{$lang.order_final}</a>
						</td>
					</tr>
				</tfoot>
			</table>
		</form>
			
	</div><!-- fullwidth -->
		
</div><!-- content -->

{include file="footer.tpl.html"}