{include file="header.tpl.html"}

	<div id="content" class="clearfix">
		
		<div class="fullwidth clearfix">

			<div class="breadcrumb clearfix">
				<ul class="breadcrumb_nav">
					<li><a href="{$config.site_url}{$lang.lg}/">{$lang.home}</a></li>
					<li class="separator">&raquo;</li>
					<li><a href="javascript:void(0);">{$lang.forder_porychka}</a></li>
					<li class="separator">&raquo;</li>
					<li><span>{$lang.forder_title}</span></li>
				</ul>
			</div>

			<h1>{$lang.forder_porychka}</h1>

			<div class="static">
				<h2 class="color">{$lang.forder_final}</h2>

				<table id="finish_order">
					<tr>
						<td class="error-cart"><b>Error : </b></td>
						<td>
							{$erroMessage}
						</td>
					</tr>
					
				</table>
				
				<div id="cart">	
					<table cellpadding="0" cellspacing="0" class="clearfix">
						<tfoot>
						<tr class="buttons">
								<td class="left"><a href="{$config.site_url}{$lang.lg}/cart">{$lang.order_back_to_cart}</a></td>
							</tr>
						</tfoot>
					</table>	
				</div>
			</div>

		</div><!-- fullwidth -->
			
	</div><!-- content -->

{include file="footer.tpl.html"}