{include file="header.tpl.html"}

<section>
	<div class="container">
		
		<h3 class="h3Margin">{$lang.forder_porychka}</h1>
		<div class="">					
			<div id="finish_order">
				<div class="thanks"><img src="{$config.site_url}htdocs/images/tick.png" /> <p>{$lang.forder_success}</p></div>
			</div>
			<div id="finish_order_box">
				<div class="order_box">
					<h4>{$lang.forder_porychka}</h4>
					<div class="order_info">
						<table class="order_info">
							<tr>
								<td><b>{$lang.forder_number}:</b></td>
								<td><span>{$idorder}</span></td>
							</tr>
							<tr>
								<td><b>{$lang.forder_status}:</b></td>
								<td><span>{$lang.forder_new}</span></td>
							</tr>
							<tr>
								<td><b>{$lang.forder_data}</b></td>
								<td><span>{$date_order}</span></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="order_box">
					<h4>{$lang.forder_client}</h4>
					<div class="order_info">
						<table class="order_info">
							<tr>
								<td><b>{$lang.contact_name}:</b></td>
								<td><span>{$orderInfo.fullName}</span></td>
							</tr>
							<tr>
								<td><b>Email:</b></td>
								<td><span>{$orderInfo.email}</span></td>
							</tr>
							<tr>
								<td><b>{$lang.contact_phone}:</b></td>
								<td><span>{$orderInfo.phone}</span></td>
							</tr>
							<tr>
								<td colspan="2">{$orderInfo.address}</td>
							</tr>
							<tr>
								<td><b>{$lang.cart_city}:</b></td>
								<td><span>{$orderInfo.city}</span></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="order_box">
					<h4>{$lang.forder_address_send}</h4>
					<div class="order_info">
			
						<table class="order_info">
							<tr>
								<td><b>{$lang.contact_name}:</b></td>
								<td><span>{$orderInfo.fullName}</span></td>
							</tr>
							<tr>
								<td><b>Email:</b></td>
								<td><span>{$orderInfo.email}</span></td>
							</tr>
							<tr>
								<td><b>{$lang.contact_phone}:</b></td>
								<td><span>{$orderInfo.phone}</span></td>
							</tr>
							<tr>
								<td colspan="2">{$orderInfo.address}</td>
							</tr>
							<tr>
								<td><b>{$lang.cart_city}:</b></td>
								<td><span>{$orderInfo.city}</span></td>
							</tr>
						</table>
					</div>
				</div>
			
				<br />
				{if $orderInfo.description}
					<div class="order_box">
						<h4>{$lang.forder_final}: </h4>
						<div class="order_info">
							{$orderInfo.description}
						</div>
					</div>
				{/if}
				<div class="clearfix">&nbsp;</div>
			</div>
		</div>
	</div>

</section>

{include file="footer.tpl.html"}