{if (!empty($source))}{$user = $source}{/if}
{if (!empty($size))}
	{assign var="show_size" value="_`$size`x`$size`"}
	{assign var="pic_size" value="size-`$size`"}
{/if}

{if ($user)}
	{if ($user.state == "deactivated")}
		<img src="{$config.userarea_img}no-avatar_{$user.gender}.jpg" alt="{$user.username}" style="width:{$size}px;height:{$size}px;">
	{else if ($user.ext)}
		<img src="{$config.userarea_url}data/users/{math equation='ceil(id / num)' id=$user.iduser num=1000}/{$user.iduser}{$show_size}.{$user.ext}?timestamp={$smarty.now}" alt="{$user.username}" style="width:{$size}px;height:{$size}px;" />
	{else if ($user.gender)}
		<img src="{$config.userarea_img}no-avatar_{$user.gender}.jpg" alt="{$user.username}" style="width:{$size}px;height:{$size}px;">
	{else}
		<img src="{$config.userarea_img}no-avatar_male.jpg" alt="{$user.username}" style="width:{$size}px;height:{$size}px;">
	{/if}
{else if ($post)}
	{if ($post.state == "deactivated")}
		<img src="{$config.userarea_img}no-avatar_{$user.gender}.jpg" alt="{$post.username}" style="width:{$size}px;height:{$size}px;">
	{else if ($post.ext)}
		<img src="{$config.userarea_url}data/users/{math equation='ceil(id / num)' id=$post.iduser num=1000}/{$post.iduser}{$show_size}.{$post.ext}?timestamp={$smarty.now}" alt="{$post.username}" style="width:{$size}px;height:{$size}px;" />
	{else if ($post.gender)}
		<img src="{$config.userarea_img}no-avatar_{$post.gender}.jpg" alt="{$post.username}" style="width:{$size}px;height:{$size}px;">
	{else}
		<img src="{$config.userarea_img}no-avatar_male.jpg" alt="{$post.username}" style="width:{$size}px;height:{$size}px;">
	{/if}
{/if}