<form method="post" name="filterForm" id="filterForm" action="{$config.site_url}{$filterUrl}">
	<select name="productList" class="filterChange">
		<option value="1" {if $productList == 1}selected{/if}>{$lang.filter_sortirane_1}</option>
		<option value="2" {if $productList == 2}selected{/if}>{$lang.filter_sortirane_2} (↑)</option>
		<option value="3" {if $productList == 3}selected{/if}>{$lang.filter_sortirane_2} (↓)</option>
	</select>
	<select name="pageView" class="filterChange">
		<option value="20" {if $pageView == 20}selected{/if}>20</option>
		<option value="40" {if $pageView == 40}selected{/if}>40</option>
		<option value="60" {if $pageView == 60}selected{/if}>60</option>
	</select>
</form>