<ul class="terms-nav">
	<li><a href="{$config.site_url}pages/terms">Условия за ползване</a>|</li>
	<li><a href="{$config.site_url}pages/aboutus">За нас</a>|</li>
	<li><a href="{$config.site_url}pages/contacts">Контакти</a></li>
</ul>