<div id="overlay-container" class="overlay-scroll-container hide">    
	
	{if (empty($user_data))}
	
		<!-- Login -->
		<section id="login_section" class="modal signup badge-overlay-signin hide">
			<a class="btn-close badge-overlay-close" href="#">&#10006;</a>
			
			<section id="signup">
				<h2>{$lang.login}</h2>
				<p class="lead">{$lang.interface_signin_connect_with_social}</p>
				
				<div class="social-signup">
					<a href="javascript:;" data-redirect="{$current_url}" class="btn-connect-option facebook badge-facebook-connect" id="fb-login">{$lang.facebook}</a>
					<span class="badge-gplus-connect"><a href="{$config.site_url}users/twlogin/?redirect={$current_url}" class="btn-connect-option twitterconnect" id="tw-login">{$lang.twitter}</a></span> 
					<a href="{$config.site_url}users/gplogin/?redirect={$current_url}" class="btn-connect-option google-plus">{$lang.google}</a>
				</div>
				
				<form id="login-email" method="post" action="{$config.site_url}users/login/?redirect={$current_url}" class="badge-login-form">
					<p class="lead" id="error-login-email">{$lang.interface_signin_log_in_email}</p>
					
					<div class="field">
						<label for="jsid-login-email-name">{$lang.interface_signin_username_email}</label>
						<input id="jsid-login-email-name" type="text" name="login" value="" autofocus="autofocus"/>
					</div>
					
					<div class="field">
						<label for="login-email-password">{$lang.interface_signin_password}</label>
						<input id="login-email-password" type="password" name="password" value="" />
					</div>
					
					<div class="btn-container">
						<input type="submit" value="{$lang.header_log_in}" />
						<a class="forgot-password" href="{$config.site_url}users/forgotpassword">{$lang.interface_signin_forgot_password}</a>
					</div>
				</form>
			</section>
		</section>
		<!-- End Login -->
		
		<!-- Signup -->
		<section id="signup_section" class="modal signup badge-overlay-signup-fb hide">
			
			<a class="badge-overlay-close btn-close" href="#">&#10006;</a>
			
			<section id="signup">
				
				<div id="signup-fb">
					<h2>{$lang.signup_title}</h2>
					<p class="lead">{$lang.signup_subtitle}</p>
					
					<div class="social-signup">
						<a href="javascript:;" data-redirect="{$current_url}" class="btn-connect-option facebook badge-facebook-connect" id="fb-login">{$lang.facebook}</a>
						<span class="badge-gplus-connect"><a href="{$config.site_url}users/twlogin/?redirect={$current_url}" class="btn-connect-option twitterconnect" id="tw-login">{$lang.twitter}</a></span> 
						<a href="{$config.site_url}users/gplogin/?redirect={$current_url}" class="btn-connect-option google-plus">{$lang.google}</a>
					</div>
					
					<p class="alternative">{$lang.sign_up_with_your} <a href="javascript:void(0);" class="badge-signup-email-link">{$lang.sign_up_with_your_email}</a></p>
					<p class="alternative">{$lang.have_an_account} <a href="javascript:void(0);" class="badge-signup-login-link">{$lang.have_an_account_login}</a></p>
				</div>

				<div id="signup-email" class="hide">
				
					<h2>{$lang.signup_title}</h2>
					
					<form id="signup-email" action="{$config.site_url}users/signup/?redirect={$current_url}" autocomplete="off" method="post">
						<div class="field">
							<label for="signup-email-name">{$lang.interface_joinus_fullname}</label>
							<input id="signup-email-name" type="text" name="username" class="badge-input-fullname badge-input-field" value="" maxlength="20"/>
						</div>
						
						<div class="field">
							<label for="signup-email-email">{$lang.interface_joinus_email}</label>
							<input type="email" name="email" id="signup-email-email" class="badge-input-email badge-input-field" value="" />
						</div>
						
						<div class="field">
							<label for="signup-email-password">{$lang.interface_joinus_password}</label>
							<input id="signup-email-password" type="password" name="password" value="">
						</div>
						
						<div class="field">
							<label for="signup-email-password">{$lang.interface_joinus_password_again}</label>
							<input id="signup-email-password-repeat" type="password" name="password_repeat" value="">
						</div>
						
						<div class="btn-container">
							<input type="submit" value="{$lang.interface_joinus_signup}" />
						</div>
					</form>
				</div>
			</section>
		</section>
		<!-- End Signup -->
	
	{else}	
	
		<!-- Report -->
		<section id="report_section" class="modal hide">
			<a class="btn-close badge-overlay-close" href="#">&#10006;</a>
			
			<section id="signup">
				<h2>Report Submission</h2>
				<p class="lead">Are you sure you want to report this submission for spam or abuse?</p>
				
				<form action="{$config.site_url}index/report/idtarget/{$post.idpost}" method="post" class="badge-login-form">
					<div class="field">
						<label>Comment</label>
						<input type="text" name="comment" value="" autofocus="autofocus"/>
					</div>
					
					{if (empty($smarty.session.user.email))}
						<div class="field">
							<label>Email</label>
							<input type="text" name="email" value="" autofocus="autofocus"/>
						</div>
					{/if}
					
					<div class="btn-container">
						<input type="hidden" name="idpost_report" value="{$post.idpost}" />
						<input type="submit" value="Send" name="send"/>
					</div>
				</form>
			</section>
		</section>
		<!-- End Report -->
	
		<!-- Upload image -->
		<section id="modal-upload" class="modal upload hide">
			<a class="badge-overlay-close btn-close" href="javascript:void(0);">x</a>
			
			<section id="upload-file">
				<form id="form-modal-post-image" class="modal" action="{$config.site_url}posts/create" enctype="multipart/form-data" method="POST">
					<div class="overlay"></div>
					
					<div id="jsid-disable-mask">
						<h2>{$lang.interface_create_photo_title}</h2>
						<p class="lead">{$lang.interface_create_photo_desc}</p>
						
						<div class="field title">
							<label>{$lang.interface_create_photo_give_title} <a href="javascript:void(0);" id="suggest-title">{$lang.interface_create_photo_suggest_title}</a></label>
							<input type="text" name="title" id="upload-title" maxlength="140" style="width:460px;" />
						</div>

						<!-- Tabulator -->
						<div class="tabulator-content">
							<ul class="tabulator">
								<li class="current"><a href="#" data-show="upload">{$lang.interface_create_photo_upload_photo}</a></li>
								<li><a href="#" data-show="submit">{$lang.interface_create_photo_photo_link}</a></li>
								<li><a href="#" data-show="submit-video">{$lang.interface_create_photo_video_link}</a></li>
							</ul>
							
							<ul class="tabulator-container">
								<li id="upload" style="height:52px;">
									<input type="file" name="upload_photo" id="upload-global-file" />
								</li>
								<li id="submit" class="hide">
									<input type="text" name="submit_photo" id="upload-global-link-input" placeholder="http://" />
								</li>
								<li id="submit-video" class="hide">
									<input type="text" name="content_url" id="entry-url" placeholder="http://" />
									<input type="hidden" name="video-title" id="video-title" value="" />
								</li>
							</ul>
						</div>
						<!-- End Tabulator -->
						
						<div class="clearfix"></div>
						
						{if (!empty($user_data))}
							<!-- Tabulator -->
							<div class="tabulator-content">
								<ul class="tabulator">
									<li class="current" id="tab_select_album"><a href="#" data-show="select">{$lang.interface_create_photo_select_gallery}</a></li>
									<li id="tab_create_album"><a href="#" data-show="create">{$lang.interface_create_photo_create_new_album}</a></li>
								</ul>
								
								<ul class="tabulator-container">
									<li id="select" style="height:40px;">
										<select name="idalbum" id="idalbum">
											{foreach from=$user_data.albums item=album}
												<option value="{$album.idalbum}">{$album.title}</option>
											{/foreach}
										</select> 
									</li>
									<li id="create" class="hide">
										<input type="text" id="ajax_idalbum" placeholder="{$lang.interface_create_photo_album_name}" />
										<a href="javascript:void(0);" id="ajax_addalbum" class="btn">{$lang.interface_create_photo_create_new_album}</a>
										<div class="clearfix"></div>
									</li>
								</ul>
							</div>
							<!-- End Tabulator -->
						{/if}
						
						<div class="field nsfw">
							<label for="nsfw">{$lang.interface_create_photo_nsfw}</label>
							<input type="checkbox" name="nsfw" id="nsfw" />
						</div>
						
						<div class="btn-container">
							<input type="submit" value="{$lang.interface_create_photo_upload}" />
						</div>
					</div>
				</form>
			</section>
			
			<section id="preview-content" style="display:none;">
				
				<div class="preview-content-box">
					<div class="preview-content-title">{$lang.interface_create_photo_preview_content}</div>
					<div class="preview_photo" id="preview-upload" style="text-align:center;"></div>
				</div>
				
				<div class="clearfix"></div>
				
			</section>
		</section>
		<!-- End Upload image -->
	{/if}
</div>