{if $categoryList}
	<ul class="UlvertGalNav bSizing">
		{foreach from=$categoryList key=k item=v}
			<li class="vertGalNav">
				<a href="{$config.site_url}{$lang.lg}/{$page}/{$v.alias}-{$v.idcategory}" title="{$v.title|escape}" {if $v.idcategory == $idcategory}class="selectedVert"{/if}>{$v.title}</a>
			</li>
		{/foreach}
		
		<!--
			<li class="vertGalNav"><a href="{$config.site_url}{$lang.lg}/gallery/{$specialCat.alias}-27" title="{$specialCat.title|escape}">{$specialCat.title}</a></li>
		-->
	</ul>
{else}
	<ul class="UlvertGalNav bSizing">
		<li class="vertGalNav">
			<a href="javascript:void(0);" class="selectedVert">{$sectionTitle}</a>
		</li>
	</ul>
{/if}
