<div class="product_item {if ($k+1)%$y==0}last{/if}">
	<a href="{$product.url}" title="{$product.title}"><img src="{$config.site_data}thumb/{$product.picture}" alt="" /></a>
	<div class="product_info {if $product.status == 1}promo{/if} clearfix">
		<h3><a href="{$product.url}">{$product.title|charreplacer}</a></h3>
		<div class="product_price">{$product.price_1} <span class="currency">{$config.currency[$smarty.session.currency]}</span></div>
		<div class="discount_price">
			<div class="old">{$product.price_2} <span class="currency">{$config.currency[$smarty.session.currency]}</span></div>
			<div class="new">{$product.price_1} <span class="currency">{$config.currency[$smarty.session.currency]}</span></div>
		</div>
		{if $product.status == 1}<div class="promo_label">SAVE<span>{$config.currency[$smarty.session.currency]} {$product.priceDiscount}</span></div>{/if}
	</div>
</div><!-- product_item -->
{if ($k+1)%$y==0}<div class="clearfix"></div>{/if}