{include file="header.tpl.html"}
<section>
    <div class="path clear">
        <a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/category/browse">{$lang.menu_category}</a>
        <img src="{$config.site_img}path_step.png">
        <strong>
            {$data.page_title}
        </strong>
    </div><!--path-->

    {include file="message.tpl.html"}

    <div class="box box_table full_box">
        <div class="box_head">
            <h3 class="box_title">
                {$data.page_title}
            </h3>
        </div><!--box head-->

        <div class="box_conent">

            <form action="" method="post" class="table_form inline">

                <div class="filter" style="width:968px;">
                    <div>
                        <input type="text" value="{$data.search}" placeholder="{$lang.category_search_field}" name="search" class="input" style="width:830px" />
                        <input type="submit" class="submit bg_grey bg_grey_hover round3 frigt" value="{$lang.search}" />
                    </div>
                </div><!--filter-->	

                {if ($data.category)}

                <table cellspacing="1" cellpadding="0" border="0" width="960px" class="data-table">
                    <thead>
                        <tr class="dt_titles bg_black"> 
                            <td align="center" width="30px">ID</td>
							<td>{$lang.category_title}</td>
							<td>{$lang.position}</td>
                            <td align="center">{$lang.state}</td>
                            <td align="center" width="80px">{$lang.options}</td>
                        </tr>
                    </thead>					

                    <tbody>
                        {foreach $data.category as $k=>$cat}
							<tr class="{if ($k % 2 == 0)}even{else}odd{/if}">
								<td align="center">{$cat.idcategory}</td>
								<td><a href="/category/edit/idcategory/{$cat.idcategory}/">{$cat.title_bg}</a></td>
								<td>{$cat.position}</td>
								<td align="center">
									{if $cat.active==1}
										<a href="#" class="fn" title="{$lang.active}"><img src="{$config.site_img}icons16x16/tick_16.png"></a>
									{else}
										<a href="#" class="fn" title="{$lang.inactive}"><img src="{$config.site_img}icons16x16/red-mark.png" /></a>
									{/if}
								</td>
								<td align="center">
									<a class="fn display-block" title="{$lang.edit}" href="/category/edit/idcategory/{$cat.idcategory}/">
										<img src="{$config.site_img}icons16x16/pencil_16.png">
									</a>
									<a class="fn display-block" title="{$lang.delete}" href="javascript:;" onClick="confirmDeleteItem({$cat.idcategory}, '{$cat.title}');">
										<img src="{$config.site_img}icons16x16/delete_16.png">
									</a>									
								</td>
							</tr>
							{if $cat.sub_category}
								{foreach from=$cat.sub_category key=y item=subcategory}
									<tr class="{if ($y % 2 == 0)}even{else}odd{/if}">
										<td align="center">{$subcategory.idcategory}</td>
										<td style="text-indent: 10px;"><a href="/category/edit/idcategory/{$subcategory.idcategory}/"> &rdsh; {$subcategory.title_bg|truncate:25:'...':'UTF-8'}</a></td>
										<td>{$subcategory.position}</td>
										<td align="center">
											{if $subcategory.active==1}
												<a href="#" class="fn" title="{$lang.active}"><img src="{$config.site_img}icons16x16/tick_16.png"></a>
											{else}
												<a href="#" class="fn" title="{$lang.inactive}"><img src="{$config.site_img}icons16x16/red-mark.png" /></a>
											{/if}
										</td>
										<td align="center">
											<a class="fn display-block" title="{$lang.edit}" href="/category/edit/idcategory/{$subcategory.idcategory}/">
												<img src="{$config.site_img}icons16x16/pencil_16.png">
											</a>
											<a class="fn display-block" title="{$lang.delete}" href="javascript:void(0);" onClick="confirmDeleteItem({$subcategory.idcategory}, '{$subcategory.title}');">
												<img src="{$config.site_img}icons16x16/delete_16.png">
											</a>									
										</td>
									</tr>
								{/foreach}
							{/if}
							
                        {/foreach}
                    </tbody>
                </table>

                {if ($data.pager)}
					<div class="pager">{$data.pager}</div>
                {/if}

                {else}
					<div id="nodata">
						{$lang.no_data_found}
					</div>
                {/if}

            </form><!--table form-->

        </div><!--box content-->                
    </div>
</section>

{include file="footer.tpl.html"}

<!-- Delete user -->
<div id="dialog-confirm" title="Изтриване на категория" style="padding-top: 20px; display: none;">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    <b>Сигурни ли сте, че искате да изтриете <span id="remove_item_id" style="color:red;"></span>?
</div>

<script>
    // Remove item popup
    function confirmDeleteItem(idcategory, username){
        $("#remove_item_id").html(username);

        $( "#dialog-confirm" ).dialog({
            resizable: false,
            width:500,
            modal: true,
            buttons: {
                "Confirm": function() {
                    window.location.href = "/category/worker/type/delete-category/idtarget/"+idcategory+"/";
                },
                "Cancel": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
        $('.ui-dialog :button').blur();
    }
</script>