{include file="header.tpl.html"}
<section>
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/category/browse">{$lang.menu_category}</a>
        <img src="{$config.site_img}path_step.png">
		<strong>
			{$lang.category_edit_title}
		</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">
			{$category.title_bg}
		</h1>
	</div>

	{include file="message.tpl.html"}
	
	<div class="sidebar fleft">

		<div class="box box_side_tabs">
			<ul class="side_tabs">
				<li><a href="{$config.site_url}category/edit/idcategory/{$category.idcategory}" class="current">{$lang.users_general_information} BG:</a></li>
				<li><a href="{$config.site_url}category/editlang/idcategory/{$category.idcategory}/langsel/en">{$lang.users_general_information} EN:</a></li>
				<li><a href="{$config.site_url}category/editlang/idcategory/{$category.idcategory}/langsel/fr">{$lang.users_general_information} FR:</a></li>
			</ul>
		</div><!--box-->
	
	</div><!--sidebar-->

	<div class="main frigt">

		<div class="box box_form">
			<div class="box_head move">
				<h3 class="box_title">{$lang.category_edit_title}</h3>
			</div><!--box head-->
			
			<div class="box_conent">
				<form method="post" action="" enctype="multipart/form-data" class="form_3w">
					<ul class="form_list">
						<li>
							<label>Избери категория</label>
							<select name="idparrent" class="select size_s">
								<option value="0">Главна категория</option>
								{foreach from=$category_list item=cat}
										<option value="{$cat.idcategory}" {if $cat.idcategory==$category.idparrent}selected{/if}>{$cat.title_bg}</option>
								{/foreach}
							</select>
						</li>
					
						<li>
							<label>{$lang.category_title} BG:</label>
							<input type="text" name="title_bg" class="input size_xl" value="{$category.title_bg|escape}" />
						</li>
						<li>
							<label>{$lang.category_description} BG:</label>
							<textarea name="content_bg" class="t_editor size_xl fleft noclear marginleft10">{$category.content_bg|escape}</textarea>
						</li>
						<li>
							<label>{$lang.position}</label>
							<input type="text" name="position" class="input size_s" value="{$category.position}" />
						</li>
						
						<li>
							<label>{$lang.state}</label>
							<select name="active" class="select size_s">
								<option value="1" {if $category.active == 1}selected{/if}>Активнa</option>
								<option value="0" {if $category.active == 0}selected{/if}>Неактивна</option>
							</select>
						</li>
						
						<li>
							<label>Мета заглавие BG:</label>
							<input type="text" name="meta_title_bg" class="input size_xl" value="{$category.meta_title_bg|escape}" />
						</li>
						
						<li>
							<label>Мета описание BG:</label>
							<textarea name="meta_description_bg" class="t_editor size_xl fleft noclear marginleft10">{$category.meta_description_bg|escape}</textarea>
						</li>
						
						<li>
							<label>Мета ключови думи BG:</label>
							<textarea name="meta_keywords_bg" class="t_editor size_xl fleft noclear marginleft10">{$category.meta_keywords_bg|escape}</textarea>
						</li>
					</ul>
									
					<div class="button_set">
						<input type="submit" name="submit" class="submit button bg_blue bg_blue_hover" value="{$lang.save}" />
					</div><!--button set-->

				</form>
				
			</div><!--box content-->
		</div><!--box-->
	</div><!--main-->
</section>

{include file="footer.tpl.html"}