{include file="header.tpl.html"}

<div id="wrapper">
	<div id="groups" {if $listProducts} class="products-text"{/if}>
		<h1 class="textpage">Продукти</h1>
		{if $listProducts}
			<div class="title">{$currentCategoryInfo.title}</div>
			{if $listProducts}
				<div class="service_wrapper">
					{foreach from=$listProducts key=k item=v}
						<div class="service">
							<a class="center-link" href="{$config.site_url}{$lang.lg}/{$v.alias}-{$v.idproduct}" title="{$v.title}">
								<img src="{$config.site_data}big/{$v.picture}" alt="{$v.title}" border="0" style="max-height: 121px; max-width: 100px;" />
							</a>
							<h1 class="specific"><a href="{$config.site_url}{$lang.lg}/{$v.alias}-{$v.idproduct}" title="{$v.title}">{$v.title}</a></h1>
						</div>
						{if (($k+1)%5==0)}<br style="clear:both" />{/if}
					{/foreach}
				</div>
			{/if}
		{else}
			{if $currentCategoryInfo.title}<div class="title">{$currentCategoryInfo.title}</div>{/if}
			<div class="service_wrapper">
				{assign var="br" value="1"}
				{foreach from=$listCategory key=k item=v}
					<div class="service">
						<a class="center-link" href="{$config.site_url}{$lang.lg}/products/{$v.alias}-{$v.idcategory}" title="{$v.title}">
							<img src="{$config.site_data}category/{$v.picture}" alt="{$v.title}" border="0" style="max-width: 100px; max-height: 121px;" />
						</a>
						<h1 class="specific"><a href="{$config.site_url}{$lang.lg}/products/{$v.alias}-{$v.idcategory}" title="{$v.title}">{$v.title}</a></h1>
					</div>
					{if ($br%5==0)}<br style="clear:both" />{$br=1}{else}{$br=$br+1}{/if}
				{/foreach}
			</div>
		{/if}
	</div>
	
	{include file="elements/left_menu.tpl.html"}
</div>



{include file="footer.tpl.html"}