{include file="header.tpl.html"}

<div id="wrapper">
	<div id="groups" class="">
		<h1 class="textpage">Производствена дейност</h1>
		<div class="gallery_wrapper">
			{foreach from=$listProducts key=k item=v}
				<div class="gallery">
					<div class="img_holder" style="height: 100%;">
						<a href="{$config.site_url}{$lang.lg}/production/{$v.alias}-{$v.idproduct}">
							<img alt="{$v.title}" src="{$config.site_data}thumb/{$v.picture}" class="" />
						</a>
					</div>
					<a href="{$config.site_url}{$lang.lg}/production/{$v.alias}-{$v.idproduct}">{$v.title}</a>
				</div>
				{if ($k+1)%4==0}</div><br style="clear:both" /><div class="gallery_wrapper">{/if}
			{/foreach}
		</div>
	</div>
	
	{include file="elements/left_news.tpl.html"}
</div>

{include file="footer.tpl.html"}