{include file="header.tpl.html"}

<div id="wrapper">
	<div id="textpage" class="view_product-text">
		<!--<h1 class="textpage">{$productInfo.title}</h1> -->
		
		<div class="textpage_content">
	
			<div class="sub_content">
				<div class="product-image" style="float:left; margin-right:10px; margin-bottom:10px;">
					<img border="0" alt="{$productInfo.title}" src="{$config.site_data}big/{$productInfo.picture}" style="max-width: 300px;" />
				</div>
				{$productInfo.info}
			</div>
			
			{if $productInfo.description}
				<div class="sub_content editorTable">
					{$productInfo.description}
				</div>
			{/if}
			
			<strong>Галерия</strong>
			<div class="gallery_wrapper" id="galleryProd" style="border-top:1px solid #ccc;">
				{foreach from=$productInfo.images key=k item=v}
					{if $v.picture != $productInfo.picture && $v.picture != $productInfo.headPicture}
					<div class="gallery" style="width:125px;">
	           			<a href="{$config.site_data}big/{$v.picture}" rel="prettyPhoto[gallery1]">
							<img border="0" alt="" src="{$config.site_data}big/{$v.picture}" style="max-width: 120px; max-height: 120px;" />
						</a>
					</div>
						{if ($k%5==0)}</div><div class="gallery_wrapper">{/if}
					{/if}
				{/foreach}
			</div>
		</div>
	</div>
	
	{include file="elements/left_news.tpl.html"}
</div>

{include file="footer.tpl.html"}
