{include file="header.tpl.html"}

<script src="{$config.site_js}vento/jquery.add2cart.js?a=16" type="text/javascript"></script>

<div id="wrapper">
	<div id="textpage" class="view_product-text">
		<h1 class="textpage">{$productInfo.title}</h1>		
			<div class="textpage_content view-product">
				
				{if $success}<p class="success">{$success}</p>{/if}
				{if $error}<p class="error">{$error}</p>{/if}
				
				<table style="width:100%;">
					<tr>
						<td style="width: 50%; text-align: center;">
							<div class="product-image">
								<img id="product_air" border="0" alt="{$productInfo.title}" src="{$config.site_data}big/{$productInfo.picture}" />
							</div>
						</td>
						<td style="width: 50%;">
							<table style="border-collapse: collapse; margin-left:50px;">
								{if $productInfo.models}
									<tr>
										<td style="width:100px;"><b>Модел:</b></td>
										<td colspan="2" style="height:40px;">
											 <select name="idmodel" id="idmodel">
												<option value="0"> - Избери модел - </option>
												{foreach from=$productInfo.models key=k item=v}
													<option value="{$v.idmodel}" {if $v.main_price == 1}selected{/if}> - {$v.title}</option>
												{/foreach}
											</select>	
										</td>
									</tr>
								{/if}
								{if $productInfo.price_1}
									<tr>
										<td><b>Цена:</b></td>
										<td colspan="2" style="height:40px;">
											<span style="font-size:18px; color: #333; font-weight: bold;" id="priceProduct">{$productInfo.price_1|number_format:'2':'.':''} </span>лв.
										</td>
									</tr>
								{/if}
								
								<tr>
									<td><b>Продукта е:</b></td>
									<td colspan="2" style="height:20px;" id="nalichnostinfo">
										{if $productInfo.active == 2} <b style="color:green;">В наличност</b>
										{else if $productInfo.active == 3 || $productInfo.active == 1} <b style="color:red;">По заявка</b>
										{else}
											Спрян
										{/if}
									</td>
								</tr>
								{if $productInfo.prod_warranty >0}
									<tr>
										<td><b>Гаранция:</b></td>
										<td colspan="2" style="height:20px;">
											<b style="color:green;"> {$productInfo.prod_warranty} месеца</b>
										</td>
									</tr>
								{/if}
								<tr>
									<td colspan="3" style="position:relative; height:50px;">
										<div id="btnorderview" {if $productInfo.active != 2}style="display:none;"{/if}>
											<a id="shop_button" rel="{$productInfo.idproduct}" onClick="$.add2cart('product_air', 'cartprod')" title="Add to cart" href="javascript:void(0);">
												<span>Add to cart</span>
											</a>
										</div>
										
										<div id="btnreqview" {if $productInfo.active != 3 && $productInfo.active != 1}style="display:none;"{/if}>	
											<a href="javascript:void(0)" id="modal" class="sendRequestBtn">Направи заявка</a>
												
											<!-- modal content -->
					                  		<div id="modal_box">
						                    	<h3>Изпрати заявка</h3>
							                    <form action="" method="post" id="request">
							                      	<input type="text" name="name" value="" placeholder="Име" />
							                      	<input type="text" name="email" value="" placeholder="E-mail" />
							                      	<input type="text" name="phone" value="" placeholder="Телефон" />
							                      	<textarea name="message" placeholder="Съобщение"></textarea>
							                      	<input type="hidden" name="product_id_modal" value="{$productInfo.idproduct}" />
							                      	<input type="submit" name="send" value="Изпрати">
							                    </form>
							               	</div>
								       </div>
								       <!--
											{if $productInfo.active == 2}
												<br />
												<a id="shop_button" rel="{$productInfo.idproduct}" onClick="$.add2cart('product_air', 'cartprod')" title="Add to cart" href="javascript:void(0);">
													<span>Add to cart</span>
												</a>
											{else if $productInfo.active == 3 || $productInfo.active == 1}
												<a href="javascript:void(0)" id="modal" class="sendRequestBtn">Направи заявка</a>
											
						                  		<div id="modal_box">
							                    	<h3>Изпрати заявка</h3>
								                    <form action="" method="post" id="request">
								                      	<input type="text" name="name" value="" placeholder="Име" />
								                      	<input type="text" name="email" value="" placeholder="E-mail" />
								                      	<input type="text" name="phone" value="" placeholder="Телефон" />
								                      	<textarea name="message" placeholder="Съобщение"></textarea>
								                      	<input type="hidden" name="product_id_modal" value="{$productInfo.idproduct}" />
								                      	<input type="submit" name="send" value="Изпрати">
								                    </form>
								               	</div>
											{/if}
										-->
										<input type="hidden" name="idproduct" id="prodid" value="{$productInfo.idproduct}" />
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<br />			
										<div style="float:right; width:200px;">
											<div class="fb-like" data-href="http://vento-k.com/{$lang.lg}/{$facebook.link}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
										</div>
										<!-- Place this tag where you want the +1 button to render. -->
										<div style="float:right; width:70px;">
											<div class="g-plusone" data-size="medium"></div>					
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				
				<div style="clear: both;"></div>
					
				<div class="product-tabs">
					<div class="tabs">
						<a class="tabsBtn active" data-tab="tab-1" href="javascript:void(0);">Техническа спецификация</a>
						<a class="tabsBtn" data-tab="tab-2" href="javascript:void(0);" style="width:115px; padding-left:115px">Документи</a>
					</div>
					<div class="tabs-content">
						<div id="tab-1" class="content current" itemprop="description">
							<div class="sub_content">
								{$productInfo.info}
								
								{if $productInfo.powercold || $productInfo.powerhot || $productInfo.efcold || $productInfo.efhot || $productInfo.inverter}
									<br style="clear:both;" />
									<table style="border-collapse: collapse; width: 100%;">
										<tr>
											<td style="text-align: center; width: auto;"></td>
											<td style="width: 20px; text-align: right;">
												{if $productInfo.powercold}<img src="{$config.site_img}icons/Mitsu_Cool.jpg" title="Отдавана мощност на охлаждане" alt="" />{/if}
											</td>
											
											<td style="text-align: center; width: 50px;">{if $productInfo.powercold}{$productInfo.powercold} kW{/if}﻿</td>
											
											<td style="width: 20px; text-align: right;">
												{if $productInfo.powerhot}<img src="{$config.site_img}icons/Mitsu_Heat.jpg" title="Отдавана мощност на отопление" alt="" />{/if}
											</td>
											
											<td style="text-align: center; width: 50px;">{if $productInfo.powerhot}{$productInfo.powerhot} kW{/if}</td>
											
											<td style="text-align: center; width: 32px;">
												{if $config.efcold[$productInfo.efcold]}
													<img width="30" height="30" src="{$config.site_img}icons/efcold_{$productInfo.efcold}.jpg" title="{$config.efcold[$productInfo.efcold]}" alt="" />
												{/if}
											</td>
											
											<td style="text-align: center; width: 32px;">
												{if $config.efhot[$productInfo.efhot]}
													<img width="30" height="30" src="{$config.site_img}icons/efhot_{$productInfo.efhot}.jpg" title="{$config.efhot[$productInfo.efhot]}" alt="" />
												{/if}
											</td>
												
											<td style="text-align: center; width: 56px;">
												{if $config.inverter[$productInfo.inverter]}
													<img height="30" src="{$config.site_img}icons/invert_{$productInfo.inverter}.jpg" title="{$config.inverter[$productInfo.inverter]}" alt="" />
												{/if}
											</td>
											{if $config.eco[$productInfo.ecodesign]}
												<td style="text-align: center; width: 56px;">
													<img height="30" src="{$config.site_img}icons/eco_{$productInfo.ecodesign}.jpg" title="{$config.eco[$productInfo.ecodesign]}" alt="" />
												</td>
											{/if}
										</tr>
									</table>
																
								{/if}							
							</div>
							
							{if $productInfo.description}
																
								<strong>Технически характеристики</strong>
								<div class="sub_content editorTable">
									{$productInfo.description}
								</div>
							{/if}
						</div>
						<div id="tab-2" class="content" style="text-align:center;">
							<div class="sub_content">
								<table>
									{foreach from=$productInfo.documents key=k item=v}
										<tr>
											<td style="text-align: center; width:60px;">
												<a href="{$config.site_data}files/{$v.filename}" target="_blank">
													<img border="0" alt="" src="{$config.site_img}pdf-icon-download.png" width="60" />
												</a>
											</td>
											<td style="text-align: left;">
												<a href="{$config.site_data}files/{$v.filename}" target="_blank" style="font-size:14px; color:#000; font-weight: bold;">{$v.filetitle}</a>
											</td>
										</tr>
									{/foreach}
								</table>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="socials_box" style="margin-top:10px; border-top:1px solid #ccc; width: 100%; padding-top:10px;">
					<div style="float:left; width:100px;"><a href="javascript:history.back();"><b> &laquo; Назад</b></a></div> 
					<div style="float:right; width:200px;">
						<div class="fb-like" data-href="http://vento-k.com/{$lang.lg}/{$facebook.link}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					</div>
					<!-- Place this tag where you want the +1 button to render. -->
					<div style="float:right; width:70px;">
						<div class="g-plusone" data-size="medium"></div>					
					</div>
				</div>
				
			</div>
	</div>
	
	{include file="elements/left_menu.tpl.html"}
</div>
<div id="fb-root"></div>
{literal}

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&appId=824651267629422&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{/literal}

{literal}
	<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
	  window.___gcfg = {lang: 'bg'};

	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/platform.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
		
{/literal}
	
{include file="footer.tpl.html"}