{include file="header.tpl.html"}

<div id="wrapper">
	<div id="groups" class="">
		<h1 class="textpage">Търсене</h1>
		
		{if $listProducts}
			<div class="service_wrapper">
				{foreach from=$listProducts key=k item=v}
					<div class="service">
						<a class="center-link" href="{$config.site_url}{$lang.lg}/{$v.alias}-{$v.idproduct}" title="{$v.title}">
							<img src="{$config.site_data}thumb/{$v.picture}" alt="{$v.title}" border="0" width="100" />
						</a>
						<h1 class="specific"><a href="{$config.site_url}{$lang.lg}/{$v.alias}-{$v.idproduct}" title="{$v.title}">{$v.title}</a></h1>
					</div>
				{/foreach}
			</div>
			
			<div class="paging">
				{$paginate}
		   </div>
		{else}
			<p>Няма намерени продукти - <b>{$query}</b></p>
		{/if}	
	
	</div>
	{include file="elements/left_menu.tpl.html"}
</div>

{include file="footer.tpl.html"}