{include file="header.tpl.html"}
<section>
    <div class="path clear">
        <a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/users/browse">{$lang.menu_users}</a>
        <img src="{$config.site_img}path_step.png">
        <strong>
            {$data.page_title}
        </strong>
    </div><!--path-->

    {include file="message.tpl.html"}

    <div class="box box_table full_box">
        <div class="box_head">
            <h3 class="box_title">
                {$data.page_title}
            </h3>
        </div><!--box head-->

        <div class="box_conent">

            <form action="" method="post" class="table_form inline">

                <div class="filter" style="width:968px;">
                    <div>
                        <input type="text" value="{$data.search}" placeholder="{$lang.users_search_field}" name="search" class="input" style="width:830px" />
                        <input type="submit" class="submit bg_grey bg_grey_hover round3 frigt" value="{$lang.search}" />
                    </div>
                </div><!--filter-->	

                {if ($data.users)}

                <table cellspacing="1" cellpadding="0" border="0" width="960px" class="data-table">
                    <thead>
                        <tr class="dt_titles bg_black"> 
                            <td align="center" width="30px">ID</td>
                            <td>{$lang.users_username}</td>
                            <td>E-mail</td>
                            <td align="center" width="120px">{$lang.date_added}</td>
                            <td align="center" width="100px">IP</td>
                            <td align="center">{$lang.state}</td>
                            <td align="center" width="80px">{$lang.options}</td>
                        </tr>
                    </thead>					

                    <tbody>
                        {foreach $data.users as $user}
							<tr class="{if ($k % 2 == 0)}even{else}odd{/if}">
								<td align="center">{$user.iduser}</td>
								<td><a href="/users/edit/iduser/{$user.iduser}/">{$user.fullName|truncate:45:'...':'UTF-8'}</a></td>
								<td>{$user.email}</td>
								<td>{$user.date_added}</td>
								<td align="center">{$user.ip_added}</td>
								<td align="center">{if $user.active==1}
														<a href="#" class="fn" title="{$lang.active}"><img src="{$config.site_img}icons16x16/tick_16.png"></a>
													{else if $user.active==2}
														<a href="#" class="fn" title="{$lang.users_new_user}"><img src="{$config.site_img}icons16x16/users.png" /></a>
													{else}
														<a href="#" class="fn" title="{$lang.inactive}"><img src="{$config.site_img}icons16x16/red-mark.png" /></a>
													{/if}
								</td>
								<td align="center">
									<a class="fn display-block" title="{$lang.edit}" href="/users/edit/iduser/{$user.iduser}/">
										<img src="{$config.site_img}icons16x16/pencil_16.png">
									</a>
									{if $user.type != 'admin'}
										<a class="fn display-block" title="{$lang.delete}" href="javascript:;" onClick="confirmDeleteItem({$user.iduser}, '{$user.username}');">
											<img src="{$config.site_img}icons16x16/delete_16.png">
										</a>
									{/if}
								</td>
							</tr>
                        {/foreach}
                    </tbody>
                </table>

                {if ($data.pager)}
					<div class="pager">{$data.pager}</div>
                {/if}

                {else}
					<div id="nodata">
						{$lang.no_data_found}
					</div>
                {/if}

            </form><!--table form-->

        </div><!--box content-->                
    </div>
</section>

{include file="footer.tpl.html"}

<!-- Delete user -->
<div id="dialog-confirm" title="{$lang.users_delete_user}" style="padding-top: 20px; display: none;">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    <b>{$lang.users_confirm_delete} @<span id="remove_item_id"></span>?
</div>

<script>
    // Remove item popup
    function confirmDeleteItem(iduser, username){
        $("#remove_item_id").html(username);

        $( "#dialog-confirm" ).dialog({
            resizable: false,
            width:500,
            modal: true,
            buttons: {
                "Confirm": function() {
                    window.location.href = "/users/worker/type/delete-user/idtarget/"+iduser+"/";
                },
                "Cancel": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
        $('.ui-dialog :button').blur();
    }
</script>