{include file="header.tpl.html"}
<section>
	
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="{$config.site_url}users/browse	">{$lang.menu_users}</a>
        <img src="{$config.site_img}path_step.png">
		<strong>
			{$lang.users_edit_user}
		</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">
			{$user.fullName} (@{$user.username})
		</h1>
	</div>

	{include file="message.tpl.html"}
	
	<div class="sidebar fleft">

		<div class="box box_side_tabs">
			<ul class="side_tabs">
				<li><a href="{$config.site_url}users/edit/iduser/{$user.iduser}" class="current">{$lang.users_general_information}</a></li>
			</ul>
		</div><!--box-->
	
	</div><!--sidebar-->

	<div class="main frigt">

		<div class="box box_form">
			<div class="box_head move">
				<h3 class="box_title">{$lang.users_edit_user_profile}</h3>
			</div><!--box head-->
			
			<div class="box_conent">
				<form method="post" action="" enctype="multipart/form-data" class="form_3w">
				
					
					<ul class="form_list">
						<li>
							<label>{$lang.users_username}</label>
							<input type="text" name="username" class="input size_xl {if ($mark=='username')}border_red{/if}" value="{$user.username}" />
						</li>
						
						<li>
							<label>{$lang.users_password}</label>
							<input type="password" value="" name="password" class="input size_xl {if ($mark=='password')}border_red{/if}" />
						</li>
													
						<li>
							<label>Email</label>
							<input type="text" name="email" class="input size_xl {if ($mark=='email')}border_red{/if}" value="{$user.email}" />
						</li>
						
						<li>
							<label>{$lang.users_fullname}</label>
							<input type="text" name="fullName" class="input size_xl" value="{$user.fullName|escape}" />
						</li>
						
						<li>
							<label>{$lang.users_address}</label>
							<textarea name="address" class="t_editor size_xl fleft noclear marginleft10">{$user.address|escape}</textarea>
						</li>
						
						<li>
							<label>{$lang.users_city}</label>
							<input type="text" name="city" class="input size_xl" value="{$user.city|escape}" />
						</li>
						
						<li>
							<label>{$lang.users_phone}</label>
							<input type="text" name="phone" class="input size_xl" value="{$user.phone|escape}" />
						</li>
						
						<li>
							<label>{$lang.state}</label>
							<select name="active" class="select size_s">
								<option value="1" {if ($user.active=='1')} selected="selected"{/if}>Активен</option>
								<option value="0" {if ($user.active=='0')} selected="selected"{/if}>Неактивен</option>
								<option value="2" {if ($user.active=='2')} selected="selected"{/if}>Нов</option>
							</select>
						</li>
						
						<li>
							<label>{$lang.users_type}</label>
							<select disabled class="select size_s">
								<option value="admin" {if ($user.type=='admin')}selected="selected"{/if}>Administrator</option>
								<option value="user" {if ($user.type=='user')}selected="selected"{/if}>User</option>
							</select>
						</li>
					</ul>
									
					<div class="button_set">
						<input type="submit" name="submit" class="submit button bg_blue bg_blue_hover" value="{$lang.save}" />
					</div><!--button set-->

				</form>
				
			</div><!--box content-->
		</div><!--box-->
	</div><!--main-->
</section>

{include file="footer.tpl.html"}