{include file="header.tpl.html"}
<section>
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/news/browse">Новини</a>
        <img src="{$config.site_img}path_step.png">
		<strong>
			{$page_title}
		</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">
			{$page_title}
		</h1>
	</div>

	{include file="message.tpl.html"}
	
	<div class="sidebar fleft">

		<div class="box box_side_tabs">
			<ul class="side_tabs">
				<li><a href="javascript:void(0)" class="current">{$lang.users_general_information}</a></li>
			</ul>
		</div><!--box-->
	
	</div><!--sidebar-->

	<div class="main frigt">

		<div class="box box_form">
			<div class="box_head move">
				<h3 class="box_title">{$page_title}</h3>
			</div><!--box head-->
			
			<div class="box_conent">
				<form method="post" action="" enctype="multipart/form-data" class="form_3w">
				
					<ul class="form_list">
						<li>
							<label>Заглавие BG:</label>
							<input type="text" name="title_bg" class="input size_xl" value="" />
						</li>
					</ul>
					
						<div>
							<b>Описание BG: </b><br />
							<textarea name="content_bg" class="wysiwyg t_editor size_xl fleft noclear marginleft10"></textarea>
						</div>
			
					<ul class="form_list">	
						
						<li>
							<label>Дата</label>
							<input type="text" name="date_added" class="input size_s datepicker" value="" />
						</li>
												
						<li>
							<label>{$lang.state}</label>
							<select name="status" class="select size_s">
								<option value="active">Активна</option>
								<option value="inactive">Не активна</option>
							</select>
						</li>
					</ul>
									
					<div class="button_set">
						<input type="submit" name="submit" class="submit button bg_blue bg_blue_hover" value="Добави" />
					</div><!--button set-->

				</form>
				
			</div><!--box content-->
		</div><!--box-->
	</div><!--main-->
</section>
{include file="footer.tpl.html"}