{include file="header.tpl.html"}
<section>
    <div class="path clear">
        <a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/news/browse">Новини</a>
        <img src="{$config.site_img}path_step.png">
        <strong>
            {$page_title}
        </strong>
    </div><!--path-->

    {include file="message.tpl.html"}

    <div class="box box_table full_box">
        <div class="box_head">
            <h3 class="box_title">
                {$page_title}
            </h3>
        </div><!--box head-->

        <div class="box_conent">

            <form action="/news/browse" method="post" class="table_form inline">

                <div class="filter" style="width:968px;">
                    <div>
                        <input type="text" value="{$search}" placeholder="Търсете по име" name="search" class="input" style="width:830px" />
                        <input type="submit" class="submit bg_grey bg_grey_hover round3 frigt" value="{$lang.search}" />
                    </div>
                </div><!--filter-->	

                {if ($news)}

                <table cellspacing="1" cellpadding="0" border="0" width="960px" class="data-table">
                    <thead>
                        <tr class="dt_titles bg_black"> 
                            <td align="center" width="30">ID</td>
							<td width="80">{$lang.picture}</td>
							<td>Заглавие</td>
							<td width="130">Дата</td>
                            <td align="center" width="100">{$lang.options}</td>
                        </tr>
                    </thead>					

                    <tbody>
                        {foreach $news as $k=>$product}
							<tr class="{if ($k % 2 == 0)}even{else}odd{/if}">
								<td align="center">{$product.idnews}</td>
								<td>{if $product.picture}<img src="{$config.site_data}news/thumb/{$product.picture}" width="80" />{/if}</td>
								<td><a href="/news/edit/type/{$typePage}/idnews/{$product.idnews}/">{$product.title_bg}</a></td>
								<td>{$product.date_added}</td>
								<td align="center">
									{if $product.status == 'active'}
										<a class="fn display-block" title="Активна" href="javascript:void(0)"><img src="{$config.site_img}icons16x16/tick_16.png" /></a>
									{else}
										<a class="fn display-block" title="Неактивна" href="javascript:void(0)"><img src="{$config.site_img}icons16x16/red-mark.png" /></a>
									{/if}
									
									{if $product.topNews == 'yes'}
										<a class="fn display-block" title="Топ новина" href="javascript:void(0)"><img src="{$config.site_img}icons16x16/topicon.png" /></a>
									{/if}
								
									<a class="fn display-block size-16" title="{$lang.edit}" href="/news/edit/idnews/{$product.idnews}/">
										<img src="{$config.site_img}icons16x16/pencil_16.png">
									</a>
									<a class="fn display-block size-16" title="{$lang.delete}" href="javascript:;" onClick="confirmDeleteItem({$product.idnews}, '{$product.title_bg}');">
										<img src="{$config.site_img}icons16x16/delete_16.png">
									</a>								
								</td>
							</tr>							
                        {/foreach}
                    </tbody>
                </table>

                {if ($pager)}
					<div class="pager">{$pager}</div>
                {/if}

                {else}
					<div id="nodata">
						{$lang.no_data_found}
					</div>
                {/if}

            </form><!--table form-->

        </div><!--box content-->                
    </div>
</section>

{include file="footer.tpl.html"}

<!-- Delete user -->
<div id="dialog-confirm" title="Изтриване на продукт" style="padding-top: 20px; display: none;">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    <b>Сигурни ли сте, че искате да изтриете <span id="remove_item_id" style="color:red;"></span>?
</div>

<script>
    // Remove item popup
    function confirmDeleteItem(idnews, username){
        $("#remove_item_id").html(username);

        $( "#dialog-confirm" ).dialog({
            resizable: false,
            width:500,
            modal: true,
            buttons: {
                "Confirm": function() {
                    window.location.href = "/news/worker/type/delete-news/idtarget/"+idnews+"/";
                },
                "Cancel": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
        $('.ui-dialog :button').blur();
    }
</script>