{include file="header.tpl.html"}
<section>
	<div class="path clear">
		<a href="{$config.site_url}">{$lang.menu_home}</a>
        <img src="{$config.site_img}path_step.png">
        <a href="/news/browse">Новини</a>
        <img src="{$config.site_img}path_step.png">
		<strong>{$page_title}</strong>
	</div><!--path-->

	<div class="page_title fleft clear bg_light round3">
		<h1 class="fleft">{$page_title}</h1>
	</div>

	{include file="message.tpl.html"}
	
	<div class="sidebar fleft">

		<div class="box box_side_tabs">
			<ul class="side_tabs">			
				<li><a href="{$config.site_url}news/edit/idnews/{$news.idnews}" >{$lang.users_general_information} BG</a></li>
				<li><a href="{$config.site_url}news/editlang/idnews/{$news.idnews}/langsel/en">{$lang.users_general_information} EN:</a></li>
				<li><a href="{$config.site_url}news/editlang/idnews/{$news.idnews}/langsel/fr">{$lang.users_general_information} FR:</a></li>
				<li><a href="{$config.site_url}news/editPicture/idnews/{$news.idnews}" class="current">Снимки</a></li>
				<li><a href="{$config.site_url}news/editMeta/idnews/{$news.idnews}">Мета данни</a></li>
			</ul>
		</div><!--box-->
	
	</div><!--sidebar-->

	<div class="main frigt">

		<div class="box box_form">
			<div class="box_head move">
				<h3 class="box_title">{$page_title}</h3>
			</div><!--box head-->
			
			<div class="box_conent">
							
					<form name="add_picture" method="post" enctype="multipart/form-data">
						<br /><br />
						<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
							<tr>
								<th>Избери снимка: &nbsp;&nbsp;</th>
								<td>
									<input id="file_upload_new" name="file_upload" type="file" />
									<input type="hidden" id="img_path" value="{$config.site_data}" />
									
									<input type="hidden" id="min_width" value="350" />
									<input type="hidden" id="min_height" value="216" />
								</td>
								<td></td>
							</tr>
						</table>
					</form>
					<div id="loadCrop" style="display:none;">
						<div class="cropScreen">
							<h3 style="text-align:center; margin-bottom:0;">Изрязване</h3>
							<div style="float:left; margin-top:10px;" id="crop_img"></div>
							<div style="width:380px; float:left; margin:10px 0 0 20px;">
								<span style="width:30px; margin:0; padding:0;">Визуализация:</span><br />
								<div style="width:350px; height:216px; overflow:hidden;" id="preview_img"></div><br />
								<input type="button" name="crop" onClick="document.cropimg.submit();" value="Crop" />
							</div>
							<br style="clear:both;"/>
							<form name="cropimg" method="post" action="{$config.site_url}upload.php" enctype="multipart/form-data" onsubmit="return checkCoords();">
								<input type="hidden" id="x" name="x" />
								<input type="hidden" id="y" name="y" />
								<input type="hidden" id="w" name="w" />
								<input type="hidden" id="h" name="h" />
								<input type="hidden" id="ww" name="ww" />
								<input type="hidden" id="hh" name="hh" />
								<input type="hidden" name="img_path" id="image_path" value="" />
								<input type="hidden" name="news_id" id="news_id" value="{$news.idnews}" />
								<input type="hidden" name="crop" value="9" />
							</form>
						</div>
					</div>
					
					<br /><br />
					<div>
						{foreach from=$pictures key=k item=picture}
							<div style="float:left; text-align:center; margin-right:10px;">
								<img src="{$config.site_data}news/thumb/{$picture.picture}" width="150" alt="" border="0" /><br />
								<a href="{$config.site_url}news/worker/type/delete-picture/idtarget/{$news.idnews}/idpicture/{$picture.idpicture}" onclick="return confirm('Сигурни ли сте, че искате да изтриете?')" title="Изтриване" class="icon-2 info-tooltip"></a>
								<a href="javascript:void(0);" onclick="return makeTop('{$picture.picture}', {$news.idnews}, {$k}, 'news');" title="Главна Снимка" class="icon-3 info-tooltip {if $news.picture == $picture.picture}selected{/if}" id="topim_{$k}"></a>
							</div>
						{/foreach}
					</div>
			</div><!--box content-->
		</div><!--box-->
	</div><!--main-->
</section>

{include file="footer.tpl.html"}