{include file="header.tpl.html"}

<div id="content" class="clearfix">
		
	<div class="fullwidth clearfix">

		<div class="breadcrumb clearfix">
			<ul class="breadcrumb_nav">
				<li><a href="{$config.site_url}{$lang.lg}">{$lang.home}</a></li>
				<li class="separator">›</li>
				<li><span>{$lang.login_title}</span></li>
			</ul>
		</div>

		<h1>{$lang.login_title}</h1>
		<div class="left_box">
			<h2 class="simple">{$lang.login_new_user}</h2>
			<p>{$lang.login_reg_magazin}:</p>
			<ul>
				{$lang.login_info_data}
			</ul>

			<a href="{$config.site_url}{$lang.lg}/index/register">{$lang.login_register}</a>
		</div>
		<div class="right_box">
			<h2 class="simple">{$lang.login_vlezte_v_akaunta}</h2>
			{include file="message.tpl.html"}
			<form id="enter" name="enter" action="" method="post">
				<div class="row clearfix">
					<label for="pemail">Email: <span class="required">*</span></label>
					<input type="text" name="login" id="pemail" value="" />
				</div>
				<div class="row clearfix">
					<label for="pass">{$lang.password}: <span class="required">*</span></label>
					<input type="password" name="password" value="" id="pass" />
				</div>
				<div class="row clearfix">
					<label for="remid">{$lang.login_remember_me}:</label>
					<input type="checkbox" name="remember" id="remid" />
				</div>
				
				<input type="submit" value="{$lang.login_vhod_btn}" name="enter_btn" id="enter_btn" />
				<a href="{$config.site_url}{$lang.lg}/index/forgotpass">{$lang.login_forgot_password}</a>
			</form>
		</div>

	</div><!-- fullwidth -->
		
</div><!-- content -->
{include file="footer.tpl.html"}