{include file="header.tpl.html"}

<div id="content" class="clearfix">
		
	<div class="fullwidth clearfix">

		<div class="breadcrumb clearfix">
			<ul class="breadcrumb_nav">
				<li><a href="{$config.site_url}{$lang.lg}/">{$lang.home}</a></li>
				<li class="separator">›</li>
				<li><span>{$lang.login_forgot_password}</span></li>
			</ul>
		</div>

		<h1>{$lang.login_forgot_password}</h1>
		<div class="left_box" style="border-right:none; width:60%;">
			{include file="message.tpl.html"}
			<h2 class="simple">{$lang.login_pass_email}</h2>
			<form id="enter" name="enter" action="{$config.site_url}{$lang.lg}/index/forgotpass" method="post">
				<div class="row clearfix">
					<label for="pemail">Email: <span class="required">*</span></label>
					<input type="text" name="email" value="" />
				</div>
				<input type="submit" value="Send" name="enter_btn" id="enter_btn" />
				<a href="{$config.site_url}{$lang.lg}/index/login">{$lang.login_vhod_btn}</a>
			</form>
		</div>		
		
	</div>
</div>	

{include file="footer.tpl.html"}