{include file="header.tpl.html"}

	<div id="content" class="clearfix">
		
		<div class="fullwidth clearfix">

			<div class="breadcrumb clearfix">
				<ul class="breadcrumb_nav">
					<li><a href="{$config.site_url}{$lang.lg}/">{$lang.home}</a></li>
					<li class="separator">›</li>
					<li><span>Профил</span></li>
				</ul>
			</div>
			
			<h1>{$lang.profile_edit_title}</h1>

			{include file="message.tpl.html"}
			
			<form id="registration" name="registration" action="{$config.site_url}{$lang.lg}/index/profile" method="post">
				<fieldset>
					<legend>{$lang.profile_info_title}:</legend>
					
					<div class="row clearfix">
						<label for="pemail">Email:</label>
						<input type="text" name="" id="" value="{$smarty.session.user.email}" style="border:none; font-weight:bold;" disabled="disabled" />
					</div>
					
					<small>{$lang.profile_change_pass}</small>
					<div class="row clearfix">
						<label for="pass">Password:</label>
						<input type="password" name="password" id="pass" />
					</div>
				</fieldset>

				<fieldset>
					<legend>{$lang.profile_address}:</legend>
					<strong>{$lang.profile_address_title}</strong>
					<div class="row clearfix">
						<label for="fname">{$lang.profile_name}:</label>
						<input type="text" name="first_name" id="fname" value="{$smarty.session.user.first_name|escape}" />
					</div>
					<div class="row clearfix">
						<label for="lname">{$lang.profile_second}:</label>
						<input type="text" name="second_name" id="lname" value="{$smarty.session.user.second_name|escape}" />
					</div>
					<div class="row clearfix">
						<label for="phone">{$lang.profile_phone}:</label>
						<input type="text" name="phone" id="phone" value="{$smarty.session.user.phone}" />
					</div>
					<div class="row clearfix">
						<label for="business">{$lang.profile_firma}:</label>
						<input type="text" name="firma" id="business" value="{$smarty.session.user.firma|escape}" />
					</div>
					<div class="row clearfix">
						<label for="vat">{$lang.profile_dds}:</label>
						<input type="text" name="firma_dds" id="vat" value="{$smarty.session.user.firma_dds}" />
					</div>

					<strong>{$lang.profile_address_contact}</strong>
					<div class="row clearfix">
						<label for="country">Country:</label>
						<select id="country" name="country">
							{foreach from=$lang.location key=k item=v}
								<option value="{$k}" {if $smarty.session.user.country == $k}selected{/if}>{$v}</option>
							{/foreach}
						</select>
					</div>
					
					<div class="row clearfix">
						<label for="city">City: <span class="required">*</span></label>
						<input type="text" name="city" id="city" value="{$smarty.session.user.city|escape}" />
					</div>
					<div class="row clearfix">
						<label for="zip_code">Post code: <span class="required">*</span></label>
						<input type="text" name="post_code" id="zip_code" value="{$smarty.session.user.post_code}" />
					</div>
					<div class="row clearfix">
						<label for="address">{$lang.register_address}: <span class="required">*</span></label>
						<input type="text" name="address" id="address" value="{$smarty.session.user.address|escape}" />
					</div>
				</fieldset>
{*
				<fieldset>
					<legend>Бюлетини:</legend>
					<div class="row check">
						<input type="checkbox" name="bulletin" id="bulletin" value="1" {if $smarty.session.user.bulletin==1}checked="checked"{/if} />
						<label for="bulletin"> Желая да се абонирам за бюлетина на Diveinstinct.com</label>
					</div>
				</fieldset>
*}
				<input type="submit" value="Save" name="registration" />
			</form>

		</div><!-- fullwidth -->
			
	</div><!-- content -->
{include file="footer.tpl.html"}