{include file="header.tpl.html"}

	<div id="content" class="clearfix">
		
		<div class="fullwidth clearfix">

			<div class="breadcrumb clearfix">
				<ul class="breadcrumb_nav">
					<li><a href="{$config.site_url}{$lang.lg}/">{$lang.home}</a></li>
					<li class="separator">&raquo;</li>
					<li><span>{$lang.registracia}</span></li>
				</ul>
			</div>
			
			<h1>{$lang.registracia}</h1>

			{include file="message.tpl.html"}
			
			<form id="registration" name="registration" action="{$config.site_url}{$lang.lg}/index/register" method="post">
				
				<fieldset>
					<legend>Become a Member!</legend>
					<div class="row clearfix">
						<span style="font-size:16px;">Join Our Dive Community, discover benefits:</span>
						<ul class="new_ul_format clearfix" style="margin-top:10px;">
							<li>Register, become a member and get Your Special Prices<br /> 
							<i>(except discounts and monthly special offers)</i> </li>
							<li>Speed your way through checkout </li>
							<li>Keep a record of all your purchases </li>
							<li>Instant access to your account </li>
							<li>Make secure payments</li>
						</ul>	
					</div>
				</fieldset>
				
				<fieldset>
					<legend>{$lang.user_info_data}:</legend>
					<small>{$lang.info_text_require}</small>
					<div class="row clearfix">
						<label for="pemail">Email: <span class="required">*</span></label>
						<input type="text" name="email" id="pemail" value="{$post_data.email}" />
					</div>
					<div class="row clearfix">
						<label for="pass">{$lang.password}: <span class="required">*</span></label>
						<input type="password" name="password" id="pass" />
					</div>
					<div class="row clearfix">
						<label for="repass">{$lang.password_repeat}: <span class="required">*</span></label>
						<input type="password" name="password_repeat" id="repass" />
					</div>
				</fieldset>

				<fieldset>
					<legend>{$lang.adress_za_kontakt}:</legend>
					<strong>{$lang.kontakt_info}</strong>
					<div class="row clearfix">
						<label for="fname">{$lang.register_name}: <span class="required">*</span></label>
						<input type="text" name="first_name" id="fname" value="{$post_data.first_name}" />
					</div>
					<div class="row clearfix">
						<label for="lname">{$lang.register_name_second}: <span class="required">*</span></label>
						<input type="text" name="second_name" id="lname" value="{$post_data.second_name}" />
					</div>
					<div class="row clearfix">
						<label for="phone">{$lang.register_phone}: <span class="required">*</span></label>
						<input type="text" name="phone" id="phone" value="{$post_data.phone}" />
					</div>
					<div class="row clearfix">
						<label for="business">{$lang.register_firma}:</label>
						<input type="text" name="firma" id="business" value="{$post_data.firma}" />
					</div>
					<div class="row clearfix">
						<label for="vat">{$lang.register_dds}:</label>
						<input type="text" name="firma_dds" id="vat" value="{$post_data.firma_dds}" />
					</div>

					<strong>{$lang.register_address_info}</strong>
					<div class="row clearfix">
						<label for="country">{$lang.register_country}: <span class="required">*</span></label>
						<select id="country" name="country">
							{foreach from=$lang.location key=k item=v}
								<option value="{$k}" {if $k == 'bg'}selected{/if}>{$v}</option>
							{/foreach}
						</select>
					</div>
					
					<div class="row clearfix">
						<label for="city">{$lang.register_city}: <span class="required">*</span></label>
						<input type="text" name="city" id="city" value="{$post_data.city}" />
					</div>
					<div class="row clearfix">
						<label for="zip_code">{$lang.register_code}: <span class="required">*</span></label>
						<input type="text" name="post_code" id="zip_code" value="{$post_data.post_code}" />
					</div>
					<div class="row clearfix">
						<label for="address">{$lang.register_address}: <span class="required">*</span></label>
						<input type="text" name="address" id="address" value="{$post_data.address}" />
					</div>
					
					<div class="row clearfix">
						<label for="pass">{$lang.contact_security}: <span class="required">*</span></label>
						<input type="text" id="security_code" class="t_field1" name="security_code" style="width:100px; float:left; margin-left:80px; margin-right:10px;" maxlength="5" />
						<img src="{$config.site_url}library/packages/Captcha/CaptchaSecurityImages.php?width=100&height=40&characters=5"  />
					</div>
				</fieldset>
				{*
				<fieldset>
					<legend>{$lang.register_buletin}:</legend>
					<div class="row check">
						<input type="checkbox" name="bulletin" id="bulletin" value="1" />
						<label for="bulletin"> {$lang.register_abonament}</label>
					</div>
				</fieldset>
				*}
				<input type="button" value="{$lang.register_btn}" name="registration" id="registrationBtn" />
			</form>

		</div><!-- fullwidth -->
			
	</div><!-- content -->
{include file="footer.tpl.html"}