{include file="header.tpl.html"}
<section>
	<div class="container">
		<h3 class="h3Margin">{$lang.contact_men}</h3>
		<div class="row mb-5">
			<div class="col-lg-6 col-md-4 col-sm-12">
				<b>{$lang.contact_name}:</b> {$lang.avt_name}<br /><br />
				<b>{$lang.contact_phone}:</b> +359 884 90 67 21,<br /> +359 889 44 44 26<br /><br />
				<b>Email:</b> evinarts@gmail.com, evin@evinarts.com <br /><br />
				<strong>{$lang.forder_address}:</strong> {$lang.contact_address_info}				
			</div>
			<div class="col-lg-6 col-md-8 col-sm-12">
				<strong>{$lang.map}:</strong><br /><br />
				<div class="map_wrap">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.3776644258387!2d23.347301615755676!3d42.695723421829285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8584c0ea1701%3A0x2f2a5d2e45396c43!2z0YPQuy4g4oCe0JDQu9C10LrQviDQmtC-0L3RgdGC0LDQvdGC0LjQvdC-0LLigJwgMzUsIDE1MDUg0J7QsdC-0YDQuNGJ0LUsINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1566188330506!5m2!1sbg!2sbg" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>

{include file="footer.tpl.html"}