{include file="header.tpl.html"}

<div id="wrapper">
	<div id="textpage" class="faq-text">
		<h1 class="textpage">Често задавани въпроси</h1>
		<div class="textpage_content">
			{foreach from=$listFaq key=k item=v}	
				<p><strong>{$v.title}</strong><br />{$v.content|nl2br}</p>
				<br />
			{/foreach}
		</div>
	</div>
	
	{include file="elements/left_news.tpl.html"}
</div>


{include file="footer.tpl.html"}