{include file="header.tpl.html"}

<section>
	<div class="container">
		<h3 class="h3Margin">{$pageInfo.title}</h3>
		<div class="newsbox">
			{$pageInfo.content}
		</div>
	</div>
</section>

{include file="footer.tpl.html"}