{include file="header.tpl.html"}

<section>
	<div class="container">
		<h3 class="h3Margin">{$lang.sitemap}</h3>
		<div class="newsbox sitemap">
			{$htmlSiteMap}
			<br /><br />
		</div>
	</div>
</section>

{include file="footer.tpl.html"}