<section id="sidebar">
	{if $page =='view post' || $page == 'edit post'}
		<div class="post-control">
			<ul>
				<li><a class="badge-fast-entry badge-prev-post-entry {if $prevPost.idpost}blue{else}disabled{/if}" href="{if $prevPost.url}{$prevPost.url}{else}#{/if}">« {$lang.before}</a></li>
				<li><a class="badge-fast-entry badge-next-post-entry {if $nextPost.idpost}blue{else}disabled{/if}" href="{if $nextPost.url}{$nextPost.url}{else}#{/if}">{$lang.next} »</a></li>
			</ul>
		</div>
		
		{if (!empty($neighbourPosts))}
			<div class="post-grid">
				<ul class="badge-post-grid">
					{foreach from=$neighbourPosts item=neighbourPost}
						<li>
							<a class="badge-fast-entry badge-post-grid-entry {if ($neighbourPost.idpost == $post.idpost)}selected{/if}" href="{$neighbourPost.url}">
								{if ($neighbourPost.type == 'video')}
									{if $neighbourPost.embed.thumb}
										<img src="{$neighbourPost.embed.thumb}" alt="{$neighbourPost.title}"/>
									{else}
										<img src="{$config.site_img}no_photo_icon.png" />
									{/if}
								{else}								
									<img src="{$config.site_data}photo/{$neighbourPost.picture}_92x92.{$neighbourPost.picture_type}" alt="{$neighbourPost.title}"/>
								{/if}
							</a>
						</li>
					{/foreach}
				</ul>
			</div>
		{/if}
	{/if}
	
	{if $page == 'userPosts' || $page == 'userLikes' || $page == 'userAlbums' || $page == 'userFavorites' || $page == 'browseAlbum' || $page == 'edit album'}
		<section class="member-profile">
			<div class="user-info">
				<h3>{$user.username}</h3>
				{if $user.biography}<p>{$user.biography}</p>{/if}
				{if $user.location}<span><b>{$lang.interface_country}</b> {$lang.location[$user.location]}</span>{/if}
			</div>
			
			<div class="user-img">
				{include file="elements/user_avatar.tpl.html" size="80"}
				<ul>
					{if $user.facebook}<li><a target="_blank" href="{$user.facebook}"><img src="{$config.site_img}ficon.png" width="24" border="0" alt="Follow Facebook" /></a></li>{/if}
					{if $user.twitter}<li><a target="_blank" href="{$user.twitter}"><img src="{$config.site_img}ticon.png" width="24" border="0" alt="Twitter" /></a></li>{/if}
					{if $user.pinterest}<li><a target="_blank" href="{$user.pinterest}"><img src="{$config.site_img}picon.png" width="24" border="0" alt="Pinterest" /></a></li>{/if}
					{if $user.instagram}<li><a target="_blank" href="{$user.instagram}" class="icon-instagram"></a></li>{/if}
					{if $user.youtube}<li><a target="_blank" href="{$user.youtube}"><img src="{$config.site_img}yicon.png" width="24" border="0" alt="Youtube" /></a></li>{/if}
					{if $user.website}<li><a target="_blank" href="{$user.website}"><img src="{$config.site_img}licon.png" width="24" border="0" alt="Website" /></a></li>{/if}
				</ul>
			</div>
			<div class="clearfix"></div>
		</section>
	{/if}
	
	{if $page == 'view post'}
		<section class="member-profile-box">
			<div class="member-profile-header">{$lang.interface_photo_information}</div>
			<div style="padding:0 5px;">
			<table>
				<tr>
					<td width="90">{$lang.interface_uploaded_by}</td>
					<td><b>
						{if ($post.iduser != 0)}
							<a href="{$config.site_url}{$post.username}">{$post.username}</a>
						{else}
							{$lang.interface_activity_guest}
						{/if}
						</b>
					</td>
				</tr>
				<tr>
					<td>{$lang.interface_date_added}</td>
					<td><b>{$post.date_added|time_ago|charreplacer}</b></td>
				</tr>
				<tr>
					<td style="border-bottom:none;">{$lang.interface_elements_views}</td>
					<td style="border-bottom:none;"><b>{$post.total_views|charreplacer}</b></td>
				</tr>
			</table>
			</div>
		</section>
	{/if}
	
	{include file="modules/edit_photo.tpl.html"}
	{include file="modules/edit_album.tpl.html"}
	
	<section class="badge-block-ad block-ad">
		<div id="social_sticky">
			<br />
			<section class="get-the-app">
				<h2 class="sidebar-title">{$lang.interface_sidebar_follow}</h2>
				<ul>
					<li><a target="_blank" href=""><img src="{$config.site_img}ficon.png" width="32" height="32" border="0" alt="Follow Facebook" /></a></li>
					<li><a target="_blank" href=""><img src="{$config.site_img}gicon.png" width="32" height="32" border="0" alt="Google" /></a></li>
					<li><a target="_blank" href=""><img src="{$config.site_img}picon.png" width="32" height="32" border="0" alt="Pinterest" /></a></li>
					<li class="rss-icon"><a target="_blank" href=""><img src="{$config.site_img}rss.png" width="32" height="32" border="0" alt="RSS" /></a></li>
				</ul>
				<br />
				<h2 class="sidebar-title">{$lang.interface_sidebar_get_the_apps}</h2>
				<ul>		
					<li><a class="app-store" target="_blank" href="">{$lang.interface_sidebar_download_iapps}</a></li>
					<li><a class="google-play" target="_blank" href="">{$lang.interface_sidebar_google_play}</a></li>
				</ul>
			</section>
		</div>
		<div class="img-container">
			<!-- sidebar1-300x250-atf --> 
			<div class="s-300" style="width:300px; height:250px;"> 
				<img src="{$config.site_img}ads.png" />
			</div>    
		</div>
	</section>
	
	{if $hotPosts}
		<section class="thumb-list">
			<h2 class="sidebar-title">{$lang.interface_sidebar_hot_no_namakdoon}</h2>
			
			{foreach from=$hotPosts item=hotPost}
				<article>
					<a href="{$hotPost.url}" title="{$hotPost.title}">
						<div class="info">
							<h3>{$hotPost.title}</h3>
						</div>
						<div class="image-container">
							{if $hotPost.type == 'video'}
								{if $hotPost.embed.thumb}
									<img src="{$hotPost.embed.thumb}" alt="{$hotPost.title}" />
									<span class="play-btn"></span>
								{else}
									<img src="{$config.site_img}no_photo_icon.png" />
								{/if}
							{else}	
								<img src="{$config.site_data}photo/{$hotPost.picture}_220x145.{$hotPost.picture_type}" alt="{$hotPost.title}"/>
							{/if}
						</div>
					</a>
				</article>
			{/foreach}
		</section>
	{/if}
	
	{if ($page == 'home' || $page == 'browse' || $page == 'hot' || $page == 'new' || $page == 'userPosts' || $page == 'userLikes' || $page == 'userAlbums' || $page == 'browseAlbum' || $page == 'userFavorites' || $page == 'myActivity')}
		
		<section class="footer">
			<div class="buttons-area" style="display: none;">
				<a class="badge-scroll-to-top back-to-top" href="javascript:;">{$lang.back_to_top}</a>
			</div>
			
			<p class="static">
				<a href="{$config.site_url}pages/view/about">{$lang.interface_footer_aboutus} &middot; </a>
				<a href="{$config.site_url}pages/view/privacy">{$lang.interface_footer_privacy_policy} &middot; </a>
				<a href="{$config.site_url}pages/view/terms">{$lang.interface_footer_terms} &middot; </a>
				<a href="{$config.site_url}index/contactus">{$lang.interface_footer_contactus} &middot; </a>
				
				{if ($lang.language == 'English')}
					<a href="{$config.site_url}index/changelanguage/language/farsi/" lang="fa">فارسی</a>
				{else}
					<a href="{$config.site_url}index/changelanguage/language/english/">english</a>
				{/if}
			</p>
		</section>
	{/if}
</section>