{include file="header.tpl.html"}

<section>
	<div class="container">
		<h4>{$lang.error_interface_404_title}</h4>
		<p class="txtItalic">{$lang.error_interface_404_message}</p>
		<p><a href="{$config.site_url}" style="font-weight: bold;">{$lang.interface_return_to_homepage}</a></p>
	</div>
</section>

{include file="footer.tpl.html"}